<md-sidenav class="md-sidenav-right full_height" style="min-width: 620px" md-is-open="isSidenavOpen" md-component-id="right_log_details">
    <md-content>
        <div class="modal_content modal_sale_details">
            <div class="your_profile__title">
                <span ng-click="$ctrl.close('right_log_details')">Back to Sales Overview</span>
                <div class="your_profile_close" ng-click="$ctrl.close('right_log_details')"></div>
            </div>
            <div class="your_profile__title">
                Detailed Log

            </div>
            <table class="events_admin__table detailed_log_table">
                <thead class="events_admin__table_header detailed_log_table_header">
                <tr>
                    <th>Date</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody class="events_admin__table_body detailed_log_table_body">
                <tr>
                    <td class="detailed_log_table_td">13 Aug, 10:23:12</td>
                    <td class="detailed_log_table_td">Austin Vargas</td>
                    <td class="detailed_log_table_td">BID – 00f2re4</td>
                    <td class="detailed_log_table_td">Created at $500 @ 1.03</td>
                </tr>
                <tr>
                    <td class="detailed_log_table_td">13 Aug, 10:23:12</td>
                    <td class="detailed_log_table_td">Austin Vargas</td>
                    <td class="detailed_log_table_td">BID – 00f2re4</td>
                    <td class="detailed_log_table_td">Created at $500 @ 1.03</td>
                </tr>
                <tr>
                    <td class="detailed_log_table_td">13 Aug, 10:23:12</td>
                    <td class="detailed_log_table_td">Austin Vargas</td>
                    <td class="detailed_log_table_td">BID – 00f2re4</td>
                    <td class="detailed_log_table_td">Created at $500 @ 1.03</td>
                </tr>
                <tr>
                    <td class="detailed_log_table_td">13 Aug, 10:23:12</td>
                    <td class="detailed_log_table_td">Austin Vargas</td>
                    <td class="detailed_log_table_td">BID – 00f2re4</td>
                    <td class="detailed_log_table_td">Created at $500 @ 1.03</td>
                </tr>
                <tr>
                    <td class="detailed_log_table_td">13 Aug, 10:23:12</td>
                    <td class="detailed_log_table_td">Austin Vargas</td>
                    <td class="detailed_log_table_td">BID – 00f2re4</td>
                    <td class="detailed_log_table_td">Created at $500 @ 1.03</td>
                </tr>

                </tbody>
            </table>

        </div>

    </md-content>
</md-sidenav>
