<md-sidenav class="md-sidenav-right full_height full_height__sidnav" style="position: fixed !important;"
            md-is-open="isSidenavOpen"
            md-component-id="right_manage">
    <md-content class="place_wrapper place_wrapper__sale">
            <div class="my_sale__header">
                <div class="header_modal">
                    <div class="header_close" ng-click="$ctrl.close('right_manage')"></div>
                    <div class="header_title">My sale</div>
                    <div class="header_filter_empty"></div>
                </div>
                <div class="binds-item__game_info card__event_info">
                    <div class="event_card_title">MILLIONS Russia, 1A</div>
                    <div class="geme__text card__event_info_item">
                        <div class="card__event_info_attr">
                            Buy in $5,000 + $300
                        </div>
                    </div>
                    <div class="event_card_fund ng-binding">£ 1000000 GTD • £ 500000 GTD</div>

                    <div class="card__attribute manage_sale_atr">
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Closes in</span>
                            <span class="card__attribute_value ng-binding">73 days</span>
                        </div>
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Share sold</span>
                            <span class="card__attribute_value">5%</span>
                        </div>
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Amount raised</span>
                            <span class="card__attribute_value ng-binding">$1892</span>
                        </div>

                    </div>
                    <div class="card__attribute manage_sale_atr manage_sale_atr__yellow">
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Markup</span>

                            <input type="number" placeholder="1.00">
                        </div>
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Share</span>

                            <input type="number" placeholder="1.38%">
                        </div>
                        <div class="sale_card_list_atr_item manage_sale_atr_item">
                            <span>Value</span>

                            <input type="number" placeholder="$1938">
                        </div>
                        <div class="sale-manage__attributes__edit"
                             ng-if="!$ctrl._opts.stateCreate"
                             ng-click="$ctrl.setState()">
                            <button class="sale-manage__attributes__btn"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my_sale__content">
                <div class="modal_type_bids" ng-if="$ctrl.sale.bids.length > 0">
                    <div class="blocks_header_title_name">
                        HIGHEST BIDS
                    </div>

                    <div class="modal_type_bids_type" ng-repeat="bid in $ctrl.sale.bids | filter:{status:3} | orderBy:'-markup'">
                        <div class="modal_type_bids__item modal_bids_item_color_highest"
                             ng-bind="bid.markup"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_highest"
                             ng-bind="bid.share"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_highest">
                            <div ng-bind="bid.amount">$1,182.22</div>
                            <div></div>
                        </div>
                </div>

                <!--<div class="modal_type_bids">
                    <div class="blocks_header_title_name" ng-if="$ctrl.sale.bids.lengh > 0">
                        HIGHEST BIDS
                    </div>

                    <div class="modal_type_bids_type" ng-repeat="bid in $ctrl.sale.bids | filter:{status:3} | orderBy:'-markup' | limitTo:3">
                        <div class="modal_type_bids__item modal_bids_item_color_highest" ng-bind="bid.markup"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_highest" ng-bind="bid.share"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_highest">
                            <div ng-bind="bid.amount">$1,182.22</div>
                            <div></div>
                        </div>
                    </div>

                    <div class="blocks_header_title_name" ng-if="$ctrl.sale.bids.lengh > 0">
                        MATCHED BIDS
                    </div>

                    <div class="modal_type_bids_type" ng-repeat="bid in $ctrl.sale.bids | filter:{status:2}">
                        <div class="modal_type_bids__item modal_bids_item_color_matched" ng-bind="bid.markup"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_matched" ng-bind="bid.share"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_matched">
                            <div ng-bind="bid.amount">$1,182.22</div>
                            <div></div>
                        </div>
                    </div>

                    <div class="blocks_header_title_name" ng-if="$ctrl.sale.bids.lengh > 0">
                        UNMATCHED BIDS
                    </div>

                    <div class="modal_type_bids_type" ng-repeat="bid in $ctrl.sale.bids | filter:{status:3}">
                        <div class="modal_type_bids__item modal_bids_item_color_unmatched" ng-bind="bid.markup"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_unmatched" ng-bind="bid.share"></div>
                        <div class="modal_type_bids__item modal_bids_item_color_unmatched">
                            <div ng-bind="bid.amount">$1,182.22</div>
                            <div></div>
                        </div>
                    </div>

                </div>-->


                <div class="my_sale_attention">
                    Your sale is almost finished, top-up your sale if you want sell more
                </div>
            </div>
            </div>
            <div class="hideempty">

                <div class="manage_button">
                    <div class="button_half__white" ng-click="$ctrl.setState()">
                        Cancel
                    </div>
                    <div class="button_half__blue" ng-click="$ctrl.setState('store')">
                        Save
                    </div>
                </div>
                <div class="modal_add_bid modal_add_bid_blue " ng-if="!$ctrl._opts.stateCreate" ng-click="$ctrl.setState()">
                    Increase your share
                </div>

            </div>


    </md-content>
</md-sidenav>
