<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen" md-component-id="right">
    <md-content>
        <div class="modal_content" style="display: flex; flex-direction: column; height: 100%">
            <div class="modal_content__title">
                <div>Place a bid</div>
                <div class="close" ng-click="$ctrl.close('right')"> </div>
            </div>
            <div class="modal_content__bid" style="height: 100%">
                <div class="profile_status">
                    <div style="margin-bottom: 8px">
                        <div class="profile_status__photo"><img src="{%$ctrl.sale.creator.avatar%}" style="width: 32px; height: 32px; border-radius: 4px;" alt="photo"></div>
                        <div>
                            <div class="profile_status__name" ng-bind="$ctrl.sale.creator.name">Louise Romero</div>
                            <div class="profile_status__event" ng-bind="$ctrl.sale.event.title">MILLIONS Russia, 1A</div>
                        </div>
                        <div class="profile_status__gte_and_by">
                            <div class="profile_status__buyin">£ <span>1,000</span></div>
                            <div class="profile_status__gte">£<span>500,000</span> GTE</div>
                        </div>
                    </div>
                    <div class="bids-common">
                        <div class="bids-common__title">
                            <span>Markup</span>
                            <span>Share</span>
                            <span>Value</span>
                        </div>
                        <div class="bids-common__items bids-common__items-yellow">
                            <span ng-bind="$ctrl.sale.markup"></span>
                            <span ng-bind="$ctrl.sale.share + '%'"></span>
                            <span ng-bind="$ctrl.sale.amount|currency:'$':0"></span>
                        </div>
                    </div>

                </div>
                <div class="modal_content__hr"></div>
                <div style="max-height: 35vh; overflow-y: scroll; " id="testnoscroll">
                    <div class="bids_group"
                         ng-class="{'bids_group__highest_color': index == 'highest',
                                    'bids_group__matched_color': index == 'matched',
                                    'bids_group__unmatched_color': index == 'unmatched'}"
                         ng-repeat="(index,bids) in $ctrl.sale.bids" ng-if="bids.length > 0">
                        <span class="bids_group__title" ng-bind="index"></span>

                        <div class="bids-common">
                            <div class="bids-common__title" ng-if="index == 'highest'">
                                <span>Markup</span>
                                <span>Share</span>
                                <span>Value</span>
                            </div>
                            <div class="bids-common__items"
                                 ng-repeat="item in bids"
                                 style="position: relative"
                                 ng-click="$ctrl.copyBid(item,index == 'highest')">
                                <input type="text" placeholder="{%item.markup%}" ng-disabled="index == 'matched' || index == 'highest'" ng-style="{cursor:index == 'highest'? 'pointer': 'initial'}">
                                <input type="text" placeholder="{%item.share  | percent %}" ng-disabled="index == 'matched' || index == 'highest'" ng-style="{cursor:index == 'highest'? 'pointer': 'initial'}">
                                <input type="text" placeholder="{%item.amount | currency:'$':2%}" ng-disabled="index == 'matched' || index == 'highest'" ng-style="{cursor:index == 'highest'? 'pointer': 'initial'}">
                                <div class="sale-manage__attributes__edit" style="position: absolute; right: 0;" ng-if="index == 'unmatched'">
                                    <button class="sale-manage__attributes__btn"
                                            style="background-color: #fff2ec;"
                                            ng-click="$ctrl.changeYourBid(item)">
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal_content__hr" ng-if="$ctrl.user != null"></div>
                <div class="you_bids" ng-hide="$ctrl.status == 2" ng-if="$ctrl.user != null">
                    <span class="bids_group__title">YOUR BID</span>
                    <div class="you_bids__wrapper">
                        <div class="you_bids__item">
                            <label>Markup</label>
                            <input-markup
                                bid="$ctrl.bid"
                                buy-in="$ctrl.sale.event.buy_in"
                                placeholder="1.20">
                            </input-markup>
                        </div>
                        <div class="you_bids__item">
                            <label>Share</label>
                            <input-share
                                bid="$ctrl.bid"
                                buy-in="$ctrl.sale.event.buy_in"
                                placeholder="10%">
                            </input-share>
                        </div>
                        <div class="you_bids__item" style="flex-grow: 1;">
                            <label>Amount</label>
                            <input-amount
                                bid="$ctrl.bid"
                                buy-in="$ctrl.sale.event.buy_in"
                                placeholder="$1000">
                            </input-amount>
                        </div>
                        <div class="add_new"></div>
                    </div>
                </div>

            </div>
            <div class="modal_foter" style="margin-top: 25px">
                <div class="modal_foter__buttons">
                    <div class="button_text" role="button" tabindex="0" ng-click="$ctrl.close('right')">Cancel</div>
                    <div ng-hide="$ctrl.status == 2" class="button_blue" role="button" tabindex="0" ng-click="$ctrl.saveMyBid()" ng-if="$ctrl.user != null">Place a bid</div>

                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>
