<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen" md-component-id="right">
    <md-content>
        <div class="modal_content">
            <div class="modal_content__title">
                <div>Place a bid</div>
                <div class="close" ng-click="$ctrl.close('right')"> </div>
            </div>
            <div class="modal_content__bid">
                <div class="profile_status">
                    <div style="margin-bottom: 8px">
                        <div class="profile_status__photo"><img src="/images/desk/players_img/profile_img_8.png" alt="photo"></div>
                        <div>
                            <div class="profile_status__name" ng-bind="$ctrl.sale.creator.name">Louise Romero</div>
                            <div class="profile_status__event" ng-bind="$ctrl.sale.event.title">MILLIONS Russia, 1A</div>
                        </div>
                        <div class="profile_status__gte_and_by">
                            <div class="profile_status__buyin">£ <span>1,000</span></div>
                            <div class="profile_status__gte">£<span>500,000</span> GTE</div>
                        </div>
                    </div>
                    <div class="bids-common">
                        <div class="bids-common__title">
                            <span>Markup</span>
                            <span>Share</span>
                            <span>Value</span>
                        </div>
                        <div class="bids-common__items bids-common__items-yellow">
                            <span ng-bind="$ctrl.sale.markup"></span>
                            <span ng-bind="$ctrl.sale.share + '%'"></span>
                            <span ng-bind="$ctrl.sale.amount|currency:'$':0"></span>
                        </div>
                    </div>

                </div>
                <div class="modal_content__hr"></div>
                <div class="bids_group"
                     ng-class="{'bids_group__highest_color': index == 'highest',
                                'bids_group__matched_color': index == 'matched',
                                'bids_group__unmatched_color': index == 'unmatched'}"
                     ng-repeat="(index,bids) in $ctrl.sale.bids" ng-if="bids.length > 0">
                    <span class="bids_group__title" ng-bind="index"></span>

                    <div class="bids-common">
                        <div class="bids-common__title" ng-if="index == 'highest'">
                            <span>Markup</span>
                            <span>Share</span>
                            <span>Value</span>
                        </div>
                        <div class="bids-common__items" ng-repeat="item in bids">
                            <input type="text" placeholder="{%item.markup%}" ng-disabled="index == 'matched' || index == 'highest'">
                            <input type="text" placeholder="{%item.share  | percent %}" ng-disabled="index == 'matched' || index == 'highest'">
                            <input type="text" placeholder="{%item.amount | currency:'$':0%}" ng-disabled="index == 'matched' || index == 'highest'">
                        </div>
                    </div>

                </div>
                <div class="modal_content__hr"></div>
               <div class="you_bids">
                    <span class="bids_group__title">YOUR BID</span>
                    <div class="you_bids__wrapper">
                        <div class="you_bids__item">
                            <label>Markup</label>
                            <input type="text" placeholder="1.20" ng-model="$ctrl.bid.markup">
                        </div>
                        <div class="you_bids__item">
                            <label>Share</label>
                            <input type="text" placeholder="1.53%" ng-model="$ctrl.bid.share">
                        </div>
                        <div class="you_bids__item">
                            <label>Amount</label>
                            <input type="text" placeholder="$1,182.22" ng-model="$ctrl.bid.amount">
                        </div>
                        <div class="add_new"></div>
                        <div class="you_bids__place_bid" ng-click="$ctrl.saveMyBid()">Place a bid</div>

                    </div>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>