.bid {
  width: 100%;
  &_new{
      height: 77px;
      position: fixed;
      width: 100%;
      padding-left: 5%;
      bottom: 90px;
      z-index: 10000;
      background-color: #ffffff;
  }
  &_attribute_input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);

  }
  &_attribute_input:focus{
    border-bottom: 2px solid rgb(0,0,0);
  }
  &_new__attribute {
    flex-direction: column;
    align-self: center;

    margin-right: 16px;

    span {
      font-size: 13px;
      color: $warmGrey;
    }

    &_wraper {
      display: flex;
    }
  }
  &_new__attribute:first-child {
    width: 85%;
  }
  &_new__attribute:last-child {
    width: 100%;
    margin-right: 60px;
  }

}

.bids_edit_pen{
    height: 40px;

    &__btn{
        height: 40px;
        width: 40px;
        background-color: #fff4ec;
        background-image: url(/images/edit.svg);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
        border: none;
        position: absolute;
        right: 5px;
        border-left: 1px solid #ffffff;
    }
}

