.bid {
  width: 100%;
  &_attribute_input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224,);

  }
  &_attribute_input:focus{
    border-bottom: 2px solid rgb(0,0,0);
  }
  &_new__attribute {
    flex-direction: column;
    align-self: center;
    margin-right: 16px;

    span {
      font-size: 13px;
      color: $warmGrey;
    }

    &_wraper {
      display: flex;
    }
  }
  &_new__attribute:first-child {
    width: 85%;
  }
  &_new__attribute:last-child {
    width: 100%;
    margin-right: 60px;
  }

}
