.creact_sale{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background-color: #007fed;
    border-radius: 10px;
    margin-bottom: 20px;
}



.creact_sale_btn{
    width: 90%;
    position: fixed;
    bottom: 15px;
    left: 5%;
}
.hr{
    width: 150%;
    height: 1px;
    background-color: rgba(0,0,0,0.08);
    margin-left: -15px;
    margin-bottom: 16px;
}
.manage_sale_btn{
    position: fixed;
    bottom: 16px;
    left: 5%;
    width: 90%;
}
.goback_unset{
    position: unset;
}

.button_login{
    border-radius:10pt;
    border:none;

    width: 90%;
    position: fixed;
    bottom: 15px;
    left: 5%;
}




.empty_block{
    width: 100%;
    height: 75px;
}
.hideempty{
    height: 80px;
    width: 100%;
    //position: fixed;
    //bottom: 0;
    //left: 0;
    background-color: #fff;
}



.modal_add_bid{
    width: 90%;
    margin: auto;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
    //position: fixed;
    bottom: 16px;
    //right: 15px;
    //left: 5%;
    //z-index: 500;
    background-color: #ffffff;
    &_blue{
        background-color: #007fed;
        color: #fff;
        border-radius: 10px;
    }
}

.manage_button{
    width: 100%;
    height: 48px;
    line-height: 48px;
    //position: fixed;
    //z-index: 500;
    background-color: #ffffff;
    right: 0;
    display: flex;
    justify-content: center;
}

.button_half{

    font-size: 16px;
    &__white{
        width: 43%;
        height: 48px;
        line-height: 48px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        text-align: center;
        //position: fixed;
        bottom: 16px;
        left: 5%;
        z-index: 500;
        background-color: #ffffff;
        margin-right: 5px;
    }
    &__blue{
        color: white;

        width: 45%;
        height: 48px;
        line-height: 48px;
        border: 1px solid #007fed;
        border-radius: 10px;
        text-align: center;
        position: fixed;
        bottom: 16px;
        left: 49%;
        z-index: 500;
        background-color: #007fed;
    }
}
