.creact_sale{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background-color: #007fed;
    border-radius: 10px;
    margin-bottom: 20px;
}

.modal_add_bid{
    width: 90%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    bottom: 16px;
    left: 5%;
    z-index: 500;
    background-color: #ffffff;

}

.creact_sale_btn{
    width: 90%;
    position: fixed;
    bottom: 15px;
    left: 5%;
}
.hr{
    width: 150%;
    height: 1px;
    background-color: rgba(0,0,0,0.08);
    margin-left: -15px;
    margin-bottom: 16px;
}
.manage_sale_btn{
    position: fixed;
    bottom: 16px;
    left: 5%;
    width: 90%;
}

.button_login{
    border-radius:10pt;
    border:none;

    width: 90%;
    position: fixed;
    bottom: 15px;
    left: 5%;
}