.card__bids{
    width: 250px;
    margin-right: 12px;
  margin-bottom: 2pt;
  border-radius: 8px;

}
.card_row{
    display: inline-flex;
}
.card__bids_list{
   padding: 16px 16px 0 16px;
    box-sizing: border-box;
    position: relative;
    .card__profile_info{
        margin: 0;
    }
    .card__attribute_row{
        padding-bottom: 16px;
        margin-bottom: 2px;
    }
    .blocks_header_link{
        position: absolute;
        right: 15px;
        top: 16px;
    }
    .card__event_info{
        margin-top: 8px;
    }

}

.card__bids_list:last-child{
  margin-bottom: 50px;
}


.card__profile_info{
  width: 100%;
  margin-left: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;

}
.card__profile_foto{
  width: 36px;
  height: 36px;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: grey;
  margin-right: 10px;
}
.card__profile_foto img{
  width: 100%;
  height: auto;
}

.card__profile_name{
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
}
.card__event{
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}
.card__subevent{
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  margin-left: 72.5px;
  margin-bottom: 8px;

}

.card__subevent::before{
  content: "";
  width: 7px;
  height: 7px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  opacity: .3;
  position: absolute;
  top: calc(50% - 4px);
  left: -10px;
}

.card__attribute{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 15px;
  //padding-right: 15px;

  .card__attribute_value{
    color: #000000;
  }

}


.card__attribute_row{
  padding-left: 0px;
  padding-right: 10px;
}

.sale_card_list_atr_item span{
  color: $warmGrey;
}

.card__attribute_status_green{
    color: rgb(0,200,17) !important;
    font-weight: 600;
}
.card__attribute_status_red{
    color: rgb(255,51,76) !important;
    font-weight: 600;
}

.bids-item__matched{
    background-color: #e7f7e4;

}
.bids-item__unmatched{
    background-color: #fff4ec;
}
.bids-item__settled{
    background-color: #edf8fd;
}
.bids-item__canceled{
    background-color: #edebf6;
}





.card__event_info_item{
    display: flex;
    color: rgb(148, 148, 148);
    font-size: 13px;
    margin-bottom: 4px;
}
.card__event_info{
    margin-top: 16px;
}


.card__sale_event_byin{
    font-size: 13px;

}

.card__attribute_sale_card{
    display: flex;
    flex-wrap: wrap;

    .card__attribute_value{
        color: #000000;
    }
}
.card__attribute_sale_card > div{
    width: 45%;

}

.event_card_text{
    position: relative;
    margin-bottom: 9px;

    .blocks_header_link{
        position: absolute;
        right: 0;
        top: 0;
    }
    .card__subevent{
        margin-left: 10.5px;
        margin-bottom: 0;
    }
}

.sale_card__list_sales{
    border-bottom: 0 !important;
    padding: 15px;
    margin-bottom: 2px;
}

.sale_card__row{
    width: 250px;
    background-color: #fff9e8;
    border-radius: 16px;
    margin-right: 12pt;
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
}
