.courusel_no_limit_wr{
    width: 100%;
    overflow: hidden;
}
.courusel_no_limit_content{
    width: 100%;
    font-size: 13px;
}

.courusel_no_limit_item_wr{
    overflow-y: hidden;
}

.courusel_no_limit_item{
    display: inline-flex;
}

.courusel_item{
    color: $warmGrey;
    margin-right: 2px;
    width: 75px;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 5px;
    overflow: hidden;
}
.courusel_item:first-letter{
    text-transform: capitalize;
}
.event_detail_info{

}
