.carousel_container{
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    margin-right: -15px;
    margin-left: -15px;
}
/*.carousel_wr{
    display: inline-flex;
}*/
.component_carousel{
    display: inline-flex;
}


