
.main_content{
    &__empty{
        height: calc(100vh - 95px);
        display: flex;
        justify-content: center;
        align-items: center;
        &_container{
            width: 320px;
            &__img{
                width: 70px;
                height: 70px;
                margin: 0 auto 20px auto;
                &_sale{background: url("/images/desk/empty_user/empty_user_sale.png") no-repeat center; background-size: 100%;}
                &_bids{background: url("/images/desk/empty_user/empty_user_bids.png") no-repeat center 100%; background-size: 100%;}
                &_wallet{background: url("/images/desk/empty_user/empty_user_wallet.png") no-repeat center 100%; background-size: 100%;}
            }
            &__title{
                width: 100%;
                text-align: center;
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            &__discription{
                width: 100%;
                padding: 20px;
                text-align: center;
                font-size: 15px;
                color: #000000;
                font-weight: 400;
                margin-bottom: 24px;
            }
            &__buttons{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            &__button{
                //width: 120px;
                width: 162.5px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
                color: #000;
                border-radius: 10px;
                border: 1px solid #e0e0e0;
                cursor: pointer;
            }
            @media screen and (max-width: 320px){
                &__button{
                    width: 140px;
                }
        }
            &__button__blue{
                background-color: #007fed;
                color: #ffffff;
                border-color:  #007fed;
                margin-right: 16px;

            }
        }
    }
}
