.event_detail__header{
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    position: relative;
}
.event_detail__header_title{
    font-size: 16px;
    font-weight: 600;
}
.event_detail__header_date{
    font-size: 13px;
    font-weight: 400;
    color: $warmGrey;
}
.goback{
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(/images/b@3x_left-arrow.png) no-repeat center;
    background-size: 22px;
    left: 15px;
    top: 11px;
}
.event_detail_info{
    background-color: rgb(246,246,246);
    padding: 16px 12px;
}
////////////////


