.event_card{

}
.event_card__row{
    width: 250px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.event_card__row_img{
    width: 100%;
    height: 124px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.event_card__row_img img{
    width: 100%;
    height: auto;
}
.event_card__row_info{
    color: #000;
    text-align: left;
}
.event_card_title{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    display: block;
}



.event_card_fund,
.event_card_date{
    font-size: 13px;
    font-weight: 400;
    color: $warmGrey;
}
.event_card_list{

}
.event_card_list_last_child{
    margin-bottom: 50px !important;
}




.event_card_list_img{
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.event_card_list_img img{
    width: 100%;
    height: auto;
}
.event_card_list_info{
    position: relative;

}

.event_card_list_wr{
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}




.event_card_list_subevents{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(229,229,229);
    padding-bottom: 10px;
    position: relative;
}

.event_card__see_more{
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(/images/see_more.png) no-repeat center;
    top: calc(50% - 11px);
    right: 0;
    background-size: 30%;
}
.event_card_list_back{
    width: 22px;
    height: 22px;
    position: absolute;
    background: url("/images/left_arrow_white.png") no-repeat center;
    background-size: 100%;
    left: 16px;
    top: 11px;
}
.event_card_list_open{
    width: 22px;
    height: 22px;
    position: absolute;
    background: url("/images/open_event.png") no-repeat center;
    background-size: 100%;
    top: 11px;
    right: 15px;
}

