.events_filters{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
    z-index: 50;
    background: rgba(0,0,0,0.5);

    &_wrapper{
        &_first{
            height: 420px;
            background-color: #ffffff;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .filter{
            &_wrapper{
                width: 100%;
                margin-bottom: 20px;
            }
            &_label{
                font-size: 13px;
                color: $warmGrey;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            &_box{
                width: 100%;
                height: 50px;
                line-height: 50px;
                border: 1px solid rgb(224,224,224);
                border-radius: 10px;
                color: #000000;
                font-size: 16px;
                position: relative;
                box-sizing: border-box;
                padding: 0 25px 0 20px;
                overflow: hidden;
                span:last-child{
                    .comma{
                        display: none;
                    }
                }
            }
            &_box::after{
                content: '';
                display: block;
                width: 22px;
                height: 22px;
                background: url("/images/see_more.png")no-repeat right;
                position: absolute;
                right: 14px;
                top: 14px;
            }
        }

        .events_list{

            &_wrapper{}
            &_search{
                width: 100%;
                height: 36px;
                position: relative;
                margin-top: 16px;
                margin-bottom: 16px;
                input{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    background-color: rgb(224,224,224);
                    color: #000;
                    box-sizing: border-box;
                    padding-left: 34px;
                }
                input::placeholder{
                    color: $warmGrey;
                }
            }
            &_search:after{
                content: '';
                display: block;
                width: 14px;
                height: 14px;
                background: url("/images/search.svg")no-repeat center;
                background-size: 100%;
                position: absolute;
                left: 11px;
                top: 11px;
            }
            &_items{
                height: 290px;
                overflow: scroll;
            }

        }
    }
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;

        //position: fixed;
        //bottom: 15px;

    }
    &__button{
        width: 166px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        &_save{
            background: rgb(0,127,237);
            color: #ffffff;
            margin-right: 10px;
        }
        &_clear{
            border: 1px solid rgb(224,224,224);
            color: #000;
        }

    }
}
md-checkbox.md-formSelect-theme:not(.md-checked) .md-icon{
    border-radius: 6px !important;
}
md-checkbox.md-formSelect-theme.md-checked .md-icon{
    border-radius: 6px !important;
    background-color: rgb(0,127,237) !important;
}



