.header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5%;
    background-color: #ffffff;
    z-index: 50;

    &_title {
        font-size: 16px;
        .event_detail__header_title{
            margin-top: -10px;
            text-align: center;
        }
        .event_detail__header_date{
            text-align: center;
        }
    }
    &_empty {
        width: 20px;
        height: 20px;
    }
    &_filter {
        width: 22px;
        height: 22px;
        background: url("/images/header/header_filter.png") no-repeat center;
        background-size: 100%;
    }
    &_back {
        width: 22px;
        height: 22px;
        background: url("/images/b@3x_left-arrow.png") no-repeat center;
        background-size: 100%;
    }

    &_close {
        width: 44px;
        height: 44px;
        background: url("/images/header/close.png") no-repeat center;
        background-size: 18px;
    }
}
.header_empty_height{
    width: 1px;
    height: 45px;
    &_min{
        height: 33px;
    }
    &_max{
        height: 60px;
    }
}
.courusel_fixed{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 44px;
    z-index: 600;
}




















.header{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.header_logo{
    width: 45px;
    height: 20px;

    //
    text-align: center;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.header_profile{
    width: 22px;
    height: 22px;
    background: url("/images/header/header_profile.png") no-repeat center;
    background-size: 100%;
}
.header_filter{
    width: 22px;
    height: 22px;
    background: url("/images/header/header_filter.png") no-repeat center;
    background-size: 100%;

}

.header_filter_empty{
    width: 22px;
}

.header_close{
    width: 22px;
    height: 22px;
    background: url("/images/header/close.png") no-repeat center;
    background-size: 80%;
}
.header_title{
    height: 20px;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
