.header{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.header_logo{
    width: 45px;
    height: 20px;

    //
    text-align: center;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.header_profile{
    width: 22px;
    height: 22px;
    background: url("/images/header/header_profile.png") no-repeat center;
    background-size: 100%;
}
.header_filter{
    width: 22px;
    height: 22px;
    background: url("/images/header/header_filter.png") no-repeat center;
    background-size: 100%;

}
