@import '../../variables';
.place_wrapper{
  width: 100vw;
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  &__sale{

  }
}

.my_sale {
  &__header {
    padding: 0 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0px 2px 5px 0px rgba(224,224,224,1);

    .card__profile_info{
      margin: 0 0 12px 0;
    }
    .binds-item__game_info{
      padding-left: 0;
    }
    .card__event_info {
      margin-top: 0px;
    }
    .event_card_fund {
      color: $warmGrey;
      margin-bottom: 12px;
    }
    .manage_sale_atr_item {
      span {
        margin-bottom: 4px;
      }
    }
    .manage_sale_atr__yellow {
      .manage_sale_atr_item:first-child {
        width: 24.75%;
        input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      .manage_sale_atr_item:nth-child(2){
        width: 24.75%;
      }
      .manage_sale_atr_item:nth-child(3) {
        width: 49.5%;
        input {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  &__content {
    //height: auto;
    padding: 10px 15px 0 15px;
    overflow-y: scroll;
    height: calc(100% - 340px) !important;
  }
}


.hideempty{
  height: 80px;
  width: 100%;
  position: static  !important;
  //bottom: 0;
  //left: 0;
  background-color: #fff;
}



.modal_add_bid{
  width: 90%;
  margin: auto;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  position: static;
  bottom: 16px;
  //right: 15px;
  //left: 5%;
  //z-index: 500;
  background-color: #ffffff;
  &_blue{
    background-color: #007fed;
    color: #fff;
    border-radius: 10px;
  }
}

.manage_button{
  width: 100%;
  height: 48px;
  line-height: 48px;
  position: static;
  //z-index: 500;
  background-color: #ffffff;
  right: 0;
  display: flex;
  justify-content: center;
}

.button_half{

  font-size: 16px;
  &__white{
    width: 43%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
    position: static;
    //bottom: 16px;
    //left: 5%;
    z-index: 500;
    background-color: #ffffff;
    margin-right: 5px;
  }
  &__blue{
    color: white;
    width: 45%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #007fed;
    border-radius: 10px;
    text-align: center;
    position: static;
    //bottom: 16px;
    //left: 49%;
    //z-index: 500;
    background-color: #007fed;
  }
}
