@import '../../variables';

.my_sale {
  &__header {
    padding: 0 15px;
    top: 0;
    left: 5%;
    right: 5%;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0px 2px 5px 0px rgba(224,224,224,1);

    .card__profile_info{
      margin: 0 0 12px 0;
    }
    .binds-item__game_info{
      padding-left: 0;
    }
    .card__event_info {
      margin-top: 0px;
    }
    .event_card_fund {
      color: $warmGrey;
      margin-bottom: 12px;
    }
    .manage_sale_atr_item {
      span {
        margin-bottom: 4px;
      }
    }
    .manage_sale_atr__yellow {
      .manage_sale_atr_item:first-child {
        width: 24.75%;
        input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      .manage_sale_atr_item:nth-child(2){
        width: 24.75%;
      }
      .manage_sale_atr_item:nth-child(3) {
        width: 49.5%;
        input {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  &__content {
    //height: auto;
    padding: 10px 15px 0 15px;
    overflow-y: scroll;
    height: calc(100% - 340px) !important;
  }
}