.modal_wrapper {
    overflow: scroll;

    .card__profile_info{
        margin: 0 0 10px 0;
    }
    .binds-item__game_info{
        padding-left: 0;
    }
    .binds-item__game_info{
        margin-top: 0;
    }
    .row{
        margin: auto;
    }
    .blocks_header_title_name{
        margin-bottom: 8px;
        margin-top: 8px;
    }
}
.modal_header_fixed{
    position: fixed;
    z-index: 100000;
    background-color: #ffffff;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.08);
}

.modal_bids_block{
    margin-top: 190px;


}

.modal_wrapper{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}
.modal_bids_block_wr{
    width: 100%;
    //height: calc(100vh - 190px);
    height: calc(100vh - 75px);
    position: relative;
    overflow: scroll;
}
.modal_type_bids_type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    position: relative;
}
.modal_type_bids__item{
    width: 24.75%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    color: #000;
    margin-bottom: 8px;
}
.modal_type_bids__item:first-child{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.modal_type_bids__item:nth-child(3){
    width: 49.5%;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.modal_type_bids__item:last-child{
    //width: 40px;
    //height: 100%;
    //background-color: #1ad03b;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.modal_type_bids__item_confirm{
    width: 40px;
    height: 100%;
    background-color: #e7f7e4;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #ffffff;
    position: relative;
}
.modal_type_bids__item_confirm::after{
    content: '';
    width: 40px;
    height: 40px;
    background: url("/images/confirm.png")no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*colors*/
.modal_bids_item_color_highest{
    background-color: rgb(237,248,253);
}
.modal_bids_item_color_matched{
    background-color: #e7f7e4;
}
.modal_bids_item_color_unmatched{
    background-color: #fff4ec;
}
.modal_bids_item_color_settled{
    background-color: #edf8fd;
}
.modal_bids_item_color_canceled{
    background-color: #edebf6;
}
/*colors end
*/

/*manage sales*/
.manage_sale_wr{
    overflow: hidden;
    .binds-item__game_info {
        padding-left: 0;
        margin-top: 0;
        .card__event_info_attr{
            color: #000;
        }
    }
    .modal_type_bids{
        .blocks_header_title_name{
            margin-bottom: 8px;
            margin-top: 24px;}
    }
}
.manage_sale_atr{
    padding-left: 0 !important;
}
.manage_sale_atr_item{
    width: 33%;
    input{
        width: 80%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(224,224,224);
    }
}
