.profile {
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  &_hint {
    width: 100%;
    text-align: center;
    color: $warmGrey;
  }
  &_name {
    margin-top: 16px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  &_button {
    width: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: rgb(0, 127, 237);
    height: 48px;
    line-height: 48px;
    text-align: center;
  }
  &_block_title {
    margin-top: 30px;
    font-size: 13px;
    text-transform: uppercase;
    color: $warmGrey;
  }
  &_menu_item{
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;

    div{
      display: flex;

      align-self: center;
    }
    &__text{
      font-size: 16px;
      margin-left: 16px;
    }
    &__more{
      width: 16px;
      height: 16px;
      background: url("/images/see_more.png") no-repeat ;
      background-size: contain;

    }
  }
  &_menu_item:last-child{
    margin-bottom: 23px;
  }
  &_img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 4px;
    }
  }
}

/*registration block*/
.md-datepicker-calendar-pane{
    left:15px !important;
        .md-datepicker-input-mask{
        display: none;
    }
}
.register{
    &_age{
        width: 100%;
        margin: 60px auto 20px auto;
        md-datepicker{
            .md-datepicker-button{
                opacity: 0;
            }
            .md-datepicker-input-container{
                width: 100%;
                input::placeholder{
                    font-size: 16px;
                    font-weight: 400;
                }
            }

        }
    }
}
.md-required{
    transform-origin: center !important;
    color: $warmGrey !important;
}
.md-required::after{
    color: $warmGrey !important;
}

/*delete label*/
md-input-container:first-child{
    margin-top: 30px !important;
}
md-input-container{
    margin-top: 40px !important;
    text-align: center;
    font-size: 16px;
    line-height: 16px !important;
    input{
        text-align: center;
        padding-bottom: 10px;
    }
    input::placeholder{
        text-align: center;
        padding-bottom: 10px;
    }

}
.md-input-message-animation{
    background-color: #ffffff;
}

#select_value_label_0{
    span:first-child{
        font-size: 16px !important;
        color: $warmGrey !important;
        transform-origin: top !important;
        margin-bottom: 8px !important;
        padding-left: 42px !important;
    }
}

/*registration block end*/
.input_wrapper{
    position: relative;
    background-color: #ffffff;
    z-index: 10;
    margin-bottom: 170px;
}
.private_policy{
    width: 90% !important;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 5%;
    margin: 0 !important;
    z-index: 5;
}
.button_login{
    //bottom: 70px;
    bottom: 95px;
}
.forgot_password{
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $warmGrey;
    margin-left: -15px;

}
/*forgot password*/

.check{
    &__img{
        width: 70px;
        height: 70px;
        background: url(/images/check_inbox.png) no-repeat center;
        background-size: 100%;
        margin: 86px auto 20px auto;
    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 12px;
    }
    &__discription{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 24px;
        text-align: center;
        color: #000000;
    }
    &__back{
        font-size: 15px;
        color: #007fed;
        text-align: center;
        cursor: pointer;
    }
}

/*forgot password end*/
.button_registr_fixed{
    position: fixed;
    width: 90% !important;
    left: 5%;
    bottom: 70px;
    z-index: 5;
}

/*dollar block*/

.dollar_content{
    padding-top: 48px;
    &__img{
        width: 70px;
        height: 70px;
        background: url("/images/dollar.png")no-repeat center;
        background-size: 100%;
        margin: auto;
    }
    &__title{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin: 20px auto 12px auto;
    }
    &__description{
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    &__button{
        width: 100%;
        margin: auto;
        margin-bottom: 16px;
        height: 38px;
        line-height: 38px;
        border-radius: 6px;
        background-color: #007fed;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    }
    .faq{
        width: 22px;
        height: 22px;
        background: url("/images/faq.png")no-repeat center;
        background-size: 100%;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
    &__skip{
        width: 100%;
        font-style: 16px;
        color: $warmGrey;
        margin-top: 24px;
        text-align: center;
    }
    &__terms{
        text-align: center;
        a{
            color: #007fed;
            font-size: 15px;
        }
    }

}
