.sale_card__list{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.sale_card__list-last_child{
    margin-bottom: 50px;
}

.sale_card__row{

}


.sale_card_list_atr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    .sale_card_list_atr_value{
        color: #000000;
    }

}

.sale_card_list_atr_item span{
    color: $warmGrey;
}
//.sale_card_list_atr div span
//{
//    color: rgb(148, 148, 148);
//}
//.game_atrs__date_start{
//    width: 45%;
//}
