.sale_card {

  &__list {
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &_wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &_item{
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 8px;

      & .card__attribute_value{
        color: black;
      }

      span {
        font-size: 13px;
        line-height: 17px;
        color: $warmGrey;
      }
    }

    &_text{
      position: relative;

      .blocks_header_link{
        position: absolute;
        right: 0;
        top: 0;
      }
      .card__subevent{
        margin-left: 10.5px;
        margin-bottom: 0;
      }
    }

    &-last_child {
      margin-bottom: 50px;
    }

    &_profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 8px;

      &__photo {
        width: 36px;
        height: 36px;

        img {
          width: 36px;
          height: 36px;
          display: block;
        }
      }

      &__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 10px;
      }

      &__name {
        font-size: 13px;
        line-height: 17px;
        font-weight: 600;
      }

      &__event {
        font-size: 13px;
        line-height: 17px;
      }
    }

    &_attribute {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 33%;
        padding-right: 8px;

        & span {
          font-size: 13px;
          line-height: 17px;
          color: $warmGrey;
        }

        & &_value{
          margin-top:4px;
          color: #000;
        }
      }
    }
  }
}

.sale_card_list_atr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  &_value {
    color: #000000;
  }

  &_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 8px;

    span {
      color: $warmGrey;
      font-size: 13px;
      line-height: 17px;

      &:first-child{
        margin-bottom: 4px;
      }
    }
  }
}

/*sales create*/
.sale_form_wr {
  overflow: hidden;
}

.sale_form {
  position: relative;
  .page_title {
    margin-bottom: 12px;
  }
}

.sale_form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 13px;
  color: #000000;

  .layout-align-start-stretch {
    md-select {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  .blocks_header_title_name {
    margin: 0 0 12px 0;
    text-transform: capitalize;
  }
  .sale_form_title {
    text-transform: uppercase;

  }
  select {
    margin-bottom: 16px;
    color: #000000;
    height: 48px;
    border-radius: 10px;
    outline: none;
  }
  input {
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 16px;
    color: #000000;
    outline: none;

  }
  .card__attribute {
    padding: 0;
    position: relative;
    margin-bottom: 25px;
    .card__attribute_value {
      font-size: 16px;
    }
  }

  .sale_card_list_atr_item input {
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.08);

  }
}

.card__attribute_static {
  .sale_card_list_atr_item:first-child {
    width: 45%;
  }
  .sale_card_list_atr_item:nth-child(2) {
    width: 55%;
  }
}

/////////

.offer {
  margin-top: 16pt;
}

.offer__title {
  text-transform: uppercase;
  margin-bottom: 12pt;
}

.offer-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-wr > div {
  width: 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 10px;
}

.offer-wr > div input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #949494;
}

.manage_sale_atr__yellow {
  position: relative;
  > div {
    input {
      width: 100%;
      background: #fff9e8;
      height: 40px;
      border-bottom: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 15px;
    }
  }
  .sale-manage__attributes__edit {
    height: 40px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    .sale-manage__attributes__btn {
      height: 40px;
      width: 40px;
      background-color: #fff9e8;
      background-image: url(/images/edit.svg);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;
      border: none;
      position: absolute;
      right: 5px;
    }
  }

}

.place_wrapper{
  width: 100vw;
  height: 100vh;
  //display: grid;
  //grid-template-rows: 210px auto 80px;
  //grid-template-rows: 210px auto 110px;
  //flex-direction: column;
    &__sale{
        //grid-template-rows: 265px auto 110px;
    }
}

.my_sale {
  &__header {
    padding: 0 15px;
    top: 0;
    width: 100%;
    //left: 5%;
    //right: 5%;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0px 2px 5px 0px rgba(224,224,224,1);


    position: fixed;
    top: 0;

    .card__profile_info{
      margin: 0 0 12px 0;
    }
    .binds-item__game_info{
      padding-left: 0;
    }
    .card__event_info {
      margin-top: 0px;
    }
    .event_card_fund {
      color: $warmGrey;
      margin-bottom: 12px;
    }
    .manage_sale_atr_item {
      span {
        margin-bottom: 4px;
      }
    }
    .manage_sale_atr__yellow {
      .manage_sale_atr_item:first-child {
          width: 24.75%;
        input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      .manage_sale_atr_item:nth-child(2){
            width: 24.75%;
        }
      .manage_sale_atr_item:nth-child(3) {
          width: 49.5%;
        input {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  &__content {
    height: auto;
    padding: 10px 15px 0 15px;
    overflow-y: scroll;
    margin-top: 210px;
    //height: calc(100% - 290px);
    //add inline for ios
    //height: calc(100% - 340px);
  }
  //.hideempty{
  //  position: fixed;
  //  bottom: 16px;
  //}
}

.warm_grey{
    color: $warmGrey;
}


.header_modal{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
