.tabs_row{

}
.tabs_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    font-size: 13px;
    &__single{
        justify-content: space-around;
    }
}

.tabs_item{
    width: 50%;
    text-align: center;
    padding-bottom: 11px;
    color: $warmGrey;
    height: 41px;
    line-height: 41px;
    text-transform: capitalize;
}
.tabs_item__active{
    color: #000;
}

.tabs_item__active_entity{
    border-bottom: 2px solid rgba(0,0,0, 1);
    color: #000;
}

.tabs-wr{
    width: 100%;
    margin-top: 10px;
}
.tabs-wr:last-child{
    margin-bottom: 100px;

}
.tabs-wr__title-name{
    text-transform: capitalize;
}

