.blocks_header_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    margin-bottom: 10px;
}
.blocks_header_title_name{
    color: $warmGrey;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}
.blocks_header_link{
    color: $linksColorBlue;
    font-size: 13px;
}
.event_card_subevent_list_title{
    margin-top: 20px;
    margin-bottom: 10px;
}
.event_card_details_link{
    position: absolute;
    top: 5px;
    right: 0;
}
