<div class="won">
    <div class="won_confirm">
        Confirm your action
    </div>
    <div class="won_description">
        Selected the placement and enter winning amount
    </div>
    <div class="won_selects">
        <div class="won_select">
            <md-select placeholder="Not placed" ng-model="DealerWinCtrl.result.placed" ng-click="DealerWinCtrl.placedArr()"
                       class="select_placed">
                    <md-option value="{%place%}" ng-repeat="place in DealerWinCtrl.placeArr" ng-bind="place"></md-option>
            </md-select>
        </div>
        <div class="won_select">
            <input type="text" class="select_input" placeholder="Amount" ng-model="DealerWinCtrl.result.amount">
        </div>
        <div class="won_select">
            <md-select placeholder="$" ng-model="DealerWinCtrl.result.currency_id" class="select_currency">
                <md-option value="{%currency.id%}" ng-repeat="currency in DealerWinCtrl.currencyArr" ng-bind="currency.symbol"></md-option>
            </md-select>
        </div>
    </div>
    <div class="won_buttons">
        <div class="won_button won_button__cancel" ng-click="DealerWinCtrl.closeModal()">Cancel</div>
        <div class="won_button won_button__confirm" ng-click="DealerWinCtrl.confirmSale()">Confirm</div>
    </div>
</div>
