a{
    text-decoration: none;
}
.deskwr{
    max-width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}
.header{
    width: 194px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.logo{
    width: 100%;
    margin-bottom: 30px;
}
.logo img{
    width: auto;
    height: auto;
}
.menu{
    width: 100%;
    margin-bottom: 128px;
}
.menu_list{
    list-style: none;
    padding-left: 0;
}
.menu_item{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #000;
    //opacity: 0.4;
    height: 40px;
    line-height: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.menu_item_active{
    opacity: 1;
}
.menu_item a{
    text-decoration: none;
    color: #000;
}
.invest_count{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ff3700;
    text-align: center;
    line-height: 24px;
    color: #fff;
}

.last_up__title{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    opacity: 0.6;

}
.last_up__item{
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}
.last_up .last_up__item:nth-child(2){
    background-color: rgba(0, 127, 237, 0.1);
}
.last_up .last_up__item:nth-child(3){
    background-color: rgba(255, 190, 0, 0.1);
}
.last_up .last_up__item:nth-child(4){
    background-color: rgba(0, 200, 17, 0.1);
}
.last_up .last_up__item:nth-child(5){
    background: linear-gradient(to bottom, rgba(255, 55, 0, 0.1), #ffffff);
}

.message{
    //margin-left: 34px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.last_up_marker{
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.last_up_marker img{
    width: auto;
    height: auto;
}

.profile_info{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 17px;
    margin-top: 137px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.pi_wr{
    display: flex;
    align-items: center;
}
.profile_img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
}
.profile_img img{
    width: 100%;
    height: auto;
}
.logout{
    width: 13px;
    height: 13px;
    background: url("/images/desk/right_enter.png") no-repeat left;
}
.heders_footer a{
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 15px;
}


/*bids content*/
.bids_content_wr{
    width: 996px;
    margin-left: 84px;
    margin-top: 32px;
}
.bids_nav{
    width: 100%;
    margin-bottom: 16px;
}
.bids_nav_list{
    list-style: none;
    display: flex;
}
.bids_nav_item{
    margin-right: 24px;
}
.bids_nav_item a{
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}
.bids_nav_item_active a{
    color: rgba(0, 0, 0, 1);
}

.bids_table{
    width: 100%;
    border-spacing: 0 1px;
}
.bids_table_head{
    text-transform: uppercase;
}
.bids_table td{
    height: 53px;
    line-height: 53px;
}
.bids_table_body tr{
    background-color: #fff2ec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.t_from{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.t_from_img{
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0 10px;
}
.t_from_img img{
    width: 100%;
    height: auto;
}
.bids_table_head{
    font-size: 12px;
    font-weight: 900;
}
.bids_table_head td:first-child{
   padding-left: 10px;
}
