@import "../../../node_modules/angular-material/angular-material.min.css";
@import "blocks/bids";
@import "blocks/sales";
@import "blocks/events";
@import "blocks/events_filter";
@import "blocks/material";
@import "blocks/place_bid";
@import "blocks/wallet";
@import "blocks/button";
@import "blocks/profile";
@import "blocks/login";
@import "blocks/empty";
@import "blocks/user";
@import "blocks/events_admin";
@import "blocks/modalsale_details";

body, html {
  background-color: #fff !important;
  padding: 0;
  margin: 0;
}

body * {
  font-family: "Open Sans", sans-serif;
}

body * :focus{
  outline: none;
}

.no_scroll{
  overflow: hidden;
}

#right {
  position: fixed;
  right: -3000px;
  height: 1px;
  width: 1px;
  top: 50vh;
}

::-webkit-input-placeholder{
    color: #000000;
}
input:focus::placeholder{
    color: transparent;
}

.your_profile_wr_display {
  display: block;
}

a {
  text-decoration: none;
}

.grey_dot{
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 7.5px;
  border-radius: 2px;
  background-color: #cdcdcd;
}

.bold{
  font-weight: 600;
}

.color-grey{
  color: #626262;
}

.align-right{
  text-align: right !important;
}

.deskwr {
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  position: relative;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 260px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.pseudo-header {
  width: 256px;
  height: 100%;
}

.logo {
  width: 100%;

  a {
    display: inline-block;
    height: 26px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.menu {
  width: 100%;
  margin-top: 32px;

  &_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &_item {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #000;

    height: 40px;
    line-height: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      opacity: 0.4;
      text-decoration: none;
      color: #000;
    }

    &__link.active {
      opacity: 1;
    }

    &__wallet {
      opacity: 0.4;
    }

    &__count {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: #ff3700;
      text-align: center;
      line-height: 23px;
      color: #fff;
      font-size: 12px;
    }
  }
}

.last_up {
  min-height: 251px;
  height: 44%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__title {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 17px;
    opacity: 0.34;
  }

  &__item {
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    &_blue {
      background-color: rgba(0, 127, 237, 0.1);
    }

    &_yellow {
      background-color: rgba(255, 190, 0, 0.1);
    }

    &_green {
      background-color: rgba(0, 200, 17, 0.1);
    }

    &_red {
      background: linear-gradient(to bottom, rgba(255, 55, 0, 0.1), #ffffff);
    }
  }

  &_marker {
    width: 16px;
    height: 16px;
    overflow: hidden;
    padding: 16px 8px 16px 10px;

    img {
      width: auto;
      height: auto;
    }
  }
}

.message {
  //margin-left: 34px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer {
  min-height: 108px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__links a {
    width: 194px;
    height: 40px;
    opacity: 0.3;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #000000;
    margin-right: 10px;
  }
}

.profile {

  &_info {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &_left-side {
    display: flex;
    align-items: center;
  }

  &_img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &_logout {
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url("/images/desk/right_enter.png") no-repeat left;
  }
}

/*main content*/
.main_content {
  width: 100%;
  padding: 32px 60px 32px 32px;
}

/*bids content*/
.bids_content_wr {
  /*width: 996px;*/
}

.bids_nav {
  width: 100%;
  margin-bottom: 16px;
}

.bids_nav_list {
  list-style: none;
  display: flex;
}

.bids_nav_item {
  margin-right: 24px;
}

.bids_nav_item {

  a {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
  }

  a.active {
    color: rgba(0, 0, 0, 1);
  }
}

.bids_table {
  width: 100%;
  border-spacing: 0 1px;
}

.bids_table_head {
  th {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    height: 53px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
      text-align: right;
    }
  }

}

.bids_table td {
  height: 53px;
  padding-right: 10px;
  /*line-height: 53px;*/
}

.bids_table_body tr {
  //background-color: #fff2ec;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bids_content_unmatched .bids_table_body tr {
  background-color: #fff2ec;
}

.bids_content_canceled .bids_table_body tr {
  background-color: #edebf6;
}

.bids_content_matched .bids_table_body tr {
  background-color: #e7f7e4;
}

.bids_content_settled .bids_table_body tr {
  background-color: #edf8fd;
}

.bids_content_matched .bids_table_body .t_time {
  text-align: left;
}

.t_outcome_minus {
  color: #ff334c;
}

.t_outcome_plus {
  color: #00c811;
}

.t_from {
  /*box-sizing: border-box;
  display: flex;
  align-items: center;*/
}

.t_from_fix_height {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.t_from_img {
  width: 32px;
  height: 32px;
    border-radius: 6px;
  overflow: hidden;
  margin: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.t_from_img img {
  width: 100%;
  height: auto;
}

.t_event, .t_buy_in, .t_gte, .t_time {
  color: #999999;
}

.t_markup, .t_from, .t_share {
  font-weight: 600;
}

/*logOut*/
.log_out-wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.log_out_profile {
  width: 420px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
}

.log_out_text {
  width: 324px;
  margin: 40px auto 24px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.log_out_text span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
  font-weight: 400;
}

.log_out_btn {
  width: 220px;
  display: flex;
  margin-left: 150px;
  align-items: center;
  font-size: 15px;
  color: #050505;
  margin-bottom: 40px;
}

.log_out_ok {
  width: 111px;
  height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: 24px;
  font-size: 15px;
  font-weight: 600;
}

/*logOut end*/

/*profile menu*/
.your_profile_wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.your_profile_content-wr {
  height: 100%;
  background-color: #fff;
}

.your_profile_content {
  width: 480px;
  margin: 24px 40px 0 40px;
  display: flex;
  flex-direction: column;
}



/*profile menu end*/

/*events */
.event_content-wr {
  margin-bottom: 32px;
}

.event_content__title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  position: relative;
}

.event_content__see_more {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  font-weight: 600;

}

.event_content__see_more a {
  color: #007fed !important;
}

.events_item-wr {
  margin: 0px -14px 0px -6px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  justify-content: flex-start;
}

.event_item {
  width: 33%;
  //width: 320px;
  box-sizing: border-box;
  padding: 0 6px 24px;
}

.event_item__pic {
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event_item__pic img {
  width: 100%;
  height: auto;
}

.event_info {
  width: 100%;
  text-aling: left;
}

.event_info_name {
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.event_info_date-gtd {
  width: 100%;
  display: flex;

  font-size: 15px;
  font-weight: 400;
  color: #999999;
  text-align: left;
}

.event_info_date {
  position: relative;
  margin-right: 22px;
}

.event_info_date::after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #cdcdcd;
  position: absolute;
  top: 8px;
  right: -14px;
}

/*events end*/

/*Closing soon*/

.events_tabs-wr {
  width: 100%;
  //min-width: 820px;
  margin-bottom: 60px;
}

.events_tabs_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__link {
    font-size: 15px;
    font-weight: 600;
    color: #007fed;
    text-decoration: none;
  }
}

.events_tabs_list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.events_tabs_item {
  font-size: 24px;
  font-weight: 700;
  color: #999999;
  margin-right: 24px;
}

.events_tabs_item_active {
  color: #000;
}

.table_events_list {
  width: 100%;
  border-spacing: 0 1px;
}

.table_events_head th {
  min-width: 60px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}

.table_events_head th:last-child, .t_time {
  text-align: right;
}

.table_events_list tr,
.t_from_event {
  height: 52px;

}

.table_events_list tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*place_a_bit*/

.place_a_bit-wr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  //display: none;
}

.place_a_bit_content-wr {
  width: 500px;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 24px 40px 0 40px;
}

.place_a_bit_content {
  width: 100%;
  height: 100%;
}

.place_a_bit__title {
  width: 100%;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.profile_status > div {
  display: flex;

}

.profile_status__photo {
  margin-right: 10px;
}

.profile_status__name {
  font-size: 15px;
  font-weight: 600;
}

.profile_status__event {
  margin-right: 79px;
  font-size: 15px;
}

.gte_and_by {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;

}

.profile_status__buyin {
  position: relative;
  margin-right: 21px;
}

.profile_status__buyin::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #949494;
  position: absolute;
  top: 6px;
  right: -11px;
}

.profile_status > .d-flex {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile_status__markup,
.profile_status__share {
  margin-right: 68px;
}

.profile_status > .d-flex > div {
  font-size: 15px;
}

.profile_status > .d-flex > div span {
  font-size: 12px;
  color: #949494;
}

.highest_bids {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.highest_bids span,
.you_bids span {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.highest_bids > div {
  width: 100%;
  display: flex;
}

.highest_bids > div input {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  margin-right: 2px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #edf8fd;
  padding-left: 12px;
  padding-right: 12px;
  color: #000;
}

.highest_bids > div ::-webkit-input-placeholder {
  color: #000;
}

.highest_bids > div input:last-child {
  width: auto;
}

.matched_bids > div > input {
  background-color: #e7f7e4;
}

.edit_status {
  position: relative;
}

.revocation_bid,
.conf_bid,
.del_bid {
  position: absolute;
  width: 24px !important;
  height: 24px;
  top: 33px;
  cursor: pointer;
}

.revocation_bid {
  left: 78%;
  background: url("/images/checked.svg") no-repeat center;
  background-size: 80%;
}

.conf_bid {
  left: 86%;
  background: url("/images/cross-out.svg") no-repeat center;
  background-size: 80%;

}

.del_bid {
  left: 96%;
  background: url("/images/desk/trash_cart.png") no-repeat center;
}

.you_bids span {
  display: block;
  font-size: 12px;
  color: #949494;
  margin-bottom: 10px;
}

.place_a_bit_content .edit_status input {
  background-color: #fff2ec;
}

.you_bids > div {
  width: 100%;
  display: flex;

}

.you_bids > div > div input {
  width: 100px;
  height: 38px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  padding-left: 12px;
  border: none;
  outline: none;
  margin-top: 5px;
}

.you_bids > div > div ::-webkit-input-placeholder {
  color: #000;
}

.you_bids label {
  font-size: 15px;
  color: #949494;

}

.add_new {
  width: 38px;
  height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
}

//.add_place_a_bit{
//    width: 118px;
//    height: 38px;
//    line-height: 38px;
//    border-radius: 6px;
//    background-color: #007fed;
//    cursor: pointer;
//    align-self: flex-end;
//    text-align: center;
//    color: #ffffff;
//}
.add_new::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
}

.add_new::after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
  left: calc(50% - 8px);

}

/*modal window reaped elements*/
.full_sc-wr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  //display: none;
}

.right_side_content-wr {
  width: 500px;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 24px 40px 0 40px;
  position: relative;
}

.right_side_content {
  width: 100%;
  height: 100%;
}

.right_side_content__title {
  width: 100%;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.right_side_content__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  font-weight: 200;
  background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}

.right_side_content__footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.buyin_span {
  font-size: 12px;
}

.bids_status > span {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  margin-bottom: 10px;
}

.bids_status > div {
  display: flex;
  margin-bottom: 8px;
}

.bids_status > div input {
  width: 100px;
  height: 40px;
  padding-left: 12px;
  background-color: #edf8fd;
  outline: none;
  border-radius: 4px;
  border: none;
  margin-right: 4px;
}

.bids_status > div input:nth-child(3) {
  width: call(auto - 40px);

}

.bids_status > div ::-webkit-input-placeholder {
  color: #000;
}

.confirm_bids {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  //background-color: #e7f7e5;
  background-color: #edf8fd;
}

.confirm_bids_accept {
  background-color: #e7f7e5;
  position: relative;
}

.confirm_bids_accept::after {
  content: '\2714';
  position: absolute;
  color: #000;
  top: 7px;
  left: 14px;
}

.right_side_content__footer_btn {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.pay_remaining {
  width: 209px;
  height: 38px;
  border-radius: 6px;
  background-color: #f6f6f6;
  line-height: 38px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  text-align: center;
  margin-right: 16px;
  margin-left: 24px;
}

.cansel_sale {
  cursor: pointer;
  color: #050505;
  opacity: 0.6;
}

.accept-wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.change_share {
  position: absolute;
  top: calc(50% - 105px);
  right: 50px;
  display: none;
}

.accept_bid {
  position: absolute;
  top: calc(50% - 105px);
  right: 50px;
}

.accept_changed_input {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

.accept_changed_input ::-webkit-input-placeholder {
  color: #000;
}

.accept_changed_input input {
  width: 99px;
  height: 40px;
  border-radius: 4px;
  background-color: #edf8fd;
  margin-right: 4px;
  box-sizing: border-box;
  padding-left: 12px;
  border: none;
  outline: none;
}

/*event detail*/
.event_details-wr {
  width: 100%;
  display: flex;
}

.main_event_list-wr {
  width: calc(100% - 423px);
  height: 100vh;
  background-color: #f6f6f6;
  padding: 32px 60px 0 32px;
  box-sizing: border-box;
  margin-top: -32px;
}

.main_event_list_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.main_event_list_status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-size: 15px;
  margin-bottom: 32px;
}

.main_event_gdt {
  display: flex;
}

.main_event_gdt > div:first-child {
  position: relative;
  margin-right: 21px;
}

.main_event_gdt > div:first-child::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #999999;
  top: 5px;
  right: -10px;
}

.main_event_table .t_from_img {
  margin-left: 0;
}
.main_event_table td{
  padding:0 5px;
}

.event_details {
  width: 422px;
  margin-right: 32px;
  outline: 1px solid black;
}

.input_disabled{
  background-color: transparent;
}
.profile_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
