<div class="footer" ng-controller="MenuController as MenuCtrl">
    <a ui-sref="invest">
        <div class="footer_item" ng-class="{'footer_item__active': MenuCtrl.menuItem == 'invest'}">
            <div class="footer_img footer_img_invest" ng-class="{'footer_img__active_invest': MenuCtrl.menuItem == 'invest'}"></div>
            invest
        </div>
    </a>
    <a ui-sref="bids">
        <div class="footer_item" ng-class="{'footer_item__active': MenuCtrl.menuItem == 'bids'}">
            <div class="footer_img footer_img_bids" ng-class="{'footer_img__active_bids': MenuCtrl.menuItem == 'bids' || MenuCtrl.menuItem == 'bids-empty' }"></div>
            bids
        </div>
    </a>
    <a ui-sref="sale">
        <div class="footer_item" ng-class="{'footer_item__active': MenuCtrl.menuItem == 'sales' ||  MenuCtrl.menuItem == 'sale-empty'}">
            <div class="footer_img footer_img_sale" ng-class="{'footer_img__active_sale': MenuCtrl.menuItem == 'sales'}"></div>
            sale
        </div>
    </a>
    <a ui-sref="wallet">
        <div class="footer_item" ng-class="{'footer_item__active': MenuCtrl.menuItem == 'wallet'}">
            <div class="footer_img footer_img_wallet" ng-class="{'footer_img__active_wallet': MenuCtrl.menuItem == 'wallet'}"></div>
            wallet
        </div>
    </a>
</div>
