
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

menu.main {
    position: fixed;
    bottom: 0;
    height: 44pt;
    width: 100%;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    background-color: #F8F8F8;
    a {
        font-size: 0;
        height: 44pt;
        width: 20%;

    }full_sc
    a.back {
        background: url("/images/left-arrow.svg")  no-repeat center;
        background-size: 25pt;
    }
    a.go {
        background: url("/images/left-arrow.svg")  no-repeat center;
        background-size: 25pt;
        transform: scaleX(-1);
    }
    a.copy {
        background: url("/images/copy.svg") no-repeat center;
        background-size: 25pt;
    }
    a.read {
        background: url("/images/open-book.svg") no-repeat center;
        background-size: 25pt;
    }
    a.exit {
        background: url("/images/out.svg") no-repeat center;
        background-size: 25pt;
    }
}

main {
    margin-bottom: 44pt;
    .profile {
        &-title {
            text-align: center;
            font-size: 16pt;
            line-height: 20pt;
            font-weight: bold;
            margin: 20px auto;
            position: relative;
        }
        &-close {
            background: url("/images/cancel.svg") no-repeat center;
            background-size: 22pt;
            position: absolute;
            left: 16pt;
            width: 26px;
            height: 26px;
        }
        &-back {
            background: url("/images/left-arrow.svg") no-repeat center;
            background-size: 22pt;
            position: absolute;
            left: 16pt;
            width: 26px;
            height: 26px;
        }
        &-save {
            position: absolute;
            right: 15px;
            color: orange !important;
            font-weight: normal;
        }
        &-photo {
            margin: 20px auto;
            width: 200px;
            height: 200px;
            border: 1px solid gray;
            background-color: lightgrey;
            border-radius: 4px;
            &-small {
                width: 100px;
                height: 100px;
                margin: 10px auto;
                border: 1px solid gray;
                background-color: lightgrey;
                border-radius: 4px;
            }
        }
        &-name {
            font-size: 20pt;
        }
        &-settings {
            &-title {
                text-transform: uppercase;
                font-sise: 13pt !important;
                color: gray;
            }
            &-block {
                width: 100%;
                padding-left: 15px;
                a {
                    display: inline-block;
                    font-size: 16pt;
                    padding: 15px 40px;
                    width: 95%;
                    border-bottom: 1px solid lightgray;
                    // background: url("/images/b_3@3x.png") no-repeat left;
                    background-size: 25px;
                    position: relative;
                }
               
                a:after {
                    content:"";
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    background: url("/images/left-arrow.svg")  no-repeat center;
                    background-size: 25px;
                    transform: scaleX(-1);
                    z-index: 10;
                    right: 5px;
                    top: 20px;
                }
            }
        }
        &-field {
            width: 100%;
            margin: 10px 20px;
            label {
                display: block;
                font-size: 13pt;
                color: #949494;
                margin: 0;
            }
            input[type="text"]{
                display: block;
                font-size: 16pt;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #e0e0e0;
                background-color: #f8fafc;
            }
        }
    }
    button {
        width: 90%;
        height: 48pt;
        margin: 20px auto;
        font-size: 16pt !important;
        font-weight: bold !important;
    }
}
/*images for <a>*/
.profile-settings-acc-notification{
    background: url("/images/b@3x_notification.png") no-repeat left;
}
.profile-settings-acc-privacy{
    background: url("/images/b@3x_privacy.png") no-repeat left;
}
.profile-settings-acc-account{
    background: url("/images/b@3x_acc.png") no-repeat left;
}
.profile-settings-acc-support{
    background: url("/images/b@3x_support.png") no-repeat left;
}
.profile-settings-acc-tell{
    background: url("/images/b@3x_tell.png") no-repeat left;
}
.profile-settings-acc-setting{
    background: url("/images/b@3x_setting.png") no-repeat left;
}
/*profile btn*/
.btn{
    background-color: rgb(0, 127, 237);
    border: none;
    border-radius: 10pt;
    -webkit-border-radius: 10pt;
    -moz-border-radius: 10pt;
    -ms-border-radius: 10pt;
    -o-border-radius: 10pt;
}
/*profile photo*/
.profile-photo{
    background: url("/images/user_logo.png") no-repeat center;
    background-size: auto;
}
/*binds url*/
/*binds.index*/
.binds{
    font-family: 'OpenSans', sans-serif;
    height: 100vh;
}
.logo_img{
    width: 100%;
    height: 64pt;
    line-height: 64pt;
    text-align: center;
    background: url("/images/b@3x_forlogo.png") no-repeat left;
    background-size: 25px;
    margin-bottom: 10pt;
}
.tabs-wr{
    width: 100%;
}
.binds-item{
    background-color: rgb(231, 247, 228);
    border: 1px solid rgb(231, 247, 228);
    border-radius: 8pt;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    -ms-border-radius: 8pt;
    -o-border-radius: 8pt;
    width: 250px;
    margin-bottom: 20pt;
    margin-right: 12pt;
}
.binds .tabs-wr:nth-child(3) .slider_container .swipe-wr .binds-item{
    background-color: rgb(255, 244, 236);
}
.binds .tabs-wr:nth-child(4) .slider_container .swipe-wr .binds-item{
    background-color: rgb(237, 248, 253);
}
.binds .tabs-wr:nth-child(5) .slider_container .swipe-wr .binds-item{
    background-color: rgb(237, 235, 246);
}
.binds .tabs-wr:nth-child(5){
    margin-bottom: 75px;
}
.tabs-wr__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10pt;
}
.see_all{
    cursor: pointer;
    color: rgb(0, 127, 237);
}
.binds-item__profile_info{
    width: 100%;
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;

}
.profile__photo{
    width: 36px;
    height: 36px;
    border: 1px solid grey;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: grey;
    margin-right: 10px;
}
.profile__photo img{
    width: 100%;
    height: auto;
}

.profile__name{
    font-size: 13pt;
    font-weight: 700;
}
.loop_counter{
    position: relative;
    margin-left: 72.5px;
    padding-left: 10px;
}
.loop_counter::before{
    content: "";
    width: 6px;
    height: 6px;
    border-bottom: 1px solid black; 
    border-left: 1px solid black; 
    opacity: .3;
    position: absolute;
    top: calc(50% - 6px);
    left: -10px;
}
.binds-item__game_info{
    padding-left: 16px;
}
.geme__text{
    display: flex;
    color: rgb(148, 148, 148);
    font-size: 13px;
    margin-bottom: 8pt;
}
.by_in{
    margin-right: 5px;
}
.by_in::after{
    content: '•';
}
.game_atrs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16pt;
}

.game_atrs div span
{
    color: rgb(148, 148, 148);
}
.game_atrs__date_start{
    width: 45%;
}
.swipe-wr{
    display: inline-flex;
}
.slider_container{
    overflow-y: hidden;
}
.footer_binds{
    width: 100%;
    height: 50pt;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: calc(100% - 50pt);
    background-color: #fff;
}
.footer_binds__item{
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}
.footer_binds__img{
    width: 24pt;
    height: 24pt;
    margin: 6pt auto;
}
.footer_binds__img img{
    width: 100%;
    height: 100%;
}
/*parts manched*/
// .slider_container__full{
//     overflow: unset;
// }
.full_sc{
    display: flex;
    flex-wrap: wrap;
}
.full_sc .binds-item{
    width: 100%;
    margin-bottom: 2pt;
    margin-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.full_sc .binds-item:last-child{
    margin-bottom: 68px;
}
.active_status{
    text-align: center;
    font-weight: 700;
    position: relative;
    height: 44pt;
    line-height: 44pt;
}
.active_status::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(/images/b@3x_left-arrow.png) no-repeat center;
    background-size: 22px;
    left: 0;
    top: 18px;

}
.tabs_item__active{
    border-bottom: 1px solid black;
}
/*login page*/
.login_page-wr{
    min-height: 100vh;
    font-family: 'OpenSans', sans-serif;
    color: #fff !important;
    background: url("/images/login_bg.png")  no-repeat center;
    background-size: 100%;
    background-position-y: 26%;
    background-color: black;


}
.login_block{
    margin-top: 100%;
}
.buy_stakes{
    width: 100%;
    text-align: center;
    font-size: 14pt;
    line-height: 20pt;
    margin-bottom: 24pt;
}
.btn_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24pt;

}
.login_btn{
    width: 166px;
    height: 48pt;
    line-height: 48pt;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 10pt;
    cursor: pointer;
}

.login_in{
    background-color: rgb(0, 127, 237);
    border-color: rgb(0, 127, 237);
}
.contine_without{
    width: 100%;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    cursor: pointer;
}
@media screen and (max-width: 320px){
    .login_btn{
        width: 140px !important;
    }
}

/*personal - information*/
.personal_inform{
    font-family: 'OpenSans', sans-serif;
    background-color: #fff;
    main-height: 100vh;
}
.personal_inform__title{
    width: 100%;
    font-weight: 500;
    height: 64pt;
    line-height: 64pt;
    text-align: center;
}
.personal_inform__title::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(/images/b@3x_left-arrow.png) no-repeat center;
    background-size: 22px;
    left: 15px;
    top: 32px;
}
.form_personal_inf{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form_personal_inf input{
    width: 100%;
    height: 70pt;
    line-height: 70pt;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 25px;
    text-align: center;
    outline: none;
}

.form_personal_inf input[type="submit"]{
    height: 48pt;
    line-height: 48pt;
    background-color: rgb(0, 127, 237);
    border: 1px solid rgb(0, 127, 237) !important;
    border-radus: 10pt !important;
    color: #fff;
    margin-bottom: 20pt;
}
.private_policy{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20pt;
}

/*account*/
.form_personal_inf input[name="confirm_pass"]{
    margin-bottom: 100pt;
}
/*check email*/
.form_personal_inf input[name="check_email"]{
    width: 80%;
    height: 46pt;
    line-height: 46pt;
    margin: 0 auto;
    margin-bottom: 20pt;
    border-radius: 10pt;
}
.check_imfo{
    width: 100%;
    text-align: center;
    margin-bottom: 32pt;
}
.check_imfo span{
    display: block;
    font-weight: 700;
    margin-bottom: 15pt;
}
.change_mail{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 127, 237);
    cursor: pointer;
    margin-bottom: 25px;
}

/*data-privacy*/
.data-privacy{
    width: 100%;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 32pt;
}
.data-privacy span{
    display: block;
    font-weight: 700;
    margin-bottom: 15pt;
}
.check-box-wr input[type="checkbox"]{
    width: 24pt;
    height: 24pt;
    margin-right: 14pt;
}
.check-box-wr input[type="checkbox"]:active{
    background-color: #1d68a7;
}
.check-box__email{
    width: 100%;
    display: flex;
}
.check-box-wr{
    margin-bottom: 32pt;
}
.see_policy{
    width: 100%;
    text-align: center;
}
.check-box__email label{
    position: relative;
}
.check-box__email label::after{
    content: "";
    width: 24pt;
    height: 24pt;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 6pt !important;
    position: absolute;
    top: 0;
    left: -46px;
    background-color: rgb(148, 148, 148);
}
input:checked + label::after{
    content: "\2714";
    text-align: center;
    color: #fff;
    line-height: 24pt;
    border: 1px solid rgb(0, 127, 237);
     background-color: rgb(0, 127, 237);
 }
/*new email*/
.new-email_imfo{
    width: 80%;
    margin: auto;
    color: rgb(148, 148, 148);
    text-align: center;
    margin-bottom: 24pt;
}
input[name="new_email"]{
     background-color: #fff !important;
     border: none !important;
     border-bottom: 1px solid rgb(148, 148, 148);
     //height: 33pt;
     //line-height: 33pt;
    margin-bottom: 125pt;
 }

