<div class="row events_filters" ng-if="$ctrl.show" ng-cloak>
    <div class="events_filters_wrapper events_filters_wrapper_first col-md-12">
        <div class="header_modal">
            <div class="header_filter_empty" ng-if="$ctrl.state == 'none'"></div>
            <div class="header_back" ng-click="$ctrl.state = 'none'" ng-if="$ctrl.state != 'none'"></div>
            <div class="header_title">{% $ctrl.titles[$ctrl.state] %}</div>
            <div class="header_close" ng-click="$ctrl.show = false" ng-if="$ctrl.state == 'none'"></div>
            <div class="header_filter_empty" ng-if="$ctrl.state != 'none'"></div>
        </div>

        <div ng-if="$ctrl.state == 'none'">
            <div class="filter_wrapper">
                <div class="filter_label">Events</div>
                <div class="filter_box"
                     ng-click="$ctrl.state = 'event'">
                    <span ng-if="!$ctrl.isSetFilter('event')">
                        Choose events
                    </span>
                    <span ng-repeat="event in $ctrl.isSetFilter('event')">
                        {% event %}<span class="comma">, </span>
                    </span>
                </div>
            </div>
            <div class="filter_wrapper">
                <div class="filter_label">Regions</div>
                <div class="filter_box"
                     ng-click="$ctrl.state = 'country'">
                    <span ng-if="!$ctrl.isSetFilter('country')">
                        Choose regions
                    </span>
                    <span ng-repeat="country in $ctrl.isSetFilter('country')">
                        {% country %}<span class="comma">, </span>
                    </span>

                </div>
            </div>
            <div class="filter_wrapper">
                <div class="filter_label">Venues</div>
                <div class="filter_box"
                     ng-click="$ctrl.state = 'venue'">
                    <span ng-if="!$ctrl.isSetFilter('venue')">
                        Choose venues
                    </span>
                    <span ng-repeat="venue in $ctrl.isSetFilter('venue')">
                        {% venue %}<span class="comma">, </span>
                    </span>

                </div>
            </div>
            <div class="events_filters__buttons">
                <div class="events_filters__button events_filters__button_save"
                     ng-click="$ctrl.applyFilters()">
                    Save filter
                </div>
                <div class="events_filters__button events_filters__button_clear"
                     ng-click="$ctrl.clearFilters()">
                    Clear all
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.state == 'event'">
            <div class="events_list_wrapper">
                <div class="events_list_search">
                    <input type="search" placeholder="Search event" ng-model="$ctrl.searchEvent">
                </div>
                <div class="events_list_items">
                    <div class="events_list_item"
                         ng-repeat="(id, event) in $ctrl.filters.event.options | optionFilter:$ctrl.searchEvent">
                        <md-checkbox ng-checked="$ctrl.activeFilters.event.indexOf(id) >= 0"
                                     ng-click="$ctrl.setFilter('event', id)">
                            {% event %}
                        </md-checkbox>
                    </div>

                </div>
            </div>
        </div>

        <div ng-if="$ctrl.state == 'country'">
            <div class="events_list_wrapper">
                <div class="events_list_search">
                    <input type="search" placeholder="Search region" ng-model="$ctrl.searchCountry">
                </div>
                <div class="events_list_items">

                    <div class="events_list_item"
                         ng-repeat="(id, country) in $ctrl.filters.country.options | optionFilter:$ctrl.searchCountry">
                        <md-checkbox ng-checked="$ctrl.activeFilters.country.indexOf(id) >= 0"
                                     ng-click="$ctrl.setFilter('country', id)">
                            {% country %}
                        </md-checkbox>
                    </div>

                </div>
            </div>
        </div>

        <div ng-if="$ctrl.state == 'venue'">
            <div class="events_list_wrapper">
                <div class="events_list_search">
                    <input type="search" placeholder="Search venue" ng-model="$ctrl.searchVenue">
                </div>
                <div class="events_list_items">

                    <div class="events_list_item"
                         ng-repeat="(id, venue) in $ctrl.filters.venue.options | optionFilter:$ctrl.searchVenue">
                        <md-checkbox ng-checked="$ctrl.activeFilters.venue.indexOf(id) >= 0"
                                     ng-click="$ctrl.setFilter('venue', id)">
                            {% venue %}
                        </md-checkbox>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>