<div class="row">

    <div class="binds event-list-main-wr col-md-12">
        <div class="header">
            <go-back></go-back>
            <div class="header_logo"></div>
            <div class="header_filter" ng-click="EvntsLstCtrl.showFilter = true"></div>
        </div>
        <div class="header_empty_height"></div>
        <div class="all_events-wr" ng-if="!EvntsLstCtrl.emptyResult()">

            <events ng-if="EvntsLstCtrl._opts.dataLoad"
                    events="EvntsLstCtrl.events" state="'list'">
            </events>

        </div>

        <div ng-if="EvntsLstCtrl.emptyResult()"
             class="empty-filter">
            <div class="empty-filter__title">
                Oops, nothing found!
            </div>
            <div class="empty-filter__description">
                Try to change your filter settings or reset to go
                back to the full list of events.
            </div>
            <div class="empty-filter__button">
                <div class="empty-filter__button__blue"
                     ng-click="EvntsLstCtrl.showFilter = true">
                    Change filter
                </div>
                <div class="empty-filter__button__white"
                     ng-click="EvntsLstCtrl.clearFilter()">
                    Clear all
                </div>
            </div>
        </div>
    </div>
    <span ng-include="'tpl/view/footer.template.html'"></span>

</div>

<events-filter events="EvntsLstCtrl.events" show="EvntsLstCtrl.showFilter"></events-filter>