<div class="row">

    <div class="binds event-list-main-wr col-md-12">
        <div class="header">
            <a ui-sref="invest"><div class="goback goback_unset"></div></a>
            <div class="header_logo">Events</div>
            <div class="header_filter"></div>
        </div>

        <div class="all_events-wr">


            <events ng-if="EvntsLstCtrl._opts.dataLoad"
                    events="EvntsLstCtrl.events" state="'list'">
            </events>

        </div>
    </div>
    <span ng-include="'tpl/view/footer.template.html'"></span>

</div>
