<div class="row">
    <div class="header">
        <div class="header_filter_empty">
            <a ui-sref="invest" class="goback"></a>

        </div>
        <div class="header_title">
            <div class="event_detail__header_title" ng-bind="EventCtrl.event.title"></div>
            <div class="event_detail__header_date" ng-bind="EventCtrl.event.date"></div>
        </div>
        <div class="header_filter_empty"></div>
    </div>
    <div class="header_empty_height header_empty_height_max"></div>



    <div class="courusel_no_limit_wr">

        <div class="courusel_no_limit_content">

                <div class="courusel_fixed" style="padding-top: 10px">
                    <div class="courusel_no_limit_item_wr">
                        <div class="courusel_no_limit_item">

                            <div class="courusel_item"
                                 ng-repeat="item in EventCtrl.event.subevents"
                                 ng-bind="item.title"
                                 ng-click="EventCtrl.getSale(item.id)"
                                 ng-class="{'main_event': EventCtrl.opened == item.id}">
                            </div>

                        </div>
                    </div>
                </div>
            <div class="header_empty_height header_empty_height_min"></div>





            <div class="event_detail_info">

                <div class="event_card_title">Buy in £1,000,000 • £500,000 GTE</div>

                <div class="event_card_attr" ng-bind="EventCtrl.event.date"></div>
                <div class="event_card_attr">
                    Casino Sochi, Sochi, Russia
                </div>
            </div>

            <sales-invest sales="EventCtrl.sales" subevent="false"></sales-invest>

        </div>
        <span ng-include="'tpl/view/footer.template.html'"></span>
    </div>
</div>
