.bids_container {
  margin-bottom: 40px;
}

.bids_title {
  width: 100%;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bids_title__text {
  height: 33px;
  opacity: 0.98;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.bids_title__link {
  width: 47px;
  height: 20px;
  opacity: 0.98;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  color: #007fed;
}

.bids_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.bids_card {
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0 6px;
}

.bids_card:first-child {
  margin-left: 0;
}

.bids_card:last-child {
  margin-right: 0;
}

.bids_card__green {
  background-color: #e7f7e4;
}

.bids_card__red {
  background-color: #fff2ec;
}

.bids_card__blue {
  background-color: #edf8fd;
}

.bids_card__grey {
  background-color: #edebf6;
}

.bids_card__title {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bids_card__title_img {
  margin-top: 4px;
  width: 32px;
  height: 32px;
}

.bids_card__title_img img {
  width: 100%;
}

.bids_card__title_text {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bids_card__title_text span:first-child {
  font-size: 15px;
  font-weight: 600;
}

.bids_card__title_text span:last-child {
  font-size: 12px;
}

.bids_card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  height: 20px;
}

.bids_card__price_dot {
  width: 5px;
  height: 5px;
  margin: 8px;
  border-radius: 2px;
  background-color: #cdcdcd;
}

.bids_card__price span {
  font-size: 15px;
  color: #949494;
}

.bids_card__options {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bids_card__options_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2px;
}

.bids_card__options_column:first-child {
  padding-left: 0;
}

.bids_card__options_column:last-child {
  padding-right: 0;
}

.bids_card__options_column span {
  white-space: nowrap;
}

.bids_card__options_column span:first-child {
  line-height: 17px;
  font-size: 12px;
  color: #949494;
}

.bids_card__options_column span:last-child {
  font-size: 15px;
  line-height: 20px;
}

.sale {
  /*active sales table*/
  /*create sale*/
}

.sale_container {
  margin-bottom: 40px;
}

.sale_title {
  width: 100%;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 17px;
}

.sale_title > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale_title__text {
  opacity: 0.98;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
}

.sale_title__text_disabled {
  color: rgba(0, 0, 0, 0.2);
}

.sale_title__btn {
  width: 127px;
  line-height: 32px;
  border-radius: 6px;
  background-color: #007fed;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.sale_title__link {
  width: 48px;
  opacity: 0.98;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  color: #007fed;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sale_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.sale_card {
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 0 6px;
}

.sale_card__yellow {
  background-color: #fff9e8;
}

.sale_card__grey {
  background-color: #f6f6f6;
}

.sale_card__title {
  font-size: 15px;
  font-weight: 600;
}

.sale_card__price {
  font-size: 12px;
  font-weight: 400;
}

.sale_card__options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale_card__options_column {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
  margin-bottom: 16px;
}

.sale_card__options_column span:first-child {
  font-size: 12px;
  color: #949494;
  line-height: 17px;
}

.sale_card__options_column span:last-child {
  font-size: 15px;
  line-height: 20px;
}

.sale_table {
  width: 100%;
  border-spacing: 0;
}

.sale_table_head {
  width: 100%;
}

.sale_table_head_td {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  height: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sale_table_head_td:last-child {
  text-align: right;
}

.sale_table_body__yellow tr td {
  background-color: #fff9e8;
}

.sale_table_body__grey tr td {
  background-color: #f6f6f6;
}

.sale_table_row {
  height: 77px;
  font-size: 15px;
}

.sale_table_row td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sale_table_row td:last-child {
  text-align: right;
  padding-right: 10px;
}

.sale_table_row__title {
  padding-left: 10px;
}

.sale_table_row__title span:first-child {
  font-weight: 600;
}

.sale_table_row__title span:last-child {
  color: rgba(0, 0, 0, 0.6);
}

.sale_table_row__data {
  color: rgba(0, 0, 0, 0.6);
}

.sale_table_row__data_bold {
  font-weight: 700;
  color: #000;
}

.sale_table_row__data_bold_green {
  color: #00c811;
}

.modal_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal_content_wrapper {
  width: 500px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
  border: solid 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 40px 0 40px;
}

.modal_content {
  position: relative;
  width: 100%;
}

.modal_content__title {
  width: 100%;
  height: 33px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.modal_content__title .close {
  width: 14px;
  height: 14px;
  background: url("/images/close.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

.modal_content__sale {
  width: 100%;
}

.modal_content__sale_title {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.34);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.modal_content__sale_title_select {
  text-transform: capitalize;
}

.modal_content__sale_select {
  width: 100%;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-bottom: 16px;
  margin-top: 4px;
  /*delete after add select content*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  /*delete after add select content end*/
}

.modal_content__sale .attributs_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal_content__sale .attributs_wrapper .attributs_item {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.modal_content__sale .attributs_wrapper .attributs_item span {
  display: block;
  margin-bottom: 4px;
}

.modal_content__sale .attributs_wrapper .attributs_item input {
  border: none;
  outline: none;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
  font-size: 18px;
  color: #000;
}

.modal_content__sale .attributs_wrapper .attributs_item:first-child {
  width: 45%;
}

.modal_content__sale .attributs_wrapper .attributs_item:last-child {
  width: 55%;
}

.modal_content__sale .attributs_wrapper .attributs_item__border {
  width: 132px !important;
  overflow: hidden;
}

.modal_content__sale .attributs_wrapper .attributs_item__border input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 0 10px 12px;
  border-radius: 6px;
}

.modal_foter {
  width: 500px;
  height: 70px;
  border-top: 1px solid #f2f2f2;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal_foter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  margin-right: 40px;
}

.modal_foter__buttons .button_blue {
  width: 148px;
  height: 38px;
  line-height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}

.modal_foter__buttons .button_text {
  height: 38px;
  line-height: 38px;
  cursor: pointer;
}

.event_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.event_left-side {
  width: 40%;
}

.event_left-side_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.event_left-side_header_link {
  color: #999999;
  font-size: 15px;
  text-decoration: none;
}

.event_right-side {
  height: 100vh;
  width: 60%;
  background: #f6f6f6;
  padding: 32px;
  margin-top: -32px;
  margin-right: -32px;
}

.modal_content__bid .profile_status > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_content__bid .profile_status > .d-flex {
  margin-top: 8px;
  margin-bottom: 20px;
}

.modal_content__bid .profile_status__photo {
  margin-right: 10px;
}

.modal_content__bid .profile_status__name {
  font-size: 15px;
  font-weight: 700;
}

.modal_content__bid .profile_status__event {
  margin-right: 79px;
  font-size: 12px;
}

.modal_content__bid .profile_status__gte_and_by {
  font-size: 15px;
  color: #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_content__bid .profile_status__buyin {
  position: relative;
  margin-right: 21px;
}

.modal_content__bid .profile_status__buyin::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #949494;
  position: absolute;
  top: 9px;
  right: -11px;
}

.modal_content__bid .profile_status__attributs div {
  margin-right: 68px;
  font-size: 15px;
}

.modal_content__bid .profile_status__attributs div span {
  font-size: 12px;
  color: #949494;
}

.modal_content__bid .bids_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal_content__bid .bids_group__highest_color input {
  background-color: #edf8fd;
}

.modal_content__bid .bids_group__matched_color input {
  background-color: #e7f7e4;
}

.modal_content__bid .bids_group__title {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.modal_content__bid .bids_group__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_content__bid .bids_group__row input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 40px;
  margin-right: 2px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  color: #000;
}

.modal_content__bid .bids_group__row input::-webkit-input-placeholder {
  color: #000000;
}

.modal_content__bid .bids_group__row input:-ms-input-placeholder {
  color: #000000;
}

.modal_content__bid .bids_group__row input::-ms-input-placeholder {
  color: #000000;
}

.modal_content__bid .bids_group__row input::placeholder {
  color: #000000;
}

.modal_content__bid .bids_group__row input:last-child {
  width: 220px;
}

.modal_content__bid .edit_status {
  position: relative;
}

.modal_content__bid .edit_status input {
  background-color: #fff2ec;
}

.modal_content__bid .edit_status .revocation_bid,
.modal_content__bid .edit_status .conf_bid,
.modal_content__bid .edit_status .del_bid {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 33px;
  cursor: pointer;
}

.modal_content__bid .edit_status .revocation_bid {
  left: 85%;
  background: url("/images/checked.svg") no-repeat center;
  background-size: 65%;
}

.modal_content__bid .edit_status .conf_bid {
  left: 92%;
  background: url("/images/cross-out.svg") no-repeat center;
  background-size: 65%;
}

.modal_content__bid .edit_status .del_bid {
  left: 100%;
  background: url("/images/desk/trash_cart.png") no-repeat center;
  background-size: 65%;
}

.modal_content__bid .you_bids__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.modal_content__bid .you_bids__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
  margin-right: 9px;
  overflow: hidden;
}

.modal_content__bid .you_bids__item label {
  font-size: 15px;
  color: #949494;
}

.modal_content__bid .you_bids__item input {
  width: 90px;
  height: 38px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  padding-left: 12px;
  border: none;
  outline: none;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_content__bid .you_bids__item input::-webkit-input-placeholder {
  color: #000;
}

.modal_content__bid .you_bids__item input:-ms-input-placeholder {
  color: #000;
}

.modal_content__bid .you_bids__item input::-ms-input-placeholder {
  color: #000;
}

.modal_content__bid .you_bids__item input::placeholder {
  color: #000;
}

.modal_content__bid .you_bids__place_bid {
  width: 118px;
  height: 38px;
  line-height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.modal_content__bid .add_new {
  width: 38px;
  height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

.modal_content__bid .add_new::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
}

.modal_content__bid .add_new::after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50%;
  left: calc(50% - 8px);
}

body,
html {
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
}

body * {
  font-family: "Open Sans", sans-serif;
}

.your_profile_wr_display {
  display: block;
}

a {
  text-decoration: none;
}

.deskwr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  position: fixed;
  width: 195px;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
}

.pseudo-header {
  width: 256px;
  height: 100%;
}

.logo {
  width: 100%;
}

.logo a {
  display: inline-block;
  height: 26px;
}

.logo img {
  width: auto;
  height: auto;
}

.menu {
  width: 100%;
  margin-top: 32px;
}

.menu_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.menu_item {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  color: #000;
  height: 40px;
  line-height: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_item__link {
  opacity: 0.4;
  text-decoration: none;
  color: #000;
}

.menu_item__link.active {
  opacity: 1;
}

.menu_item__wallet {
  opacity: 0.4;
}

.menu_item__count {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ff3700;
  text-align: center;
  line-height: 23px;
  color: #fff;
  font-size: 12px;
}

.last_up {
  min-height: 251px;
  height: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.last_up__title {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 17px;
  opacity: 0.34;
}

.last_up__item {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.last_up__item_blue {
  background-color: rgba(0, 127, 237, 0.1);
}

.last_up__item_yellow {
  background-color: rgba(255, 190, 0, 0.1);
}

.last_up__item_green {
  background-color: rgba(0, 200, 17, 0.1);
}

.last_up__item_red {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 55, 0, 0.1)), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 55, 0, 0.1), #ffffff);
}

.last_up_marker {
  width: 16px;
  height: 16px;
  overflow: hidden;
  padding: 16px 8px 16px 10px;
}

.last_up_marker img {
  width: auto;
  height: auto;
}

.message {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  min-height: 108px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__links a {
  width: 194px;
  height: 40px;
  opacity: 0.3;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  margin-right: 10px;
}

.profile_info {
  width: 100%;
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.profile_left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 8px;
}

.profile_img img {
  width: 100%;
  height: auto;
}

.profile_logout {
  width: 13px;
  height: 13px;
  cursor: pointer;
  background: url("/images/desk/right_enter.png") no-repeat left;
}

/*main content*/

.main_content {
  padding: 32px;
  max-width: 1145px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  /*width: 100%;
  box-sizing: border-box;*/
}

/*bids content*/

.bids_content_wr {
  width: 996px;
}

.bids_nav {
  width: 100%;
  margin-bottom: 16px;
}

.bids_nav_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bids_nav_item {
  margin-right: 24px;
}

.bids_nav_item a {
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
}

.bids_nav_item a.active {
  color: black;
}

.bids_table {
  width: 100%;
  border-spacing: 0 1px;
}

.bids_table_head th {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  height: 53px;
}

.bids_table_head th:first-child {
  padding-left: 10px;
}

.bids_table_head th:last-child {
  padding-right: 10px;
  text-align: right;
}

.bids_table td {
  height: 53px;
  line-height: 53px;
}

.bids_table_body tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bids_content_unmatched .bids_table_body tr {
  background-color: #fff2ec;
}

.bids_content_canceled .bids_table_body tr {
  background-color: #edebf6;
}

.bids_content_matched .bids_table_body tr {
  background-color: #e7f7e4;
}

.bids_content_settled .bids_table_body tr {
  background-color: #edf8fd;
}

.bids_content_matched .bids_table_body .t_time {
  text-align: left;
}

.t_outcome_minus {
  color: #ff334c;
}

.t_outcome_plus {
  color: #00c811;
}

.t_from {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t_from_img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 10px;
}

.t_from_img img {
  width: 100%;
  height: auto;
}

.t_event,
.t_buy_in,
.t_gte,
.t_time {
  color: #999999;
}

.t_markup,
.t_from,
.t_share {
  font-weight: 600;
}

/*logOut*/

.log_out-wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.log_out_profile {
  width: 420px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
}

.log_out_text {
  width: 324px;
  margin: 40px auto 24px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.log_out_text span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
  font-weight: 400;
}

.log_out_btn {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #050505;
  margin-bottom: 40px;
}

.log_out_ok {
  width: 111px;
  height: 38px;
  border-radius: 6px;
  background-color: #007fed;
  line-height: 38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-left: 24px;
  font-size: 15px;
  font-weight: 600;
}

/*logOut end*/

/*profile menu*/

.your_profile_wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.your_profile_content-wr {
  height: 100%;
  background-color: #fff;
}

.your_profile_content {
  width: 480px;
  margin: 24px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your_profile__title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 24px;
  position: relative;
}

.your_profile_close {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  font-weight: 200;
  background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}

.your_profile_info {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.your_profile__pic {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 16px;
}

.your_profile__pic img {
  width: auto;
  height: auto;
}

.your_profile__name {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  position: relative;
}

.change_photo {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 15px;
  color: #999999;
  width: 150px;
  font-weight: 100;
}

.link_party_pk {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 32px;
}

.link_party_inf {
  width: 100%;
  background-color: rgba(252, 77, 2, 0.1);
  padding: 16px 20px;
  text-align: center;
  color: #fc4d02;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  border-radius: 6px 6px 0 0;
}

.link_party_btn {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background-color: #fc4d02;
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}

.your_profile_nav {
  width: 100%;
}

.pr_nav_list {
  list-style: none;
  padding-left: 0;
}

.pr_nav_item {
  height: 54px;
  line-height: 54px;
  position: relative;
  padding-left: 30px;
  overflow: hidden;
}

.pr_nav_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pr_show_more {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: 16px;
  background: url("/images/desk/pr_show_more.png") no-repeat center;
  cursor: pointer;
}

.pr_nav_item a {
  color: #000;
  font-size: 16px;
}

.pr_setting {
  background: url("/images/b@3x_setting.png") no-repeat left;
  background-size: 20px;
}

.pr_notification {
  background: url("/images/b@3x_notification.png") no-repeat left;
  background-size: 20px;
}

.pr_privacy {
  background: url("/images/b@3x_privacy.png") no-repeat left;
  background-size: 20px;
}

.pr_acc_inf {
  background: url("/images/b_3@3x.png") no-repeat left;
  background-size: 20px;
}

.pr_support {
  background: url("/images/b@3x_support.png") no-repeat left;
  background-size: 20px;
}

.pr_tell {
  background: url("/images/b@3x_tell.png") no-repeat left;
  background-size: 20px;
}

/*profile menu end*/

/*events */

.event_content-wr {
  margin-bottom: 32px;
}

.event_content__title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  position: relative;
}

.event_content__see_more {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  font-weight: 600;
}

.event_content__see_more a {
  color: #007fed !important;
}

/*event filter*/

.filter-wr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.filter_item {
  width: 243px;
  height: 38px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-right: 8px;
}

.filter_item:last-child {
  margin-right: 0;
}

.filter_item select {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.06);
  margin-right: 8px;
  outline: none;
  padding-left: 12px;
  cursor: pointer;
}

.filter_item option {
  padding-bottom: 12px;
}

/*event filter end*/

.events_item-wr {
  margin: 0 -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event_item {
  margin: 0 9px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.event_item__pic {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 12px;
}

.event_item__pic img {
  width: 100%;
  height: auto;
}

.event_info {
  width: 100%;
  text-aling: left;
}

.event_info_name {
  width: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.event_info_date-gtd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  text-align: left;
}

.event_info_date {
  position: relative;
  margin-right: 22px;
}

.event_info_date::after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #cdcdcd;
  position: absolute;
  top: 5px;
  right: -10px;
}

/*events end*/

/*Closing soon*/

.events_tabs-wr {
  width: 100%;
  min-width: 820px;
  margin-bottom: 60px;
}

.events_tabs_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.events_tabs_nav__link {
  font-size: 15px;
  font-weight: 600;
  color: #007fed;
  text-decoration: none;
}

.events_tabs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.events_tabs_item {
  font-size: 24px;
  font-weight: 700;
  color: #999999;
  margin-right: 24px;
}

.events_tabs_item_active {
  color: #000;
}

.table_events_list {
  width: 100%;
  border-spacing: 0 1px;
}

.table_events_head th {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}

.table_events_head th:last-child,
.t_time {
  text-align: right;
}

.table_events_list tr,
.t_from_event {
  height: 52px;
}

.table_events_list tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*place_a_bit*/

.place_a_bit-wr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.place_a_bit_content-wr {
  width: 500px;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 40px 0 40px;
}

.place_a_bit_content {
  width: 100%;
  height: 100%;
}

/*modal window reaped elements*/

.full_sc-wr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right_side_content-wr {
  width: 500px;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 40px 0 40px;
  position: relative;
}

.right_side_content {
  width: 100%;
  height: 100%;
}

.right_side_content__title {
  width: 100%;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.right_side_content__close {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  font-weight: 200;
  background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}

.right_side_content__footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.buyin_span {
  font-size: 12px;
}

.bids_status > span {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  margin-bottom: 10px;
}

.bids_status > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.bids_status > div input {
  width: 100px;
  height: 40px;
  padding-left: 12px;
  background-color: #edf8fd;
  outline: none;
  border-radius: 4px;
  border: none;
  margin-right: 4px;
}

.bids_status > div input:nth-child(3) {
  width: auto-40px();
}

.bids_status > div ::-webkit-input-placeholder {
  color: #000;
}

.confirm_bids {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #edf8fd;
}

.confirm_bids_accept {
  background-color: #e7f7e5;
  position: relative;
}

.confirm_bids_accept::after {
  content: '\2714';
  position: absolute;
  color: #000;
  top: 7px;
  left: 14px;
}

.right_side_content__footer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pay_remaining {
  width: 209px;
  height: 38px;
  border-radius: 6px;
  background-color: #f6f6f6;
  line-height: 38px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  text-align: center;
  margin-right: 16px;
  margin-left: 24px;
}

.cansel_sale {
  cursor: pointer;
  color: #050505;
  opacity: 0.6;
}

.accept-wr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.change_share {
  position: absolute;
  top: calc(50% - 105px);
  right: 50px;
  display: none;
}

.accept_bid {
  position: absolute;
  top: calc(50% - 105px);
  right: 50px;
}

.accept_changed_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

.accept_changed_input ::-webkit-input-placeholder {
  color: #000;
}

.accept_changed_input input {
  width: 99px;
  height: 40px;
  border-radius: 4px;
  background-color: #edf8fd;
  margin-right: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  border: none;
  outline: none;
}

/*event detail*/

.event_details-wr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_event_list-wr {
  width: calc(100% - 423px);
  height: 100vh;
  background-color: #f6f6f6;
  padding: 32px 60px 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -32px;
}

.main_event_list_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.main_event_list_status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999999;
  font-size: 15px;
  margin-bottom: 32px;
}

.main_event_gdt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_event_gdt > div:first-child {
  position: relative;
  margin-right: 21px;
}

.main_event_gdt > div:first-child::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #999999;
  top: 5px;
  right: -10px;
}

.main_event_table .t_from_img {
  margin-left: 0;
}

.event_details {
  width: 422px;
  margin-right: 32px;
  outline: 1px solid black;
}

