<md-sidenav class="md-sidenav-right full_height full_height__sidnav" style="position: fixed !important;"
            md-is-open="isSidenavOpen" md-component-id="right">
    <md-content class="place_wrapper">
        <div class="my_sale__header">
            <div class="header_modal">
                <div class="header_close" ng-click="$ctrl.close('right')"></div>
                <div class="header_title">Place a bid</div>
                <div class="header_filter_empty"></div>
            </div>
            <div class="binds-item__game_info card__event_info">
                <div class="card__profile_info">
                    <div class="sale_card__list_profile__photo card__profile_foto">
                        <img src="/images/players.png" alt="">
                    </div>
                    <div class="profile_text">
                        <div class="card__profile_name ng-binding">Louise Romero</div>
                        <div class="card__event ng-binding">MILLIONS Russia, 1A</div>
                    </div>
                </div>
                <div class="event_card_fund ng-binding">£ 1000000 GTD • £ 500000 GTD</div>
                <div class="card__attribute manage_sale_atr manage_sale_atr__yellow">
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <span>Markup</span>
                        <input type="number" placeholder="1.00" ng-model="$ctrl.sale.markup" ng-disabled="true">
                    </div>
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <span>Share</span>
                        <input type="number" placeholder="1.38%" ng-model="$ctrl.sale.share" ng-disabled="true">
                    </div>
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <span>Value</span>
                        <input type="number" placeholder="$1938" ng-model="$ctrl.sale.amount" ng-disabled="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="my_sale__content">
            <div class="modal_type_bids"
                 ng-if="items.length > 0"
                 ng-repeat="(key, items) in $ctrl.sale.bids">
                <div class="blocks_header_title_name" ng-bind="key">
                </div>

                <div class="modal_type_bids_type" ng-repeat="bid in items">
                    <div class="modal_type_bids__item"
                         ng-class="{
                            'modal_bids_item_color_highest':key == 'highest',
                            'modal_bids_item_color_matched': key == 'matched',
                            'modal_bids_item_color_unmatched': key == 'unmatched'
                          }"
                         ng-bind="bid.markup"></div>
                    <div class="modal_type_bids__item"
                         ng-class="{
                            'modal_bids_item_color_highest':key == 'highest',
                            'modal_bids_item_color_matched': key == 'matched',
                            'modal_bids_item_color_unmatched': key == 'unmatched'
                          }"
                         ng-bind="bid.share"></div>
                    <div class="modal_type_bids__item"
                         ng-class="{
                            'modal_bids_item_color_highest':key == 'highest',
                            'modal_bids_item_color_matched': key == 'matched',
                            'modal_bids_item_color_unmatched': key == 'unmatched'
                          }">
                        <div ng-bind="bid.amount"></div>

                    </div>
                </div>
            </div>
            <div class="you_bids" ng-if="$ctrl._opts.stateCreate">
                <span class="blocks_header_title_name">YOUR BID</span>
                <div class="card__attribute manage_sale_atr">
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <label class="warm_grey">Markup</label>
                        <input type="number" placeholder="" ng-model="$ctrl.bid.markup" ng-change="$ctrl.changeMarkup()" autofocus>
                    </div>
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <label class="warm_grey">Share</label>
                        <input type="number" placeholder="" ng-model="$ctrl.bid.share" ng-change="$ctrl.changeShare()">
                    </div>
                    <div class="sale_card_list_atr_item manage_sale_atr_item">
                        <label class="warm_grey">Amount</label>
                        <input type="number" placeholder="" ng-model="$ctrl.bid.amount" ng-change="$ctrl.changeAmount()">
                    </div>
                </div>
            </div>
        </div>
        <div class="hideempty">
            <div class="manage_button">
                <div class="button_half__white" ng-click="$ctrl.setState()">
                    Cancel
                </div>
                <div class="button_half__blue" ng-click="$ctrl.saveMyBid()">
                    Place
                </div>
            </div>
            <div class="modal_add_bid"
                 ng-if="!$ctrl._opts.stateCreate" ng-click="$ctrl.setState()">
                Add new bid
            </div>
        </div>
    </md-content>
</md-sidenav>
