<div class="modal_wrapper" ng-if="$ctrl.show ">

    <div class="row col-md-12 modal_header_fixed">
        <div class="header">
            <div class="header_close" ng-click="$ctrl.close()"></div>
            <div class="header_title">Place a bid</div>
            <div class="header_filter_empty"></div>
        </div>


        <div>
            <div class="card__profile_info">
                <div class="sale_card__list_profile__photo card__profile_foto">
                    <img src="/images/players.png" alt="">
                </div>
                <div class="profile_text">
                    <div class="card__profile_name" ng-bind="$ctrl.sale.creator.name">
                    </div>
                    <div class="card__event" ng-bind="$ctrl.sale.event.title">
                    </div>
                </div>
            </div>

        </div>


        <div class="binds-item__game_info card__event_info">
            <div class="geme__text card__event_info_item">
                <div class="by_in card__event_info_attr">
                    Buy in £ <span>1,000,000</span>
                </div>
                <div class="gte card__event_info_attr">
                    £ <span>1,000,000</span> GTE
                </div>
            </div>


            <div class="card__attribute card__attribute_row ng-scope">
                <div class="sale_card_list_atr_item">
                    <span>Markup</span><br>
                    <span class="card__attribute_value ng-binding">1.2</span>
                </div>
                <div class="sale_card_list_atr_item">
                    <span>Value</span><br>
                    <span class="card__attribute_value">£</span>
                    <span class="card__attribute_value ng-binding">300</span>
                </div>
                <div class="sale_card_list_atr_item">
                    <span>Date of Start</span><br>
                    <span class="card__attribute_value ng-binding">31  October</span>
                </div>
            </div>
        </div>
    </div>


    <div class="modal_bids_block_wr col-md-12" ng-class="{'show_your_bid': $ctrl._opts.stateCreate == true}">
        <div class="modal_bids_block">
            <div class="modal_type_bids">
                <div class="blocks_header_title_name">
                    HIGHEST BIDS
                </div>
                <div class="modal_type_bids_type" ng-repeat="bid in  $ctrl.sale.bids | orderBy:'-share' | limitTo:3">
                    <div class="modal_type_bids__item modal_bids_item_color_highest" ng-bind="bid.markup"></div>
                    <div class="modal_type_bids__item modal_bids_item_color_highest" ng-bind="bid.share"></div>
                    <div class="modal_type_bids__item modal_bids_item_color_highest" ng-bind="bid.amount"></div>
                </div>

                <div class="blocks_header_title_name">
                    MATCHED BID
                </div>
                <div class="modal_type_bids_type" ng-repeat="  bid in  $ctrl.sale.bids | filter: {status:2}">
                    <div class="modal_type_bids__item modal_bids_item_color_matched" ng-bind="bid.markup"></div>
                    <div class="modal_type_bids__item modal_bids_item_color_matched" ng-bind="bid.share"></div>
                    <div class="modal_type_bids__item modal_bids_item_color_matched" ng-bind="bid.amount"></div>
                </div>
            </div>

            <div class="bid_new" ng-if="$ctrl._opts.stateCreate">
                <div class="blocks_header_title_name">
                    your bid
                </div>
                <div class="bid_new__attribute_wraper">
                    <div class="bid_new__attribute">
                        <span>Markup</span>
                        <input class="bid_attribute_input" type="number" placeholder="1.0" ng-model="$ctrl.bid.markup">
                    </div>
                    <div class="bid_new__attribute">
                        <span>Share</span>
                        <input class="bid_attribute_input" type="number" placeholder="1.0%" ng-model="$ctrl.bid.share">
                    </div>
                    <div class="bid_new__attribute">
                        <span>Amount</span>
                        <input class="bid_attribute_input" type="number" placeholder="$100" ng-model="$ctrl.bid.amount">
                    </div>
                </div>
            </div>

            <div class="manage_button">
                <div class="button_half__white" ng-click="$ctrl.setState()">
                    Cancel
                </div>
                <div class="button_half__blue" ng-click="$ctrl.setState('store')">
                    Place
                </div>
            </div>
            <div class="modal_add_bid" ng-if="!$ctrl._opts.stateCreate" ng-click="$ctrl.setState()">
                Add new bid
            </div>
        </div>
    </div>
</div>

