<div class="modal_wrapper" ng-if="$ctrl.show ">

    <div class="row col-md-12">
        <div class="modal_place_a_bid">
            <div class="modal_place_a_bid__title">
                Place a bid
                <div class="modal_place_a_bid_close" ng-click="$ctrl.close()">
                    X
                </div>
            </div>
            <div class="modal_sale_item-wrapper">
                <div class="sale_item__profile_info">
                    <div class="profile__photo">
                        <img src="/images/pl_5.png" alt="">
                    </div>
                    <div class="profile_text">
                        <div class="profile__name" ng-bind="$ctrl.sale.creator.name">
                        </div>
                        <div class="profile__country" ng-bind="$ctrl.sale.event.title">
                        </div>
                    </div>
                </div>

                <div class="sale_item__sale_info">
                    <div class="sale_info">
                        <div class="by_in">
                            Buy in £ <span ng-bind="$ctrl.sale.event.buy_in"></span>
                        </div>
                        <div class="gte">
                            £ <span ng-bind="$ctrl.sale.subevent.buy_in"></span> GTE
                        </div>
                    </div>
                    <div class="sale_atrs">
                        <div class="sale_atrs__single">
                            <span>Markup</span><br>
                            <span ng-bind="$ctrl.sale.markup"></span>
                        </div>
                        <div class="sale_atrs__single">
                            <span>Share</span><br>
                            <span ng-bind="$ctrl.sale.share"></span>
                        </div>
                        <div class="sale_atrs__single">
                            <span>Value</span><br>
                            <span ng-bind="$ctrl.sale.value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_bids_block">
            <div class="modal_type_bids">
                <div class="modal_type_bids__title">
                    HIGHEST BIDS
                </div>
                <div class="modal_type_bids__highest">
                    <input type="text" placeholder="1">
                    <input type="text" placeholder="1.53%">
                    <input type="text" placeholder="$1,182.22">
                </div>
                <div class="modal_type_bids__highest">
                    <input type="text" placeholder="1.09" id="123">
                    <input type="text" placeholder="0.53%">
                    <input type="text" placeholder="$442">
                </div>
            </div>
            <div class="modal_type_bids">
                <div class="modal_type_bids__title">
                    MATCHED BID
                </div>
                <div class="modal_type_bids__matched">
                    <input type="text" placeholder="1">
                    <input type="text" placeholder="1.53%">
                    <input type="text" placeholder="$1,182.22">
                </div>

            </div>
        </div>
        <div class="modal_add_bid" style="">
            Add new bid
        </div>

    </div>
</div>
