<div class="card__bids"
     ng-class="{
                    'bids-item__matched':      item.status === 2,
                    'bids-item__unmatched':    item.status === 3,
                    'bids-item__settled':      item.status === 4,
                    'bids-item__canceled':     item.status === 5,
                     }"
     ng-repeat="item in $ctrl.bids"
     ng-if="$ctrl.state =='row'"
>

    <div>

        <div class="card__profile_info">
            <div class="sale_card__list_profile__photo card__profile_foto">
                <img src="/images/players.png" alt="">
            </div>
            <div class="profile_text">
                <div class="card__profile_name" ng-bind="item.investor.name">
                </div>
                <div class="card__event" ng-bind="item.sale.subevent.event.title">
                </div>
            </div>
        </div>
        <div class="card__subevent" ng-bind="item.subevent.title">
        </div>
    </div>

    <div class="binds-item__game_info card__event_info">
        <div class="geme__text card__event_info_item">
            <div class="by_in card__event_info_attr">
                Buy in £ <span>1,000,000</span>
            </div>
            <div class="gte card__event_info_attr">
                £ <span>1,000,000</span> GTE
            </div>
        </div>



        <div class="card__attribute card__attribute_row" ng-if="item.status ==1 ">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Date of Start</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status == 2">
            <div class="sale_card_list_atr_item">
                <span>Sale</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Bid</span><br>
                <span class="card__attribute_value">£<span class="card__attribute_value" ng-bind="item.amount"></span></span>

            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">20</span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Time</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.short_date"></span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===3">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Refund</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.short_date"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Outcome</span><br>
                <span class="card__attribute_status_red" >-£<span class="card__attribute_status_red">256</span>


                </span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===4">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Refund</span><br>
                <span class="card__attribute_value">12 days</span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Status</span><br>
                <span class="card__attribute_status_green" > In progress</span>
            </div>
        </div>




    </div>
</div>


<div class="card__bids_list"
     ng-class="{
                    'bids-item__matched':      item.status === 2,
                    'bids-item__unmatched':    item.status === 3,
                    'bids-item__settled':      item.status === 4,
                    'bids-item__canceled':     item.status === 5,
                     }"
     ng-repeat="item in $ctrl.bids"
     ng-if="$ctrl.state == 'list'">

    <div>

        <div class="card__profile_info">
            <div class="blocks_header_link" ng-if="item.status==2"><a ui-sref="events">edit</a></div>
            <div class="sale_card__list_profile__photo card__profile_foto">
                <img src="/images/players.png" alt="">
            </div>
            <div class="profile_text">
                <div class="card__profile_name" ng-bind="item.investor.name">
                </div>
                <div class="card__event" ng-bind="item.sale.subevent.event.title">
                </div>
            </div>

        </div>
        <div class="card__subevent" ng-bind="item.subevent.title" ng-if="item.status==1">
        </div>
    </div>

    <div class="card__event_info">
        <div class="card__event_info_item">
            <div class="by_in card__event_info_attr">
                Buy in £ <span>1,000,000</span>
            </div>
            <div class="gte card__event_info_attr">
                £ <span>1,000,000</span> GTE
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===1">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Date of Start</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===2">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Date of Start</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
            <div class="sale_card_list_atr_item" >
                <span>T. until close</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===3">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Refund</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Outcome</span><br>
                <span class="card__attribute_status_red" >-£<span class="card__attribute_status_red">1,000,000</span>


                </span>
            </div>
        </div>

        <div class="card__attribute card__attribute_row" ng-if="item.status ===4">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Refund</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Status</span><br>
                <span class="card__attribute_status_green" > In progress</span>
            </div>
        </div>

    </div>
</div>
