
<div class="card__bids"
     ng-class="{
                    'binds-item__matched':      item.status === 1,
                    'binds-item__unmatched':    item.status === 2,
                    'binds-item__settled':      item.status === 3,
                    'binds-item__canceled':     item.status === 4,
                     }"
     ng-repeat="item in $ctrl.bids">

    <div>

        <div class="card__profile_info">
            <div class="sale_card__list_profile__photo card__profile_foto">
                <img src="/images/players.png" alt="">
            </div>
            <div class="profile_text">
                <div class="card__profile_name" ng-bind="item.investor.name">
                </div>
                <div class="card__event" ng-bind="item.sale.subevent.event.title">
                </div>
            </div>
            <div class="blocks_header_link"><a ui-sref="events">edit</a></div>
        </div>
        <div class="card__subevent" ng-bind="item.subevent.title">
        </div>
    </div>

    <div class="binds-item__game_info card__event_info">
        <div class="geme__text card__event_info_item">
            <div class="by_in card__event_info_attr">
                Buy in £ <span>1,000,000</span>
            </div>
            <div class="gte card__event_info_attr" >
                £ <span>1,000,000</span> GTE
            </div>
        </div>

        <div class="card__attribute card__attribute_row">
            <div class="sale_card_list_atr_item">
                <span>Markup</span><br>
                <span class="card__attribute_value" ng-bind="item.markup"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Value</span><br>
                <span class="card__attribute_value">£</span>
                <span class="card__attribute_value" ng-bind="item.amount"></span>
            </div>
            <div class="sale_card_list_atr_item">
                <span>Date of Start</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
            <div class="sale_card_list_atr_item" ng-if="item.status ===2">
                <span>T. until close</span><br>
                <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
            </div>
        </div>
    </div>
</div>
