<div class="event-item" ng-if="$ctrl.state == 'row'" ng-repeat="item in $ctrl.events">
    <div class="event-item-wr">

        <a ui-sref="event({id:item.id})">
            <div class="event-item__img">
                <img src="/images/event.png" alt="">
            </div>
        </a>
        <div class="event-item__text">
            <a href="">
                <div class="event-item__title" ng-bind="item.title"></div>
            </a>
            <div class="event-item__summa">£ {%item.fund%} GTD</div>

            <div class="event-item__date" ng-bind="item.date"></div>
        </div>

    </div>
</div>


<div class="event_item_rpt" ng-if="$ctrl.state == 'list'" ng-repeat="item in $ctrl.events">

    <div class="selected_event">
        <img src="/images/select_event_bg.png" alt="">
    </div>
    <div class="selected_event_info event_item col-md-12">

        <div class="event_list-wr" ng-click="$ctrl.openDetail(item.id)">


            <div class="event-item__title" ng-bind="item.title"></div>
            <a ui-sref="evet({id:item.id})">See info</a>
            <div class="event-item__summa">£ {%item.fund%} GTD</div>
            <div class="event-item__date" ng-bind="item.date"></div>
        </div>
        <a href="">
            <div class="see_more"></div>
        </a>
        <div ng-if="$ctrl.showDetail(item.id)">Event list</div>
        <div ng-if="$ctrl.showDetail(item.id)" ng-repeat="subevent in item.subevents">

            <div ng-bind="subevent.title"></div>
            <div class="event-item__summa">£ {%item.fund%} GTD</div> . <div class="event-item__summa">£ {%subevent.fund%} GTD</div>
            <div ng-bind="item.date"></div>
        </div>
    </div>


</div>
