<div class="row" ng-cloak>
    <div class="col-md-12">
        <div class="header">
            <a ui-sref="profile" ng-if="InvstCtrl.user != null">
                <div class="header_profile"></div>
            </a>

            <a ui-sref="auth.login" ng-if="InvstCtrl.user == null">
                <div class="header_profile"></div>
            </a>

            <div class="header_logo"></div>
            <div class="header_filter" ng-click="InvstCtrl.showFilter = true"></div>
        </div>
        <div class="header_empty_height"></div>

        <div class="invest_events">
            <div class="blocks_header_title">
                <div class="blocks_header_title_name">Events</div>
                <div class="blocks_header_link"><a ui-sref="events">See All</a></div>
            </div>


            <events-carousel ng-if="InvstCtrl._opts.dataLoad"
                             events="InvstCtrl.events" state="'row'">
            </events-carousel>

            <div class="blocks_header_title">
                <div class="blocks_header_title_name">Players</div>
                <div class="blocks_header_link"><a ui-sref="sale-all">See All</a></div>
            </div>
        </div>
    </div>
    <div class="fullscreen">
        <div class="invest_sales">
            <div class="tabs_list tabs_list__single">
                <div class="tabs_item"
                     ng-class="{'tabs_item__active': InvstCtrl.filter == 'closing'}"
                     ng-click="InvstCtrl.setFilter('closing')">Closing soon
                </div>
            </div>
        </div>
        <sales-invest sales="InvstCtrl.sales"></sales-invest>
        <span ng-include="'tpl/view/footer.template.html'"></span>
    </div>
</div>

<events-filter events="InvstCtrl.events" show="InvstCtrl.showFilter"></events-filter>