<div class="row">
    <div class="col-md-12">
        <div class="header">
            <div class="header_profile"></div>
            <div class="header_logo">LOGO</div>
            <div class="header_filter"></div>
        </div>
        <div class="invest_events">
            <div class="blocks_header_title">
                <div class="blocks_header_title_name">Events</div>
                <div><a class="blocks_header_link" ui-sref="events">See All</a></div>
            </div>


            <events-carousel ng-if="InvstCtrl._opts.dataLoad"
                             events="InvstCtrl.events" state="'row'">
            </events-carousel>

            <div class="blocks_header_title">
                <div class="blocks_header_title_name">Players</div>
                <div><a class="blocks_header_link" ui-sref="events">See All</a></div>
            </div>
        </div>
    </div>
        <div class="fullscreen">
            <div class="invest_sales">
                <div class="tabs_list">
                    <div class="tabs_item"
                         ng-class="{'tabs_item__active': InvstCtrl.filter == 'closing'}"
                         ng-click="InvstCtrl.setFilter('closing')">Closing
                    </div>
                    <div class="tabs_item"
                         ng-class="{'tabs_item__active': InvstCtrl.filter == 'markup'}"
                         ng-click="InvstCtrl.setFilter('markup')">Lowest markup
                    </div>
                </div>
            </div>
            <!--<div class="swipe-wr full_sc events_player"></div>-->
                <sales sales="InvstCtrl.sales" state="'invest'"></sales>

            <span ng-include="'tpl/view/footer.template.html'"></span>
        </div>
</div>
