<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen"
            md-component-id="right_terms">

    <md-content>
        <div class="modal_content">
            <div class="your_profile__title">
                Terms of Service
                <div class="your_profile_close"></div>
            </div>
            <div class="data_privacy__discription">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab aliquam aperiam, at, cupiditate delectus dolores doloribus ducimus earum harum illo in
                iste maiores minima mollitia quos recusandae reprehenderit vel velit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab aliquam aperiam, at, cupiditate delectus dolores doloribus ducimus earum harum illo in
                iste maiores minima mollitia quos recusandae reprehenderit vel velit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab aliquam aperiam, at, cupiditate delectus dolores doloribus ducimus earum harum illo in
                iste maiores minima mollitia quos recusandae reprehenderit vel velit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab aliquam aperiam, at, cupiditate delectus dolores doloribus ducimus earum harum illo in
                iste maiores minima mollitia quos recusandae reprehenderit vel velit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab aliquam aperiam, at, cupiditate delectus dolores doloribus ducimus earum harum illo in
                iste maiores minima mollitia quos recusandae reprehenderit vel velit.
            </div>

        </div>


    </md-content>


</md-sidenav>
