<div class="header">
    <a ui-sref="profile">
        <div class="header_profile"></div>
    </a>
    <div class="header_logo">LOGO</div>
    <div class="header_empty"></div>
</div>
<div class="main_content main_content__empty">
    <div class="main_content__empty_container">
        <div class="main_content__empty_container__img main_content__empty_container__img_bids"></div>
        <div class="main_content__empty_container__title">Your bids</div>
        <div class="main_content__empty_container__discription">An email has been sent. It contains a link you must click to reset your password. You can only request 1 new password within 2 hours</div>
        <div class="main_content__empty_container__buttons">
            <a ui-sref="auth.login"><div class="main_content__empty_container__button
                main_content__empty_container__button__blue">Log In</div></a>
            <a ui-sref="auth.registration"><div class="main_content__empty_container__button">Register</div></a>
        </div>
    </div>
</div>
<span ng-include="'tpl/view/footer.template.html'"></span>
