<div class="row">
    <div class="binds binds_full_sc">

        <div class="tabs-wr">
            <div class="active_status col-md-12">
                Bids
            </div>
            <div class="tabs-wr__title col-md-12">

                <a ui-sref="bids-filter({filter: menuItem.name})"
                   ng-repeat="menuItem in BidsCtrl.menu"
                   ng-bind="menuItem.name" style="text-transform:capitalize"
                   ng-class="{'tabs_item__active':BidsCtrl.$stateParams.filter === menuItem.name}"
                ></a>
            </div>
            <div class="slider_container slider_container__full">
                <div class="swipe-wr full_sc">
                    <bids class="bids_row__fullscreen" bids="BidsCtrl.bids"></bids>
                </div>
            </div>
        </div>


        <span ng-include="'tpl/view/footer.template.html'"></span>
    </div>

</div>