<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content"
         style="display: flex; flex-direction: column;">
        <div class="event_content-wr">
            <div class="event_content__title">
                Events
                <div class="event_content__see_more">
                    <a ui-sref="events">See all</a>
                </div>
            </div>
            <div class="events_item-wr">
                <a ng-repeat="event in InvestCtrl.events"
                    ui-sref="events-detail({id:event.id})" class="event_item">
                    <div class="event_item__pic" style="background-image: url({%event.image%})">

                    </div>
                    <div class="event_info">
                        <div class="event_info_name" ng-bind="event.title"></div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date" ng-bind="event.period"></div>
                            <div class="event_info_gtd">{% event.fund | currency:'$':0%} GTD</div>
                        </div>

                    </div>

                </a>
            </div>
        </div>
        <div ng-if="InvestCtrl.sales && InvestCtrl.sales.length > 0"
            class="events_tabs-wr">
            <div class="events_tabs_nav">
                <ul class="events_tabs_list">
                    <li class="events_tabs_item events_tabs_item_active">Closing soon</li>
                </ul>
                <a ui-sref="invest-sales" class="events_tabs_nav__link">See all</a>
            </div>
            <table class="table_events_list main_event_table" ng-if="InvestCtrl.sales.length > 0">
                <thead class="table_events_head">
                <tr>
                    <th>From</th>
                    <th>Event</th>
                    <th>Buy in</th>
                    <th>GTE</th>
                    <th>Markup</th>
                    <th>Share</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody class="table_events_body">
                <tr ng-repeat="(index,sale) in InvestCtrl.sales"
                    ng-click="InvestCtrl.toggleSidenav(index)">
                    <td class="t_from">
                        <div class="t_from_fix_height">
                            <div class="t_from_img" style="background-image: url({%sale.creator.avatar%})"></div>

                            <span ng-bind="sale.creator.name"></span>
                        </div>
                    </td>
                    <td class="t_event" ng-bind="sale.event.title"></td>
                    <td class="t_buy_in" ng-bind="sale.event.buy_in | currency:'$':0"></td>
                    <td class="t_gte" ng-bind="sale.event.fund | currency:'$':0"></td>
                    <td class="t_markup" ng-bind="sale.markup"></td>
                    <td class="t_share">{% sale.share %}%</td>
                    <td class="t_time">&lt; {%10 + index%} hours</td>
                </tr>
                </tbody>
            </table>
        </div>

        <stub ng-if="InvestCtrl.sales.length == 0"
              style="height: auto"
              title="Closing sales"
              description="There are no closing sales yet"
              class="stub">
        </stub>
    </div>
</div>
<bid-place sale ="InvestCtrl.sale"></bid-place>
