<div class="header">
    <a ui-sref="invest">
        <div class="header_close"></div>
    </a>
    <div class="header_title">Yor profile</div>
    <div class="header_empty"></div>
</div>
<div class="header_empty_height"></div>
<div class="profile_info">
    <div class="profile_img">
        <img src="/images/user_logo.png">
    </div>
    <div class="profile_hint">Tap to replace photo</div>
    <div class="profile_name">Milton Jimenez</div>
    <div class="profile_button">Link Party Poker account</div>
</div>
<div class="profile_block_title">settings</div>
<div class="profile_menu">
    <div class="profile_menu_item">
        <div>
            <div class="icon icon_notification"></div>
            <div class="profile_menu_item__text">Notifications and sounds</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>
    <div class="profile_menu_item">
        <div>
            <div class="icon icon_privacy"></div>
            <div class="profile_menu_item__text">Privacy and security</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>
    <div class="profile_menu_item">
        <div>
            <div class="icon icon_account"></div>
            <div class="profile_menu_item__text">Account info</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>
    <div class="profile_menu_item ">
        <div>
            <div class="icon icon_support"></div>
            <div class="profile_menu_item__text">Support</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>
    <div class="profile_menu_item">
        <div>
            <div class="icon icon_tell"></div>
            <div class="profile_menu_item__text">Tell a friend</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>
    <div class="profile_menu_item">
        <div>
            <div class="icon icon_setting"></div>
            <div class="profile_menu_item__text">Settings</div>
        </div>
        <div class="profile_menu_item__more"></div>
    </div>

</div>

