<div class="login_page_wrapper">
    <div class="login_page__form_wrapper">
        <div class="login_page__form_wrapper_title">Please Login
            <a ui-sref="index"><div class="goback"></div></a>
        </div>
        <form ng-submit="LgCtrl.sendAuthData($event)" class="form_personal_inf">

            <input type="text"  placeholder="Your e-mail" ng-model="LgCtrl.userEmail" required>

            <input type="password"  placeholder="Your password" ng-model="LgCtrl.userPassword" required>

            <button class="button" type="submit"  style="border-radius:10pt;" ng-click="LgCtrl.sendAuthData($event)">Enter</button>
        </form>
    </div>
</div>
