<div class="login_page_wrapper">
    <div class="login_page__form_wrapper">
        <div class="login_page__form_wrapper_title">Registration
            <a ui-sref="index"><div class="goback"></div></a>
        </div>
        <form ng-submit="RgCtrl.sendRegisterForm($event)" class="form_personal_inf">
            <input type="text"  placeholder="Your name" ng-model="RgCtrl.userName"  required>
            <input type="text"  placeholder="Your e-mail" ng-model="RgCtrl.userEmail" required>
            <input type="text"  placeholder="Your age" ng-model="RgCtrl.userAge" required>
            <input type="password"  placeholder="Your password" ng-model="RgCtrl.userPassword" required>
            <input type="password"  placeholder="Confirm password"  ng-model="RgCtrl.passwordConfirmation" required>
            <button class="button" type="submit"  style="border-radius:10pt;" ng-click="RgCtrl.sendRegisterForm($event)">continue</button>
        </form>
        <div class="private_policy">
            By creating an account you agree to our
            <a ui-sref="terms-and-conditions">Terms & Conditions</a> and  <a ui-sref="privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>
