<div class="as__item-wr as__item-wr-active"
     ng-if="$ctrl.state === 'list'"
     ng-repeat="item in $ctrl.sales"
     ng-class="{
     'sale_active': item.status === 1,
     'sale_canceled': item.status === 2,
     }"
>

    <div class="as__item__text">
        <div class="as__item__title" ng-bind="item.event.title"></div>
        <a ui-sref="sale-manage({id: item.id})">Edit</a>
        <div class="loop_counter loop_counter_sale" ng-bind="item.sub_event_id">
            Second loop
        </div>
        <div class="as__item__by">Buy in $<span ng-bind="item.event.buy_in"></span> + $<span
            ng-bind="item.subevent.buy_in"></span></div>
    </div>
    <div class="as__item__tags as__item__tags-active">
        <div class="tags_closes">
            <span>Closes</span><br>
            73 days
        </div>
        <div class="tags_markup">
            <span>Markup</span><br>
            1.20
        </div>
        <div class="tags_average">
            <span>Average markup</span><br>
            0
        </div>
        <div class="tags_share">
            <span>Share sold</span><br>
            0% of 20%
        </div>
        <div class="tags_amount">
            <span>Amount raised</span><br>
            $400 of $1,000
        </div>
    </div>
</div>


<div class="as__item-wr active_sale"

     ng-if="$ctrl.state === 'row'"
     ng-class="{
     'sale_active': item.status === 1,
     'sale_canceled': item.status === 2,
     }"
     ng-repeat="item in $ctrl.sales">
    <div class="as__item__text">
        <div class="as__item__title" ng-bind="item.event.title"></div>
        <div class="as__item__by">Buy in $<span ng-bind="item.event.buy_in"></span> + $<span
            ng-bind="item.subevent.buy_in"></span></div>
    </div>
    <div class="as__item__tags">
        <div class="tags_closes">
            <span>Closes</span><br>
            73 days
        </div>
        <div class="tags_markup">
            <span>Markup</span><br><span ng-bind="item.markup"></span>
        </div>
        <div class="tags_share">
            <span>Share sold</span><br>
            0% of 20%
        </div>
        <div class="tags_amount">
            <span>Amount raised</span><br>
            $400 of $1,000
        </div>
    </div>

</div>

<!--INVEST-->

<div class="sale_card__list"
     ng-class="{'sale_card__list-last_child': $ctrl.sales.length == key+1}"
     ng-click="$ctrl.click(key)"
     ng-if="$ctrl.state === 'invest'"
     ng-repeat=" (key, item) in $ctrl.sales">

    <div class="sale_card__list_profile_info">
        <div class="sale_card__list_profile__photo">
            <img src="/images/players.png" alt="">
        </div>
        <div class="profile_text">
            <div class="sale_card__profile_name" ng-bind="item.creator.name">

            </div>
            <div class="sale_card__event" ng-bind="item.event.title">

            </div>
        </div>

    </div>
    <div class="sale_card__subevent" ng-bind="item.subevent.title" ng-if="$ctrl.sabevent">

    </div>


    <div class="game_atrs sale_card_list_atr">
        <div class="sale_card_list_atr_item">
            <span>Markup</span><br>
            <span class="sale_card_list_atr_value" ng-bind="item.markup"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Value</span><br>
            <span class="sale_card_list_atr_value">£</span>
            <span class="sale_card_list_atr_value" ng-bind="item.amount"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Date of Start</span><br>

            <span class="sale_card_list_atr_value" ng-bind="item.subevent.date"></span>
        </div>
    </div>
</div>

<sale-modal sale="$ctrl.item" show="$ctrl.show"></sale-modal>
