<div class="sale_card__list sale_card__list_sales"
     ng-if="$ctrl.state === 'list'"
     ng-repeat="item in $ctrl.sales"
     ng-class="{
     'sale_active': item.status === 1,
     'sale_canceled': item.status === 2,
     }"
>

    <div class="event_card_text">
        <div class="event_card_title" ng-bind="item.event.title"></div>
        <div class="blocks_header_link"><a ui-sref="events">edit</a></div>

        <div class="card__subevent" ng-bind="item.subevent.title">
        </div>
        <div class="card__sale_event_byin">Buy in $<span ng-bind="item.event.buy_in"></span> + $<span
            ng-bind="item.subevent.buy_in"></span></div>
    </div>
    <div class="card__attribute_sale_card">
        <div class="sale_card_list_atr_item">
            <span>Closes</span><br>
            <span class="card__attribute_value">21</span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Markup</span><br>
            <span class="card__attribute_value" ng-bind="item.markup"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Share sold</span><br>
            <span class="card__attribute_value">0% of 20%</span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Amount raised</span><br>
            <span class="card__attribute_value">$400 of $1,000</span>
        </div>
    </div>

</div>


<div class="sale_card__row"

     ng-if="$ctrl.state === 'row'"
     ng-class="{
     'sale_active': item.status === 1,
     'sale_canceled': item.status === 2,
     }"
     ng-repeat="item in $ctrl.sales">
    <div class="event_card_text">
        <div class="event_card_title" ng-bind="item.event.title"></div>
        <div class="card__sale_event_byin">Buy in $<span ng-bind="item.event.buy_in"></span> + $<span
                ng-bind="item.subevent.buy_in"></span></div>
    </div>

    <div class="card__attribute_sale_card">
        <div class="sale_card_list_atr_item">
            <span>Closes</span><br>
            <span class="card__attribute_value">21</span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Markup</span><br>
            <span class="card__attribute_value" ng-bind="item.markup"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Share sold</span><br>
            <span class="card__attribute_value">0% of 20%</span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Amount raised</span><br>
            <span class="card__attribute_value">$400 of $1,000</span>
        </div>
    </div>
</div>

<!--INVEST-->

<div class="sale_card__list"
     ng-class="{'sale_card__list-last_child': $ctrl.sales.length == key+1}"
     ng-click="$ctrl.click(key)"
     ng-if="$ctrl.state === 'invest'"
     ng-repeat=" (key, item) in $ctrl.sales">


    <div>
        <div class="card__profile_info">
            <div class="sale_card__list_profile__photo card__profile_foto">
                <img src="/images/players.png" alt="">
            </div>
            <div class="profile_text">
                <div class="card__profile_name" ng-bind="item.creator.name">
                </div>
                <div class="card__event" ng-bind="item.event.title">
                </div>
            </div>
        </div>
        <div class="card__subevent" ng-bind="item.subevent.title">
        </div>
    </div>

    <div class="card__attribute">
        <div class="sale_card_list_atr_item">
            <span>Markup</span><br>
            <span class="card__attribute_value" ng-bind="item.markup"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Value</span><br>
            <span class="card__attribute_value">£</span>
            <span class="card__attribute_value" ng-bind="item.amount"></span>
        </div>
        <div class="sale_card_list_atr_item">
            <span>Date of Start</span><br>
            <span class="card__attribute_value" ng-bind="item.subevent.date"></span>
        </div>
    </div>
</div>

<sale-modal sale="$ctrl.item" show="$ctrl.show"></sale-modal>
