<md-sidenav class="md-sidenav-right full_height full_height__sidnav" style="position: fixed !important;"
            md-is-open="isSidenavOpen" md-component-id="right">
    <md-content class="col-md-12">
        <div class="row sale_form_wr">
            <div class="sale_form col-md-12">
                <div class="page_title col-md-12">
                    Create new sale
                    <a class="goback" style="left: 0" ng-click="$ctrl.buildToggler('right')">

                    </a>
                </div>
                <div class="sale_form_content">
                    <div class="blocks_header_title_name sale_form_title">
                        Event and buy-in
                    </div>
                    <label class="blocks_header_title_name">Event</label>
                    <div layout="row" layout-align="start_stretch">
                        <md-select class="md-no-underline form-Select-theme"
                                   ng-style="{'border':($ctrl.validateEvent == false) ? '1px solid red':'1px solid rgba(0, 0, 0, 0.08);'}"
                                   ng-change="$ctrl.getSubevents()"
                                   ng-model="$ctrl.sale.event_id" placeholder="Choose an event">
                            <md-option value="{%item.id%}" ng-repeat="item in $ctrl.events">{%item.title%}</md-option>
                        </md-select>
                    </div>


                    <label class="blocks_header_title_name" ng-if="$ctrl._opts.showFlight">Subevents</label>
                    <div layout="row" layout-align="start_stretch" ng-if="$ctrl._opts.showFlight">
                        <md-select class="md-no-underline form-Select-theme"
                                   ng-style="{'border':($ctrl.validateSubEvent == false) ? '1px solid red':'1px solid rgba(0, 0, 0, 0.08);'}"
                                   ng-model="$ctrl.sale.sub_event_id"
                                   ng-change="$ctrl.fillStatic()"
                                   placeholder="Choose an subevent">
                            <md-option value="{%item.id%}" ng-repeat="(key, item) in $ctrl.subevents">{%item.title%}</md-option>
                        </md-select>
                    </div>
                    <div class="card__attribute card__attribute_static">
                        <div class="sale_card_list_atr_item">
                            <span>Buy-in</span><br>
                            <span class="card__attribute_value" ng-bind="$ctrl.static.buy_in || currency"></span>
                        </div>
                        <div class="sale_card_list_atr_item">
                            <span>Closing time</span><br>
                            <span class="card__attribute_value" ng-bind="$ctrl.static.closing_time">10:44, 10 Apr 2018</span>
                        </div>

                    </div>
                    <div class="hr"></div>
                    <div class="blocks_header_title_name sale_form_title">Offer</div>
                    <div class="card__attribute">
                        <div class="sale_card_list_atr_item">
                            <span>Share</span><br>
                            <input
                                ng-style="{'border-bottom':($ctrl.validateShare == false) ? '1px solid red':'1px solid rgba(0, 0, 0, 0.08);'}"
                                ng-model="$ctrl.sale.share" type="number" placeholder="0" ng-change="$ctrl.calcAmount()">

                        </div>
                        <div class="sale_card_list_atr_item">
                            <span>Markup</span><br>
                            <input
                                ng-style="{'border-bottom':($ctrl.validateMarkup == false) ? '1px solid red':'1px solid rgba(0, 0, 0, 0.08);'}"
                                ng-model="$ctrl.sale.markup" type="number" placeholder="1.0" ng-change="$ctrl.calcAmount()">

                        </div>
                        <div class="sale_card_list_atr_item">
                            <span>Amount $</span><br>
                            <input
                                ng-style="{'border-bottom':($ctrl.validateAmount == false) ? '1px solid red':'1px solid rgba(0, 0, 0, 0.08);'}"
                                ng-model="$ctrl.sale.amount" type="number" placeholder="0">
                        </div>

                    </div>

                </div>
                <div class="button creact_sale_btn" ng-click="$ctrl.createSale()">Create a Sale</div>
            </div>
        </div>
    </md-content>
</md-sidenav>
