<div class="event_card__row" ng-if="$ctrl.state == 'row'" ng-repeat="item in $ctrl.events">


        <a ui-sref="events-detail({id:item.id})">
            <div class="event_card__row_img" style="background: url({%item.image%})">

            </div>
        </a>
            <div class="event_card__row_info">
                <a class="event_card_title" href="" ng-bind="item.title">
                </a>
                <div class="event_card_attr">£{%item.fund%} GTD</div>

                <div class="event_card_attr" ng-bind="item.period"></div>
            </div>


</div>



<div class="event_card_list" ng-if="$ctrl.state == 'list'" ng-repeat="item in $ctrl.events">
<a ui-sref="events-detail({id:item.id})">
    <div class="event_card_list_img" style="background: url({%item.image%})"></div>

    <div class="event_card_list_info no-padding">

        <div class="event_card_list_wr">


            <div class="event_card_title" ng-bind="item.title"></div>
            <div class="blocks_header_link event_card_details_link">
            <!--<a class="" ui-sref="evet({id:item.id})">See info</a>-->
            </div>
            <div class="event_card_fund">£{%item.fund%} GTD</div>
            <div class="event_card_date" ng-bind="item.date"></div>
            <div class="blocks_header_title_name event_card_subevent_list_title" ng-if="$ctrl.showDetail(item.id)">Event list</div>
        </div>
    </div>

</a>
</div>
