.bids {
  &_container {
    margin-bottom: 28px;
  }

  &_title {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__text {
      height: 33px;
      opacity: 0.98;
      font-size: 24px;
      font-weight: bold;
      color: #000000;
    }

    &__link {
      width: 47px;
      height: 20px;
      opacity: 0.98;
      font-size: 15px;
      font-weight: 600;
      line-height: 14px;
      color: #007fed;
    }
  }

  &_row {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin: 16px -16px 0 -6px;
  }

  &_card_wrapper {
    width: 33%;
    box-sizing: border-box;
    padding: 0 6px;
    min-width: 256px;
    margin-bottom: 12px;
  }

  &_card {
    //width: 100%;
    border-radius: 4px;
    padding: 12px 16px;
    //margin: 0 6px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &__green {
      background-color: #e7f7e4;
    }

    &__red {
      background-color: #fff2ec;
    }

    &__blue {
      background-color: #edf8fd;
    }

    &__grey {
      background-color: #edebf6;
    }

    &__title {
      height: 32px;
      display: flex;

      &_img {
        margin-top: 4px;
        width: 32px;
        height: 32px;

        img {
          width: 100%;
        }
      }

      &_text {
        padding-left: 10px;
        display: flex;
        flex-direction: column;

        span:first-child {
          font-size: 15px;
          font-weight: 600;
        }
        span:last-child {
          font-size: 12px;
        }
      }
    }

    &__price {
      display: flex;
      align-items: center;
      margin-top: 8px;
      height: 20px;

      &_dot {
        width: 5px;
        height: 5px;
        margin: 8px;
        border-radius: 2px;
        background-color: #cdcdcd;
      }

      span {
        font-size: 15px;
        color: #949494;
      }
    }

    &__options {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;

      &_column {
        display: flex;
        flex-direction: column;
        padding: 0 2px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        span {
          white-space: nowrap;
        }

        span:first-child {
          line-height: 17px;
          font-size: 12px;
          color: #949494;
        }
        span:last-child {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }

  }

}

.bids-common {
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    color: #949494;
    margin-bottom: 4px;
    display: flex;

    span {
      display: flex;
      width: 25%;
      padding-left: 10px;
      box-sizing: border-box;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }

  &__items {
    display: flex;
    width: 100%;

    &-yellow{
      span, input{
        background: #fff9e8;
      }
    }

    &-blue{
      span, input {
        background: #edf8fd;
      }
    }

    span, input {
      height: 40px;
      box-sizing: border-box;
      font-size: 15px;
      line-height: 40px;
      border: none;
      border-left: 1px solid white;
      margin: 0;
      display: flex;
      width: 25%;
      padding: 0 10px;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        flex-grow: 1;
        border-radius: 0 4px 4px 0;
      }
    }
  }

}