.bids {
  &_container {
    margin-bottom: 40px;
  }

  &_title {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__text {
      height: 33px;
      opacity: 0.98;
      font-size: 24px;
      font-weight: bold;
      color: #000000;
    }

    &__link {
      width: 47px;
      height: 20px;
      opacity: 0.98;
      font-size: 15px;
      font-weight: 600;
      line-height: 14px;
      color: #007fed;
    }
  }

  &_row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  &_card {
    width: 324px;
    height: 121px;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;

    &__green {
      background-color: #e7f7e4;
    }

    &__red {
      background-color: #fff2ec;
    }

    &__blue {
      background-color: #edf8fd;
    }

    &__grey {
      background-color: #edebf6;
    }

    &__title {
      height: 32px;
      display: flex;

      &_img {
        margin-top: 4px;
        width: 32px;
        height: 32px;

        img {
          width: 100%;
        }
      }

      &_text {
        padding-left: 10px;
        display: flex;
        flex-direction: column;

        span:first-child {
          font-size: 15px;
          font-weight: 600;
        }
        span:last-child {
          font-size: 12px;
        }
      }
    }

    &__price {
      display: flex;
      align-items: center;
      margin-top: 8px;
      height: 20px;

      &_dot {
        width: 5px;
        height: 5px;
        margin: 8px;
        border-radius: 2px;
        background-color: #cdcdcd;
      }

      span {
        font-size: 15px;
        color: #949494;
      }
    }

    &__options {
      margin-top: 8px;
      display: flex;
      justify-content: flex-start;

      &_column {
        display: flex;
        flex-direction: column;
        margin-right: 18px;

        span:first-child {
          line-height: 17px;
          font-size: 12px;
          color: #949494;
        }
        span:last-child {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }

  }

}
