.main_content{
    &__empty{
        height: 100vh;
        padding: 0!important;
        display: flex;
        justify-content: center;
        align-items: center;
        &_container{
            width: 420px;
            &__img{
                width: 120px;
                height: 120px;
                margin: 0 auto 24px auto;
                &_sale{background: url("/images/desk/empty_user/empty_user_sale.png") no-repeat center; background-size: 100%;}
                &_bids{background: url("/images/desk/empty_user/empty_user_bids.png") no-repeat center 100%; background-size: 100%;}
                &_wallet{background: url("/images/desk/empty_user/empty_user_wallet.png") no-repeat center 100%; background-size: 100%;}
            }
            &__title{
                width: 100%;
                text-align: center;
                color: #000000;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            &__discription{
                width: 100%;
                text-align: center;
                font-size: 15px;
                color: #000000;
                font-weight: 400;
                margin-bottom: 32px;
            }
            &__buttons{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            &__button{
                width: 120px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                font-size: 15px;
                font-weight: 700;
                color: #000;
                border-radius: 10px;
                border: 1px solid #e0e0e0;
                cursor: pointer;
            }
            &__button__blue{
                background-color: #007fed;
                color: #ffffff;
                border-color:  #007fed;
                margin-right: 16px;

            }
        }
    }
}
