.event_filters {
  display: flex;
  margin: 0 -4px 24px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex-grow: 1;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.04);
    margin:0 4px;

    select {
      width: 100%;
      height: 38px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.06);
      margin-right: 8px;
      outline: none;
      padding-left: 12px;
      cursor: pointer;
    }

    option {
      padding-bottom: 12px;
    }
  }
}
