.event_filters {
  display: flex;
  margin: 0 -4px 6px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  &__item {
    width: 25%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 4px;

    &_select {
      height: 38px;
      display: flex;
      margin: 0;
      padding: 0 12px;
      background: #f5f5f5;
      border-radius: 6px;
      font-size: 15px;

      & md-select-menu {
        margin-top: 45px;
      }
    }
  }

  &__active {
    display: flex;
    flex-wrap: wrap;

    &_wrapper {
      display: flex;
      align-items: center;
      margin-right: 36px;
      height: 40px;
    }

    &_title {
      line-height: 20px;
      font-size: 15px;
      color: #808080;
      margin-right: 12px;
    }

    &_item {
      display: flex;
      align-items: center;
      background: #007fed;
      height: 28px;
      border-radius: 6px;
      padding: 0 8px;
      margin: 0 4px;
      color: #ffffff;
      cursor: pointer;

      &__title {
        line-height: 28px;
        font-size: 15px;
        margin-right: 8px;
        white-space: nowrap;
      }

      &__close {
        opacity: 0.4;
      }

      &:hover &__close {
        opacity: 0.8;
      }
    }

  }

  &__close_all {
    position: absolute;
    cursor: pointer;
    width: 38px;
    height: 38px;
    right: -46px;
    border-radius: 6px;
    font-size: 28px;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;

    span {
      opacity: 0.6;
    }
  }
}

.event_filter_select_multiple {
  top: 82px !important;
  margin-left: 26px;
  background-color: #f5f5f5;

  md-option {
    background-color: #f5f5f5;
    height: 40px;
  }

  & .event_filter_select-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #f5f5f5;
  }

  & .event_filter_select-header {
    padding-left: 10.667px;
    height: 38px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    background-color: #f5f5f5;

    & input::placeholder {
      color: #acacac;
      opacity: 1;
    }
  }

  & md-content._md {
    padding: 0;
    max-height: 240px;
  }
}

.event_filter_select{
  top: 82px !important;
  background-color: #f5f5f5;

  md-option {
    background-color: #f5f5f5;
    height: 40px;
  }

  & md-content._md {
    padding: 0;
    max-height: 240px;
  }
}