.events_admin{
    width: 100%;
    &__title{
        width: 100%;
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    &__table{
        width: 100%;
        border-spacing:0;
        &_header{
            th{
                font-size: 12px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                padding-bottom: 8px;
                width: 33%;
            }
        }
        &_body{
            td{
                height: 52px;
                border-bottom: 1px solid rgba(0,0,0,0.05);
                font-size: 15px;
            }
        }
        &_dates{
            color: rgba(0,0,0,0.6);
        }
        &_payout{
            font-weight: 600;
        }
    }
}
