.event_filters {
  display: flex;
  margin: 0 -4px 24px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex-grow: 1;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.04);
    margin:0 4px;

    &_select {
      height: 38px;
      display: flex;
      margin: 0;
      padding: 0 12px;
      background: #f5f5f5;
      border-radius: 6px;
      font-size: 15px;
    }
  }
}
