.event {

  &_wrapper {
    display: flex;
    flex-direction: row;
  }

  &_left-side {
    padding-top: 6px;
    padding-right: 32px;
    width: 40%;

    &_header {
      display: flex;
      height: 20px;
      margin-bottom: 16px;

      &_link {
        display: flex;
        color: #999999;
        font-size: 15px;
        text-decoration: none;

        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 21px;
          margin-right: 2px;
          background: url(/images/left-arrow.svg) no-repeat center;
          background-size: 12px;
        }
      }
    }

    &_card {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      &_img {
        width: 100%;
        height: auto;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      &_title {
        margin: 12px 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
      }

      &_description {
        display: flex;
        color: #cdcdcd;
        font-size: 15px;
        a {
          margin-left: auto;
          color: #007fed;
          font-weight: 600;
        }
      }
    }

    &_list {
      display: flex;
      flex-direction: column;

      &_title {
        line-height: 17px;
        font-weight: 600;
        font-size: 15px;
        color: #cdcdcd;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &_item {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        min-height: 42px;
        padding: 13px 0 15px;
        border-bottom: 1px solid #F2F2F2;

        &:last-child {
          border: none;
        }

        &:hover, & .active {
          background-color: #f6f6f6;
          margin: -2px -16px;
          padding: 15px 16px 17px;
          border-radius: 4px;
          border-bottom-color: #f6f6f6;
        }

        &_title {
          font-weight: 600;
          font-size: 15px;
          margin-bottom: 4px;
        }

        &_description {
          display: flex;
          flex-wrap: wrap;
          color: #cdcdcd;
          font-size: 15px;

          span:last-child {
            margin-left: auto;
          }
        }

      }
    }
  }

  &_right-side {
    min-height: calc(100vh - 64px);
    width: 60%;
    background: #f6f6f6;
    padding: 32px 60px 32px 32px;
    margin: -32px -60px -32px 0;

    &_header {
      display: flex;
      flex-direction: column;

      &_title {
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
      }

      &_description {
        display: flex;
        flex-wrap: wrap;
        color: #cdcdcd;
        font-size: 15px;

        span:last-child {
          margin-left: auto;
        }
      }
    }

    &_table {
      margin-top: 24px;
      width: 100%;
      table {
        border-collapse: collapse;
        width: 100%;

        thead {

          tr {
            height: 30px;
          }

          th {
            padding: 0;
            font-size: 12px;
            height: 17px;
            line-height: 17px;
            text-align: left;
            text-transform: uppercase;
          }
        }
        tbody {
          tr {
            border-top: 1px solid #EAEAEA;
            height: 50px;

            &:first-child {
              border-color: #ACACAC;
            }

            td {
              padding: 10px 0;
              height: 32px;
              vertical-align: middle;
              font-size: 15px;

              span {
                margin-left: 10px;
                line-height: 32px;
              }

              img {
                display: block;
                float: left;
                width: 32px;
                height: 32px;
              }
            }
          }

        }
      }
    }
  }
}