.login_page{
    &_wrapper{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: url("/images/login_bg.png") no-repeat center;
        background-size: 40%;
        background-color: #000000;
        background-position-y: 0;
        .without_registration{
            width: 40%;
            margin: auto;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            text-align: center;
        }
    }
    &__info{
        width: 60%;
        margin: auto;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        margin-top: 35%;
        margin-bottom: 50px;
    }
    &__buttons{
        a{color: #ffffff}
        width: 40%;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    &__button{
        height: 50px;
        line-height: 50px;
        text-align: center;
        //padding: 0 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 25px;
        width: 200px;
        &_login{
            background-color: #007fed;
            border-color: #007fed;
            margin-right: 10px;
        }
        &_registration{
            background-color: inherit;
            border: 2px solid #ffffff;
        }
    }

    /*login form*/
    &__form_wrapper{
        width: 50%;
        margin: auto;
        margin-top: 23%;
        &_title{
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
        }
        form{
            width: 300px;
            margin: auto;
            display: flex;
            flex-direction: column;
            input{
                border: none;
                outline: none;
                height: 50px;
                border-bottom: 1px solid grey;
                background-color: #000000;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                //padding: 0 30%;
            }
            input::placeholder{
                color: #ffffff;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                box-sizing: border-box;
            }
            button{
                margin-top: 25px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: #007fed;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .private_policy{
            a{color: #ffffff;}
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
        }
    }
    /*login form end*/
}

.login{

    &__form{
        padding-top: 24px !important;
    }
    &__input{
        height: 38px !important;
        background-color: rgba(0,0,0,0.04) !important;
        box-sizing: border-box !important;
        padding-left: 12px !important;
        font-size: 15px !important;
        color: #000000 !important;
        border-bottom: none !important;
        border-radius: 6px !important;

        &__error {
            vertical-align: top;
            display: none;
            color: #fc4d02;
            margin-top: 2px;
            font-size: 13px;

            &.active{
                display: inline-block;
            }
        }
    }
    &__input::placeholder{
        font-size: 15px !important;
        color: rgba(0,0,0,0.3) !important;
    }
    &__input_label{
        font-size: 15px !important;
        color: rgba(0,0,0,0.5) !important;
        margin-bottom: 4px !important;
        transform: scale(1)!important;
    }
    &__input_valid_error{
        border: 1px solid red !important;
    }
    &__label_valid_error{
        color: red !important;
    }
    &__select{
        border-bottom: none;
        padding-top: 0 !important;
    }
}
.reset{
    &_password{
        font-size: 15px;
        color: #007fed;
        cursor: pointer;
        margin-top: -20px;
    }
    &_information{
        font-size: 15px;
        color: #000;
        text-align: left;
        width: 100%;
        padding-bottom: 16px;
    }
}
.check{

    &__img{
        width: 70px;
        height: 70px;
        background: url('/images/check_inbox.png')no-repeat center;
        background-size: 100%;
        margin: 274px auto 20px auto;
    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 12px;

    }
    &__discription{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 24px;
        text-align: center;
        color: #000000;
    }
    &__back{
        font-size: 15px;
        color: #007fed;
        text-align: center;
        cursor: pointer;
    }
}

md-select-value{
    border-bottom: none !important;
}
.location_select_wrapper{
    margin-top: -20px;
}
::-webkit-inner-spin-button { display: none; }
.accords_wrapper{
    position: fixed;
    left: 0;
    bottom: 110px;
    text-align: center;
    font-size: 15px;
    color: #999;
    a{
        color: #007fed;
    }
}
.registration_subtitle{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,0.34);
}

.data_privacy{
    &__discription{
        font-size: 15px;
        margin-bottom: 24px;
    }
    &__checkbox_wrapper{
        display: flex;
        flex-direction: column;
    }

}


/*checkbox*/
md-checkbox{
    font-size: 15px;
    color: #666;
    a{
        color: #007fed;
    }
}
.md-icon{
    width: 16px !important;
    height: 16px !important;
}
.md-checked{
    color: #000;
}
.md-checked .md-icon{
    background-color: #007fed !important;
}
md-checkbox.md-checked .md-icon:after{
    width: 7px !important;
    height: 10px !important;
    top: calc(50% - 6px) !important;
    left: calc(50% - 3px) !important;
}
.md-ripple-container{
    display: none;
}

.validate_error{
    border: 1px solid #fc4d02 !important;
    border-bottom: 1px solid #fc4d02 !important;
}
.validate_error_label{
    color: #fc4d02 !important;

}


/*links block*/
.dollar_content{
    &_wrapper{
        width: 100%;
        padding-top: 208px;
    }
    &__img{
        width: 70px;
        height: 70px;
        background: url("/images/dollar.png")no-repeat center;
        background-size: 100%;
        margin: auto;
    }
    &__title{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin: 20px auto 12px auto;
    }
    &__description{
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    &__button{
        width: 257px;
        margin: auto;
        margin-bottom: 16px;
        height: 38px;
        line-height: 38px;
        border-radius: 6px;
        background-color: #007fed;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    }
    .faq{
        width: 22px;
        height: 22px;
        background: url("/images/faq.png")no-repeat center;
        background-size: 100%;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    &__terms{
        text-align: center;
        a{
            color: #007fed;
            font-size: 15px;
        }
    }
}

.md-toast-content{

    background-color: #007fed !important;
}
md-toast{
    .md-toast-content{
        .md-toast-text{
            font-size: 16px !important;
        }
    }
}
.md-toast-content{
    min-height: 38px !important;
    max-height: 38px !important;
    height: 38px !important;
    border-radius: 6px !important;

}
md-toast{
    bottom: 75px !important;
}

md-toast.md-right{
    right: 30px !important;
}
