.full_height {
  width: 500px;
  box-sizing: border-box;
  max-height: 100vh;
  height: 100vh;
  padding: 24px 40px 0 40px;
}

.md-dialog-container{
  position: fixed !important;
  top: 0 !important;
}

md-select {
  margin: 0px;
  padding: 4px 0px 0px 10px;
}
.md-dialog-container{
  justify-content: flex-end;
}

