.sale {
    &_container {
        margin-bottom: 40px;
    }

    &_title {
        width: 100%;
        height: 33px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 17px;
        > div {
            display: flex;
        }
        &__text {
            opacity: 0.98;
            font-size: 24px;
            font-weight: bold;
            color: #000000;
            margin-right: 20px;
            &_disabled {
                color: rgba(0, 0, 0, 0.2);
            }
        }
        &__btn {
            width: 127px;
            line-height: 32px;
            border-radius: 6px;
            background-color: #007fed;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
        }
        &__link {
            width: 48px;
            opacity: 0.98;
            font-size: 15px;
            font-weight: 600;
            line-height: 14px;
            color: #007fed;
            align-self: flex-end;
        }
    }

    &_row {
        display: flex;
        justify-content: space-between;
        margin: 16px -9px 0;
    }
    &_card {
        width: 100%;
        border-radius: 4px;
        padding: 12px 16px;
        margin: 0 6px;



        &__yellow {
            background-color: #fff9e8;
        }
        &__grey {
            background-color: #f6f6f6;
        }
        &__title {
            font-size: 15px;
            font-weight: 600;

        }
        &__price {
            font-size: 12px;
            font-weight: 400;
        }
        &__options {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 -2px;

            &_column {
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                margin-bottom: 16px;
                padding: 0 2px;

                span {
                    white-space: nowrap;
                }
                span:first-child {
                    font-size: 12px;
                    color: #949494;
                    line-height: 17px;
                }
                span:last-child {
                    font-size: 15px;
                    line-height: 20px;
                }
            }

        }

    }

    /*active sales table*/
    &_table {
        width: 100%;
        border-spacing: 0;
        &_head {
            width: 100%;
            &_td {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;
                height: 33px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }
            &_td:last-child {
                text-align: right;
            }

        }
        &_body {
            &__yellow {
                tr {
                    td {
                        background-color: #fff9e8;
                    }
                }

            }
            &__grey {
                tr {
                    td {
                        background-color: #f6f6f6;
                    }
                }

            }

        }
        &_row {
            height: 77px;
            font-size: 15px;
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                //background-color: #fff9e8;

            }
            td:last-child {
                text-align: right;
                padding-right: 10px;
            }
            &__title {
                padding-left: 10px;
                span:first-child {
                    font-weight: 600;
                }
                span:last-child {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            &__data {
                color: rgba(0, 0, 0, 0.6);
                &_bold {
                    font-weight: 700;
                    color: #000;
                    &_green {
                        color: #00c811;
                    }
                }

            }
        }
    }

    /*create sale*/


}
.modal{
    &_wrapper{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: flex-end;

    }
    &_content_wrapper{
        width: 500px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 8px 8px 0 rgba(0, 0, 0, 0.02), 0 16px 16px 0 rgba(0, 0, 0, 0.02);
        border: solid 1px rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        padding: 24px 40px 0 40px;
    }
    &_content{
        position: relative;
        width: 100%;
        &__title{
            width: 100%;
            height: 33px;
            font-size: 24px;
            color: #000000;
            font-weight: 700;
            line-height: 33px;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .close{
                width: 14px;
                height: 14px;
                background: url("/images/close.png") no-repeat center;
                background-size: 100%;
                cursor: pointer;
            }
        }
        &__sale{
            width: 100%;
            &_title{
                font-size: 12px;
                font-weight: 600;
                color: rgba(0,0,0,0.34);
                text-transform: uppercase;
                margin-bottom: 12px;
                &_select{
                    text-transform: capitalize;
                }
            }
            &_select{
                width: 100%;
                height: 38px;
                background-color: rgba(0,0,0,0.04);
                border-radius: 6px;
                margin-bottom: 16px;
                margin-top: 4px;
                /*delete after add select content*/
                box-sizing: border-box;
                padding: 10px;
                text-transform: uppercase;
                /*delete after add select content end*/

            }

            .attributs_wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .attributs_item{
                    font-size: 15px;
                    color: rgba(0,0,0,0.5);
                    margin-bottom: 20px;
                    span{
                        display: block;
                        margin-bottom: 4px;
                    }

                    input{
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #f2f2f2;
                        padding-bottom: 20px;
                        font-size: 18px;
                        color: #000;
                    }
                }
                .attributs_item:first-child{
                    width: 45%;
                }
                .attributs_item:last-child{
                    width: 55%;
                }
                .attributs_item__border{
                    width: 132px !important;
                    overflow: hidden;
                    input{
                        width: 100%;
                        background-color: rgba(0,0,0,0.04);
                        box-sizing: border-box;
                        padding: 8px 0 10px 12px;
                        border-radius: 6px;
                    }
                }

            }

        }


    }






    &_foter{
        width: 500px;
        height: 70px;
        border-top: 1px solid #f2f2f2;
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__buttons{
            display: flex;
            height: 38px;
            margin-right: 40px;
            .button_blue{
                width: 148px;
                height: 38px;
                line-height: 38px;
                border-radius: 6px;
                background-color: #007fed;
                color: #fff;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                margin-left: 20px;
                cursor: pointer;
            }
            .button_text{
                height: 38px;
                line-height: 38px;
                cursor: pointer;
            }
        }
    }
}





