.sale {
    &_container {
        width: 100%;
        margin-bottom: 40px;
    }

    &_title {
        width: 100%;
        height: 33px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 17px;
        > div {
            display: flex;
        }
        &__text {
            opacity: 0.98;
            font-size: 24px;
            font-weight: bold;
            color: #000000;
            margin-right: 20px;
            &_disabled {
                color: rgba(0, 0, 0, 0.2);
            }
        }
        &__btn {
            width: 127px;
            line-height: 32px;
            border-radius: 6px;
            background-color: #007fed;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
        }
        &__link {
            width: 47px;
            opacity: 0.98;
            font-size: 15px;
            font-weight: 600;
            line-height: 14px;
            color: #007fed;
            align-self: flex-end;
        }
    }

    &_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_card {
        width: 324px;
        border-radius: 4px;
        padding: 12px 23px 0 16px;
        box-sizing: border-box;

        &__yellow {
            background-color: #fff9e8;
        }
        &__grey {
            background-color: #f6f6f6;
        }
        &__title {
            font-size: 15px;
            font-weight: 600;

        }
        &__price {
            font-size: 12px;
            font-weight: 400;
        }
        &__options {
            width: 100%;
            display: flex;

            &_column {
                width: 22%;
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                margin-bottom: 16px;
                span:first-child {
                    font-size: 12px;
                    color: #949494;
                    line-height: 17px;
                }
                span:last-child {
                    font-size: 15px;
                    line-height: 20px;
                }
            }

        }

    }

    /*active sales table*/
    &_table {
        width: 100%;
        border-spacing: 0;
        &_head {
            width: 100%;
            &_td {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;
                height: 33px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }
            &_td:last-child {
                text-align: right;
            }

        }
        &_body {
            &__yellow {
                tr {
                    td {
                        background-color: #fff9e8;
                    }
                }

            }
            &__grey {
                tr {
                    td {
                        background-color: #f6f6f6;
                    }
                }

            }

        }
        &_row {
            height: 77px;
            font-size: 15px;
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                //background-color: #fff9e8;

            }
            td:last-child {
                text-align: right;
                padding-right: 10px;
            }
            &__title {
                padding-left: 10px;
                span:first-child {
                    font-weight: 600;
                }
                span:last-child {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            &__data {
                color: rgba(0, 0, 0, 0.6);
                &_bold {
                    font-weight: 700;
                    color: #000;
                    &_green {
                        color: #00c811;
                    }
                }

            }
        }
    }

}
