
// Fonts

// Variables
@import '../variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/angular-material/angular-material.min.css";
/*
@import "~angular-aria";
@import "~angular-animate";
*/


//blocks
@import "/blocks/modal";
@import "blocks/card";
@import "blocks/carousel";
@import "blocks/carousel-tabs";
@import "blocks/event-card";
@import "blocks/event-detail";
@import "blocks/sale-card";
@import "blocks/tabs";
@import "blocks/title";
@import "blocks/invest";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/button";
@import "blocks/bid";
@import "blocks/profile";
@import "blocks/empty";
@import "blocks/filter_events";



body, html{
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}
body:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input{
    border-radius: 0;
    -webkit-appearance: none;
    //font-size: 16px;
}
.container{
  height: 100%;
  overflow-y: scroll;
}


.form_event{
    margin-bottom: 16px;
    color: #000000;
    height: 48px;
    border-radius: 10px;
    outline: none;
    width: 300px;
    margin: 0px;
}


md-select.form-Select-theme{
    width:98%;
    height: 48px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    padding-left: 13px;
    padding-right: 15px;
    box-sizing:content-box;
}

md-input-container.login_input{
    font-size: 16px;
    margin-top: 60px;
    height: 30px;
    line-height: 30px;
}


body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}
a:visited{text-decoration: none};
a:hover{
    color: #000;
    text-decoration: none};

.fullscreen{
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
::-webkit-input-placeholder{
    color: #000000;
}


///////////////////////////////////////////////////////
//old
/*repeat elements*/
button,
button:active,
button:focus {
    outline: none;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sale_canceled{
    background-color: red;
}
.button{
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    border-radius: 10pt;
    background-color: rgb(0, 127, 237);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
menu.main {
    position: fixed;
    bottom: 0;
    height: 44pt;
    width: 100%;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    //background-color: #F8F8F8;
    background-color: #fff;
    a {
        font-size: 0;
        height: 44pt;
        width: 20%;

    }full_sc
    a.back {
        background: url("/images/left-arrow.svg")  no-repeat center;
        background-size: 25pt;
    }
    a.go {
        background: url("/images/left-arrow.svg")  no-repeat center;
        background-size: 25pt;
        transform: scaleX(-1);
    }
    a.copy {
        background: url("/images/copy.svg") no-repeat center;
        background-size: 25pt;
    }
    a.read {
        background: url("/images/open-book.svg") no-repeat center;
        background-size: 25pt;
    }
    a.exit {
        background: url("/images/out.svg") no-repeat center;
        background-size: 25pt;
    }
}

main {
    margin-bottom: 44pt;
    .profile {
        &-title {
            text-align: center;
            font-size: 16pt;
            line-height: 20pt;
            font-weight: bold;
            margin: 20px auto;
            position: relative;
        }
        &-close {
            background: url("/images/cancel.svg") no-repeat center;
            background-size: 22pt;
            position: absolute;
            left: 16pt;
            width: 26px;
            height: 26px;
        }
        &-back {
            background: url("/images/left-arrow.svg") no-repeat center;
            background-size: 22pt;
            position: absolute;
            left: 16pt;
            width: 26px;
            height: 26px;
        }
        &-save {
            position: absolute;
            right: 15px;
            color: orange !important;
            font-weight: normal;
        }
        &-photo {
            margin: 20px auto;
            width: 200px;
            height: 200px;
            border: 1px solid gray;
            background-color: lightgrey;
            border-radius: 4px;
            &-small {
                width: 100px;
                height: 100px;
                margin: 10px auto;
                border: 1px solid gray;
                background-color: lightgrey;
                border-radius: 4px;
            }
        }
        &-name {
            font-size: 20pt;
        }
        &-settings {
            &-title {
                text-transform: uppercase;
                font-sise: 13pt !important;
                color: gray;
            }
            &-block {
                width: 100%;
                padding-left: 15px;
                a {
                    display: inline-block;
                    font-size: 16pt;
                    padding: 15px 40px;
                    width: 95%;
                    border-bottom: 1px solid lightgray;
                    // background: url("/images/b_3@3x.png") no-repeat left;
                    background-size: 25px;
                    position: relative;
                }

                a:after {
                    content:"";
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    background: url("/images/left-arrow.svg")  no-repeat center;
                    background-size: 25px;
                    transform: scaleX(-1);
                    z-index: 10;
                    right: 5px;
                    top: 20px;
                }
            }
        }
        &-field {
            width: 100%;
            margin: 10px 20px;
            label {
                display: block;
                font-size: 13pt;
                color: #949494;
                margin: 0;
            }
            input[type="text"]{
                display: block;
                font-size: 16pt;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #e0e0e0;
                background-color: #f8fafc;
            }
        }
    }
    button {
        width: 90%;
        height: 48pt;
        margin: 20px auto;
        font-size: 16pt !important;
        font-weight: bold !important;
    }
}
/*images for <a>*/


.icon {
    width: 16px;
    height: 16px;
    background-size: contain;

    &_notification{
        background-image: url("/images/b@3x_notification.png");
    }
    &_privacy{
        background-image: url("/images/b@3x_privacy.png");
    }
    &_account{
        background-image: url("/images/b@3x_acc.png");
    }
    &_support{
        background-image: url("/images/b@3x_support.png");
    }
    &_tell{
        background-image: url("/images/b@3x_tell.png");
    }
    &_setting{
        background-image: url("/images/b@3x_setting.png");
    }
}
/*profile btn*/
.btn{
    background-color: rgb(0, 127, 237);
    border: none;
    border-radius: 10pt;
    -webkit-border-radius: 10pt;
    -moz-border-radius: 10pt;
    -ms-border-radius: 10pt;
    -o-border-radius: 10pt;
}
/*profile photo*/
.profile-photo{
    background: url("/images/user_logo.png") no-repeat center;
    background-size: auto;
}
/*binds url*/
/*binds.index*/
.binds{
    font-family: 'OpenSans', sans-serif;
    height: 100%;
}
.logo_img{
    width: 100%;
    height: 64pt;
    line-height: 64pt;
    text-align: center;
    background: url("/images/b@3x_forlogo.png") no-repeat left;
    background-size: 25px;
    margin-bottom: 10pt;
}


.binds-item
{

    border-radius: 8pt;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    -ms-border-radius: 8pt;
    -o-border-radius: 8pt;
    width: 250px;
    margin-bottom: 5pt;
    margin-right: 12pt;
}


.bids_row__fullscreen{
    width: 100%;
    margin-bottom: 5px;
}
.bids_row__fullscreen > .binds-item{
    //padding: 10px 0;
    //margin-bottom: -10px;
}

.binds_full_sc{
    width: 100%;
}




.binds .tabs-wr:last-child{
    margin-bottom: 75px;
}
.tabs-wr__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10pt;
}
.tabs-wr .tabs-wr__title > a{
    color: $warmGrey;
}




.tabs-wr__title .see_all a,
.tabs-wr__title a{
   color: #007fed;
}
.see_all{
    cursor: pointer;
    color: rgb(0, 127, 237);
}




.binds-item__game_info{
    padding-left: 16px;
}


.events_list{

}



.by_in{
    margin-right: 5px;
}
.by_in::after{
    content: '•';
}
.full_sc{
    display: flex;
    flex-wrap: wrap;
}
.full_sc .binds-item{
    width: 100%;
    margin-bottom: 2pt;
    margin-right: 0;
    border-radius: 0;
    padding: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.full_sc .binds-item:last-child{
    margin-bottom: 50px;
}
.active_status{
    text-align: center;
    font-weight: 700;
    position: relative;
    height: 44pt;
    line-height: 44pt;
}
.active_status::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(/images/b@3x_left-arrow.png) no-repeat center;
    background-size: 22px;
    left: 0;
    top: 18px;

}
.tabs_item__active{
    border-bottom: 1px solid black;
}
/*login page*/
.login_page-wr{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    font-family: 'OpenSans', sans-serif;
    color: #fff !important;
    background: url("/images/login_bg.png")  no-repeat center;
    background-size: 100%;
    background-position-y: 10%;
    background-color: black;
}


.login_block{
    margin-top: 85%;
}

.buy_stakes{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
}
.btn_block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

}

.login_btn,
a .login_btn{
    width: 150px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;

}
.login_btn{
    margin-right: 10px;
}
a .login_in,
.login_in{
    background-color: rgb(0, 127, 237);
    border-color: rgb(0, 127, 237);
    color: #fff;
}
.contine_without{
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    a, a:visited{
        color: #fff !important;
    }
}

.contine_without_wr{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 320px){
    .login_btn{
        width: 140px !important;
    }
}

/*personal - information*/
.personal_inform{
    font-family: 'OpenSans', sans-serif;
    background-color: #fff;
    main-height: 100%;
}
.personal_inform__title{
    width: 100%;
    font-weight: 500;
    height: 64pt;
    line-height: 64pt;
    text-align: center;
}
.personal_inform__title::before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(/images/b@3x_left-arrow.png) no-repeat center;
    background-size: 22px;
    left: 15px;
    top: 32px;
}
.form_personal_inf{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form_personal_inf input{
    width: 100%;
    height: 70pt;
    line-height: 70pt;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 25px;
    text-align: center;
    outline: none;
}

.form_personal_inf input[type="submit"],
.form_personal_inf div
{
    height: 48pt;
    line-height: 48pt;
    background-color: rgb(0, 127, 237);
    border: 1px solid rgb(0, 127, 237) !important;
    border-radus: 10pt !important;
    color: #fff;
    margin-bottom: 20pt;
    text-align: center;
}
.private_policy{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20pt;
    margin-top: 20pt;
}

/*account*/
.form_personal_inf input[name="confirm_pass"]{
    margin-bottom: 100pt;
}
/*check email*/
.form_personal_inf input[name="check_email"]{
    width: 80%;
    height: 46pt;
    line-height: 46pt;
    margin: 0 auto;
    margin-bottom: 20pt;
    border-radius: 10pt;
}
.check_imfo{
    width: 100%;
    text-align: center;
    margin-bottom: 32pt;
}
.check_imfo span{
    display: block;
    font-weight: 700;
    margin-bottom: 15pt;
}
.change_mail{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 127, 237);
    cursor: pointer;
    margin-bottom: 25px;
}

/*data-privacy*/
.data-privacy{
    margin-top: 10px;
    width: 100%;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 32pt;
}
#termconfirm{
    width: 100%;
    height: 48pt;
    line-height: 48pt;
    text-align: center;
    border: 1px solid rgb(0, 127, 237);
    background-color: rgb(0, 127, 237);
    color: #fff;
    margin-bottom: 100px;
}
.data-privacy span{
    display: block;
    font-weight: 700;
    margin-bottom: 15pt;
}
.check-box-wr input[type="checkbox"]{
    width: 24pt;
    height: 24pt;
    margin-right: 14pt;
}
.check-box-wr input[type="checkbox"]:active{
    background-color: #1d68a7;
}
.check-box__email{
    width: 100%;
    display: flex;
}
.check-box-wr{
    margin-bottom: 32pt;
}
.see_policy{
    width: 100%;
    text-align: center;
}
.check-box__email label{
    position: relative;
}
.check-box__email label::after{
    content: "";
    width: 24pt;
    height: 24pt;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 6pt !important;
    position: absolute;
    top: 0;
    left: -46px;
    background-color: rgb(148, 148, 148);
}
.check-box__email input:checked + label::after{
    content: "\2714";
    text-align: center;
    color: #fff;
    line-height: 24pt;
    font-size: 20px;
}
input:checked + label::after{
    content: "\2714";
    text-align: center;
    color: #fff;
    line-height: 24pt;
    border: 1px solid rgb(0, 127, 237);
     background-color: rgb(0, 127, 237);
 }
/*new email*/
.new-email_imfo{
    width: 80%;
    margin: auto;
    color: rgb(148, 148, 148);
    text-align: center;
    margin-bottom: 24pt;
}
input[name="new_email"]{
     background-color: #fff !important;
     border: none !important;
     border-bottom: 1px solid rgb(148, 148, 148);
     //height: 33pt;
     //line-height: 33pt;
    margin-bottom: 125pt;
 }
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

/*test user profile style*/

.form_personal_inf p{
    display: block;
    width: 100%;
    text-align: center;
}
//.form_personal_inf input{
//    display: none;
//}

/*logout*/


.btn-logout {
    width: 100%;
    height: 26pt;
    line-height: 26pt;
    text-align: center;
}


/*events */
.event-item{
    width: 250px;
    margin-right: 12pt;
    margin-bottom: 20pt;
}
.event-item__img{
    width: 100%;
    height: 124px;
    margin-bottom: 10pt;
    box-sizing: border-box;
}
.event-item__img img{
    width: 100%;
    height: auto;
}
.event-item__text{
    font-family: 'OpenSans', sans-serif;
    color: #000;
    text-align: left;
}
.event-item__title{
    font-weight: 700;
    font-size: 16pt;
    margin-bottom: 4pt;
    text-transform: capitalize;
}
.see_info_event{
    position: relative;
}
.see_info_event > span{
    position: absolute;
    top: 0;
    right: 0;


}
.see_info_event > span > a{
    color: rgb(0, 127, 237);
}

.tabs-wr__players{
    width: 100%;
}

.events_player .binds-item{
    border-bottom: 1px solid rgb(148, 148, 148);
    background-color: #f8fafc;
    width: 100%;
}
.events_player > sales{
    width: 100%;
}
sales > .binds-item{
    border-bottom: 1px solid rgb(229,229,229);
    margin-bottom: 10px;
    border-radius: 0;
}


.open_event{
    width: 38px;
    height: 38px;
    background: url(/images/open_event.png) no-repeat center;
    background-size: 38px;
    position: absolute;
    top: 26px;
    left: 85%;

}
.gb_white{
    background: url(/images/left_arrow_white.png) no-repeat center;
}


.event_main-wr span{
    color: #949494;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    //padding-bottom: 20px;
    width: 100%;
}

.event-list-main-wr{
    width: 100%;
}

/*single event page*/







.main_event{
    border-bottom: 1px solid #000;
    color: #000;
}
.main_event_info{
    width: 100%;
    background-color: #f6f6f6;
    padding: 16pt 12pt;
}
.fund_info{
    font-size: 13pt;
    font-weight: 700;
    margin-bottom: 4pt;
}
.date_info,
.location_info{
    color: #949494;
}

.single_page_players{
    width: 100%;
    overflow: hidden;
}
.single_page_players_item {
    margin-top: 16px;
}

/*place_a_bit*/
.place_a_bit{
    width: 100%;

}
.place_a_bit__title{
    width: 100%;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    position: relative;
    padding-top: 12pt;
    padding-bottom: 12pt;
    margin-bottom: 20pt;

}
.pab__close{
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 22px;
    top: 12pt;
    font-weight: 400;
}

























__game_info{
    margin-top: 12pt;
}
.highest_bids{
    width: 100%;
}
.block_1,
.block_2{
    width: 100%;
    display: flex;
    margin-bottom: 8pt;

}
.block_1 input:first-child,
.block_1 input:nth-child(2)
{
    width: 75px;
}

.block_2 input:first-child,
.block_2 input:nth-child(2){
    width: 75px;
}
.highest_bids input{
    background-color: #edf8fd;
    border: none;
    padding: 11pt 0 11pt 12pt;
    margin-right: 2px;
}
.matched_bid input{
    background-color: #e7f7e4;
    border: none;
    padding: 11pt 0 11pt 12pt;
    margin-right: 2px;
}
.highest_bids__title,
.matched_bid__title{
    margin-bottom: 8pt;
}

/*sale*/

.sale__title{
    width: 100%;
    height: 44pt;
    line-height: 44pt;
    text-align: center;
    position: relative;
    margin-bottom: 12pt;
    font-size: 16pt;
}
.goback_sale{
    top: calc(50% - 11px);
}






.active_sale-wr{
    overflow-y: hidden;
}


.sale_active{
    background-color: #fff9e8;
}
.sale_canceled{
    background-color: #f6f6f6;
}
.as__item__title{
    font-size: 16pt;
    font-weight: 600;
}


.sale_tabs__title{
    margin-top: 20pt;
}

.active_sale-wr_close .as__item-wr{
    background-color: #f6f6f6;
}

.sales_tabs{
    width: 100%;
    margin-top: 23.5pt;
    display: flex;
}
.sales_tabs > a{
    display: block;
    width: 50%;
    text-align: center;
    padding-bottom: 11px;
}
.sales_tabs > div{
    width: 50%;
    text-align: center;
    padding-bottom: 11px;
}
.sales_selected{
    border-bottom: 1px solid black;
}

.as__item-wr-active{
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: 5px;
}
.loop_counter_sale{
    margin-left: 15px;
}

.as__item__tags-active > div{
    width: 32%;
}

.as__item-wr-closed{
    background-color: rgb(246, 246, 246);
}
.tags_outcome{
    color: rgb(0, 200, 17);
}

/*filters*/
.filter-wr{
    width: 100%;
}
.filter_title{
    width: 100%;
    text-align: center;
    position: relative;
    height: 44px;
    line-height: 44px;
    font-size: 16pt;
    font-weight: 600;

}
.filter_close{
    width: 11pt;
    height: 11pt;
    font-size: 16pt;
    position: absolute;
    top: 2px;
    right: 18pt;
}
.selects_filters{
    display: flex;
    flex-direction: column;
}
.selects_filters label{
    color: rgb(148, 148, 148);
    margin-bottom: 10px;
}
.selects_filters select{
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10pt;
    padding-left: 20px;
    outline: none   ;
}
.button_filters{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.button_filters > div{
    width: 45%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px;
    border-radius: 10pt;

}
.filter__save{
    border-color: rgb(0, 127, 237);
    background-color: rgb(0, 127, 237);
    color: #fff;
}
.filter__clear{
    border: 1px solid #e0e0e0 !important;
    color: #000;
}

.region_title{
    width: 100%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.region_title .goback{
    top: 11px;
}
.filter-region-wr input[type="search"]{
    height: 36px;
    border-radius: 10pt;
    width: 100%;
    outline: none;
    border: 1px solid rgb(246, 246, 246);
    padding-left: 36px;
    background-color: rgb(246, 246, 246);
    position: relative;
}
.filter-region-wr input[type="search"]::after{
    content: '';
    display: block;
    outline: 1px solid black;
    width: 160px;
    height: 160px;
    background: url(/images/search.svg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}
.filter-region-wr input[type="search"]::-webkit-input-placeholder {
    color: rgb(148, 148, 148);
}
.filter-region-wr input[type="search"]::-moz-placeholder {
    color: rgb(148, 148, 148);
}
.check-box{
    margin-top: 16pt;
}
.check-box label{
    position: relative;
    height: 12pt;
    line-height: 12pt;
    padding-left: 30px;
    font-size: 15pt;
    font-weight: 500;
    //border-bottom: 1px solid rgb(148, 148, 148);
}
.check-box input{
    display: none;
}
.check-box label::before{
    content: '';
    width: 300px;
    height: 1px;
    background-color: rgb(224, 224, 224);
    position: absolute;
    left: 30px;
    bottom: -10px;
}
.check-box label::after{
    content: "";
    width: 12pt;
    height: 12pt;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 2pt !important;
    position: absolute;
    top: 0;
    left: 0;
    //background-color: rgb(148, 148, 148);
}
input:checked + label::after{
    content: "\2714";
    font-size: 10px;
    text-align: center;
    color: #fff;
    line-height: 12pt;
    border: 1px solid rgb(0, 127, 237);
    background-color: rgb(0, 127, 237);
}
.check-box{
    width: 100%;
}

.event_detail{
    width: 100%;
}
.event_detail sales .binds-item{
    margin-right: 0;
    width: 100%;
    margin-right: 0;
    background-color: inherit;
}
.event_detail sales .binds-item:last-child{
    margin-bottom: 100px;
}


.event-items_list_title{
    font-size: 13pt;
    color: rgb(148,148,148);
    margin-bottom: 10px;
    font-weight: 600;
}

.see_info_a{
    position: absolute;
    top: 5px;
    right: 0;
    color: #3490dc !important;
}

/*wallet*/
.wallet-wr{
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}
.balance{
    width: 100%;
    background-color: $ceruleanBlue;
    color: #fff;
    padding-bottom: 42px;
}
.wallet_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 11pt;
}
.w_to_profile{
    width: 22pt;
    height: 22pt;
    background: url("/images/to_profile.png")no-repeat center;
    background-size: 100%;
}
.w_to_setting{
    width: 22pt;
    height: 22pt;
    background: url("/images/to_setting.png")no-repeat center;
    background-size: 100%;
}
.balance_count{
    margin-left: auto;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}
.balance_count span{
    font-size: 60px;
}
.balance__title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 33px;
}
.make_deposit{
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-left: 61.5px;

}
.make_deposit::before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url("/images/make_deposit.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    top: calc(50% - 11px);
    left: 33px;
}
.transaction_wr{
    width: 100%;
    border-radius: 8px;
    margin-top: -10px;
    position: relative;
    z-index: 0;
    background-color: #fff;
    padding: 20px 0 0 16px;
}
.transaction_wr > span{
    color: $warmGrey;
    font-size: 13px;
    font-weight: 600;
}
.transaction_tabs_list-wr{
    overflow-y: hidden;
}
.transaction_tabs_list{
    display: inline-flex;
}
.transaction_tabs_list > div{
    width: 100px;
    height: 41px;
    line-height: 41px;
    margin-right: 10px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 16px;
}

.transaction_details{
    padding-right: 16px;
    margin-bottom: 32px;
}
.transaction_details:last-child{
    margin-bottom: 100px;
}
.transaction_details_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $warmGrey;
    font-size: 13px;
    margin-bottom: 19px;

}
.pending{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    position: relative;
}
.pending_img,
.sent_img{
    width: 22px;
    height: 22px;
    position: absolute;
    top: calc(50% - 11px);
    left: 0;
    overflow: hidden;
}
.pending_img img,
.sent_img img{
    width: 100%;
    height: 100%;

}
.transaction_to{
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1;
    text-align: left;
    margin-left: 32px;
}
.transaction_to span{
    font-size: 11px;
    color: $warmGrey;
}
.transaction_delta{
    font-size: 15px;
    line-height: 1;
    text-align: right;
}
.transaction_delta span{
    color: $warmGrey;
    font-size: 11px;
}
.transaction_delta_plus{
    color: $plus;
    font-size: 15px;
}
.sent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*manegSales*/

.my_sale-wr{
    width: 100%;
    height: 100%;
    font-family: 'OpenSans', sans-serif;
}
.my_sale_title{
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 12px;
}
.my_sale_close{
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
    font-weight: 200;
    background: url("/images/desk/players_img/profile_close.png") no-repeat center;
}
.my_sale__event{
    font-size: 16px;
    font-weight: 600;
}
.buyin_span{
    font-size: 13px;
}
.gte_and_by{
    display: flex;
    font-size: 13px;
    color: $warmGrey;
    margin-bottom: 16px;
}
.profile_status__buyin{
    position: relative;
    margin-right: 21px;
}
.profile_status__buyin::after{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #949494;
    position: absolute;
    top: 7px;
    right: -11px;
}
.my_sale_table{
    border-collapse: separate;
    margin-bottom: 24px;
}

.my_sale_table span{
    font-size: 13px;
    color: $warmGrey;
}
.my_sale_table td{
    padding-right: 10px;
}
.my_sale_table input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(224,224,224);
}
.my_sale_table input::-webkit-input-placeholder{
    color: #000 !important;
}
.my_sale_markup input{
    width: 72px;
}
.my_sale_share input{
    width: 72px;
}
.my_sale_value{
    width: 100px;
}
.bids_status{

}
.my_sale_attention{
    width: 100%;
    text-align: center;
    color: rgb(252,76,2);
    margin-bottom: 16px;
    font-size: 13px;
}










/**/
.buyin_span{
    font-size: 12px;
}
.bids_status > span{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    display: block;
    margin-bottom: 10px;
}
.bids_status > div{
    display: flex;
    margin-bottom: 8px;
}

.bids_status > div input{
    width: 100px;
    height: 40px;
    padding-left: 12px;
    background-color: #edf8fd;
    outline: none;
    border-radius: 4px;
    border: none;
    margin-right: 4px;
}
.bids_status > div input:nth-child(3){
    width: call(auto - 40px);

}
.bids_status > div ::-webkit-input-placeholder{
    color: #000;
}
.confirm_bids{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    //background-color: #e7f7e5;
    background-color: #edf8fd;
}
.confirm_bids_accept{
    background-color: #e7f7e5;
    position: relative;
}
.confirm_bids_accept::after{
    content: '\2714';
    position: absolute;
    color: #000;
    top: 7px;
    left: 14px;
}
.right_side_content__footer_btn{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.pay_remaining{
    width: 209px;
    height: 38px;
    border-radius: 6px;
    background-color: #f6f6f6;
    line-height: 38px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-right: 16px;
    margin-left: 24px;
}
.cansel_sale{
    cursor: pointer;
    color: #050505;
    opacity: 0.6;
}

.accept-wr{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.change_share{
    position: absolute;
    top: calc(50% - 105px);
    right: 50px;
    display: none;
}
.accept_bid{
    position: absolute;
    top: calc(50% - 105px);
    right: 50px;
}
.accept_changed_input{
    display: flex;
    margin-bottom: 24px;
    width: 100%;
}
.accept_changed_input ::-webkit-input-placeholder{
    color: #000;
}
.accept_changed_input input{
    width: 99px;
    height: 40px;
    border-radius: 4px;
    background-color: #edf8fd;
    margin-right: 4px;
    box-sizing: border-box;
    padding-left: 12px;
    border: none;
    outline: none;
}
