<div class="login_page_wrapper">
      <div class="login_page__info">Buy stakes in poker players in tournaments online and around the world</div>
    <div class="login_page__buttons">
        <a ui-sref="auth.login">
            <div class="login_page__button login_page__button_login">Log in</div>
        </a>
        <a ui-sref="auth.registration">
            <div class="login_page__button login_page__button_registration">Register</div>
        </a>
    </div>
    <a class="contine_without" ui-sref="invest">
        <div class="without_registration">Continue without registration</div>
    </a>
</div>
