<md-dialog>
    <md-dialog-content>
        <div class="modal_content">
            <div class="modal_content__title">
                <div>Create new sale</div>
                <div class="close" ng-click="vm.cancel()"></div>
            </div>
            <div class="modal_content__sale">

                <div class="modal_content__sale_title">
                    Event and buy-in
                </div>
                <label class="modal_content__sale_title modal_content__sale_title_select">Event</label>
                <div class="modal_content__sale_select">
                    <md-select class="md-no-underline"
                               ng-change="vm.getSubevents()"
                               ng-model="vm.sale.event_id" placeholder="Choose an event">
                        <md-option value="{%item.id%}" ng-repeat="item in vm.events">{%item.title%}</md-option>
                    </md-select>
                </div>

                <label class="modal_content__sale_title modal_content__sale_title_select">Flight</label>
                <div class="modal_content__sale_select">
                    <md-select class="md-no-underline form-Select-theme"
                               ng-change="vm.getSubevents()"
                               ng-model="vm.sale.event_id" placeholder="Choose an event">
                        <md-option value="{%item.id%}" ng-repeat="item in vm.events">{%item.title%}</md-option>
                    </md-select>
                </div>

                <div class="attributs_wrapper">
                    <div class="attributs_item">
                        <span>Buy-in</span>
                        <input type="text" placeholder="$3,000">
                    </div>
                    <div class="attributs_item">
                        <span>Closing time</span>
                        <input type="text" placeholder="10:44, 10 Apr 2018">
                    </div>
                </div>

                <div class="modal_content__sale_title">Offer</div>

                <div class="attributs_wrapper">
                    <div class="attributs_item attributs_item__border">
                        <span>Share</span>
                        <input type="text" placeholder="0">
                    </div>
                    <div class="attributs_item attributs_item__border">
                        <span>Share</span>
                        <input type="text" placeholder="1">
                    </div>
                    <div class="attributs_item attributs_item__border">
                        <span>Share</span>
                        <input type="text" placeholder="0">
                    </div>
                </div>
            </div>

        </div>
    </md-dialog-content>

    <div class="modal_foter">
        <div class="modal_foter__buttons">
            <div class="button_text" ng-click="vm.cancel()">Cancel</div>
            <div class="button_blue">Create a sale</div>
        </div>
    </div>


</md-dialog>









