<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content" >
        <div class="sale_container" ng-repeat="(key,items) in SaleCtrl.sales" >
            <div class="sale_title" >
                <div>

                    <div class="sale_title__text" ng-bind="key"></div>
                    <div class="sale_title__text">sales</div>
                    <div class="sale_title__btn"
                         ng-if="key == 'active'"
                         ng-click="SaleCtrl.toggleSidenav()">
                         Create a Sale
                    </div>
                </div>
                <a ui-sref="sale-list({type:key})" class="sale_title__link">See all</a>
            </div>
            <div class="sale_row">
                <div ng-repeat="item in items" class="sale_card_wrapper">
                    <div class="sale_card"
                         ng-click="SaleCtrl.toggleSidenavManage(item)"
                         ng-class="{'sale_card__yellow':item.status == 1,
                                    'sale_card__grey':item.status == 2}">
                        <div class="sale_card__title">
                            <span ng-bind="item.event.title"></span>
                        </div>
                        <div class="sale_card__price">
                            <span>Buy in $5,000 + $300</span>
                        </div>
                        <div class="sale_card__options">
                            <div class="sale_card__options_column">
                                <span>Closes</span><span>73 days</span>
                            </div>
                            <div class="sale_card__options_column">
                                <span>Bid</span><span ng-bind="item.markup">1.11</span>
                            </div>
                            <div class="sale_card__options_column">
                                <span>Value</span><span ng-bind="item.amount | currency:'£':2">£2,404</span>
                            </div>
                            <div class="sale_card__options_column">
                                <span>Start time</span><span>Closed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="main_content main_content__empty" ng-if="SaleCtrl.state == 'empty'">
        <div class="main_content__empty_container">
            <div class="main_content__empty_container__img main_content__empty_container__img_sale"></div>
            <div class="main_content__empty_container__title">Sales not found</div>
            <div class="main_content__empty_container__discription">You can create sale</div>
            <div class="main_content__empty_container__buttons">
                <div class="main_content__empty_container__button main_content__empty_container__button__blue" ng-click="SaleCtrl.toggleSidenav()" role="button" tabindex="0">Create a Sale</div>
            </div>
        </div>
    </div>-->
</div>
<sale-create sales="SaleCtrl.sales" type="'row'"></sale-create>
<sale-manage sales="SaleCtrl.sales" type="'row'"></sale-manage>
