<div class="deskwr">
<main-menu></main-menu>
    <div class="main_content">
    <div class="contaier_sales">
        <div class="sales_header">
            <div class="sales_title">Active sales</div>
            <div class="sales_button">Create a Sale</div>
            <div class="event_content__see_more"><a href="#">See all</a></div>

        </div>
        <div class="sales_row">
            <div class="sales_item">
                <div class="sale_header">
                    <div class="sale title"></div>
                    <div class="sale subtitle"></div>

                    <div class="sale_attribute">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                </div>

            </div>
            <div class="sales_item">

            </div>
            <div class="sales_item">

            </div>

        </div>
    </div>
</div>

<!--

<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_content-wr">
            <div class="event_content__title">Active sales
                <div class="event_content__see_more"><a href="#">See all</a></div>
            </div>

            <div class="events_item-wr">
                <div class="bids_row">
                    <div class="bids_card bids_card__green">
                        <div class="bids_card__title">
                            <div class="bids_card__title_img">
                                <img src="/images/pl_4.png" alt=""/>
                            </div>
                            <div class="bids_card__title_text">
                                <span>Louise Romero</span>
                                <span>MILLIONS Russia, 1A</span>
                            </div>
                        </div>
                        <div class="bids_card__price">
                            <span>£1,000</span>
                            <div class="bids_card__price_dot"></div>
                            <span>£500,000 GTE</span>
                        </div>
                        <div class="bids_card__options">
                            <div class="bids_card__options_column">
                                <span>Markup</span>
                                <span>1.20</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Value</span>
                                <span>£2,404.08</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Start time</span>
                                <span>Closed</span>
                            </div>
                        </div>
                    </div>
                    <div class="bids_card bids_card__green">
                        <div class="bids_card__title">
                            <div class="bids_card__title_img">
                                <img src="/images/pl_4.png" alt=""/>
                            </div>
                            <div class="bids_card__title_text">
                                <span>Louise Romero</span>
                                <span>MILLIONS Russia, 1A</span>
                            </div>
                        </div>
                        <div class="bids_card__price">
                            <span>£1,000</span>
                            <div class="bids_card__price_dot"></div>
                            <span>£500,000 GTE</span>
                        </div>
                        <div class="bids_card__options">
                            <div class="bids_card__options_column">
                                <span>Markup</span>
                                <span>1.20</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Value</span>
                                <span>£2,404.08</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Start time</span>
                                <span>Closed</span>
                            </div>
                        </div>
                    </div>
                    <div class="bids_card bids_card__green">
                        <div class="bids_card__title">
                            <div class="bids_card__title_img">
                                <img src="/images/pl_4.png" alt=""/>
                            </div>
                            <div class="bids_card__title_text">
                                <span>Louise Romero</span>
                                <span>MILLIONS Russia, 1A</span>
                            </div>
                        </div>
                        <div class="bids_card__price">
                            <span>£1,000</span>
                            <div class="bids_card__price_dot"></div>
                            <span>£500,000 GTE</span>
                        </div>
                        <div class="bids_card__options">
                            <div class="bids_card__options_column">
                                <span>Markup</span>
                                <span>1.20</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Value</span>
                                <span>£2,404.08</span>
                            </div>
                            <div class="bids_card__options_column">
                                <span>Start time</span>
                                <span>Closed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->
