<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="sale_container">
            <div class="sale_title">
                <div>
                    <div class="sale_title__text">Active Sales</div>
                    <div class="sale_title__text sale_title__text_disabled">Closed Sales</div>
                </div>
                <div>
                    <div class="sale_title__btn">Create a Sale</div>
                </div>
            </div>
            <table class="sale_table">
                <thead class="sale_table_head">
                <td class="sale_table_head_td">event</td>
                <td class="sale_table_head_td">buy in</td>
                <td class="sale_table_head_td">gte</td>
                <td class="sale_table_head_td">av. markup</td>
                <td class="sale_table_head_td">share sold</td>
                <td class="sale_table_head_td">raised</td>
                <td class="sale_table_head_td">time</td>
                </thead>
                <tbody class="sale_table_body sale_table_body__yellow">
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">1% of
                        10%
                    </td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">1% of
                        10%
                    </td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>

                </tbody>

            </table>
        </div>
        <div class="sale_container">
            <div class="sale_title">
                <div>
                    <div class="sale_title__text sale_title__text_disabled">Active Sales</div>
                    <div class="sale_title__text">Closed Sales</div>
                </div>
                <div>
                    <div class="sale_title__btn">Create a Sale</div>
                </div>
            </div>
            <table class="sale_table">
                <thead class="sale_table_head">
                <td class="sale_table_head_td">event</td>
                <td class="sale_table_head_td">buy in</td>
                <td class="sale_table_head_td">gte</td>
                <td class="sale_table_head_td">closes</td>
                <td class="sale_table_head_td">share sold</td>
                <td class="sale_table_head_td">raised</td>
                <td class="sale_table_head_td">outcome</td>
                </thead>
                <tbody class="sale_table_body sale_table_body__grey">
                <tr class="sale_table_row">
                    <td class=" sale_tablesale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">1% of
                        10%
                    </td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">1% of
                        10%
                    </td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">2 days</td>
                </tr>
                <tr class="sale_table_row">
                    <td class="sale_table_row__title">
                        <span>MILLIONS Russia, 1A</span><br>
                        <span>Second loop</span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold sale_table_row__data_bold_green">2 days</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>


