<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content" ng-cloak>
        <div class="sale_container">
            <div class="sale_title">
                <div>
                    <a ui-sref="sale-list({type: 'active'})" class="sale_title__text" ng-class="{'sale_title__text_disabled': SaleFltrCtrl.$stateParams.type !='active' }">Active Sales</a>
                    <a ui-sref="sale-list({type: 'closed'})" class="sale_title__text" ng-class="{'sale_title__text_disabled': SaleFltrCtrl.$stateParams.type !='closed' }">Closed Sales</a>
                </div>
                <div>
                    <div class="sale_title__btn" ng-click="SaleFltrCtrl.toggleSidenav()">Create a Sale</div>
                </div>
            </div>
            <table class="sale_table" ng-if="SaleFltrCtrl.$stateParams.type == 'active' && SaleFltrCtrl._opts.dataLoad == true">
                <thead class="sale_table_head">
                <td class="sale_table_head_td">event</td>
                <td class="sale_table_head_td">buy in</td>
                <td class="sale_table_head_td">gte</td>
                <td class="sale_table_head_td">av. markup</td>
                <td class="sale_table_head_td">share sold</td>
                <td class="sale_table_head_td">raised</td>
                <td class="sale_table_head_td">time</td>
                </thead>
                <tbody class="sale_table_body sale_table_body__yellow">
                <tr class="sale_table_row" ng-repeat="item in SaleFltrCtrl.sales">
                    <td class="sale_table_row__title">
                        <span ng-bind="item.event.title"></span><br>
                        <span ng-bind="item.subevent.title"></span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">0</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data">2 days</td>
                </tr>

                </tbody>
            </table>

            <table class="sale_table" ng-if="SaleFltrCtrl.$stateParams.type == 'closed' && SaleFltrCtrl._opts.dataLoad == true">
                <thead class="sale_table_head">
                <td class="sale_table_head_td">event</td>
                <td class="sale_table_head_td">buy in</td>
                <td class="sale_table_head_td">gte</td>
                <td class="sale_table_head_td">closes</td>
                <td class="sale_table_head_td">share sold</td>
                <td class="sale_table_head_td">raised</td>
                <td class="sale_table_head_td">outcome</td>
                </thead>
                <tbody class="sale_table_body sale_table_body__grey">
                <tr class="sale_table_row" ng-repeat="item in SaleFltrCtrl.sales">
                    <td class=" sale_tablesale_table_row__title">
                        <span ng-bind="item.event.title"></span><br>
                        <span ng-bind="item.subevent.title"></span>
                    </td>
                    <td class="sale_table_row__data">£1,000</td>
                    <td class="sale_table_row__data">£500,000</td>
                    <td class="sale_table_row__data">24 days</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">1% of 10%</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">£2,404</td>
                    <td class="sale_table_row__data sale_table_row__data_bold">2 days</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<sale-create></sale-create>
