<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen"
            md-component-id="right_registration">
    <md-content ng-if="$ctrl.state == 'register'">
        <div class="modal_content">
        <div class="your_profile__title">
            Registration
            <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
        </div>
        <div class="registration_subtitle">
            ADD PERSONAL INFROMATION
        </div>
        <div
              class="login__form ng-pristine ng-valid-email ng-invalid
                ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength">

            <md-input-container class="login__input_container md-block login_input md-formSelect-theme">
                <label for="input_first_name"
                       class="login__input_label"
                       ng-class="{'validate_error_label': $ctrl._opts.validateFirstName}"
                       >First name</label>
                <input md-no-float
                       type="text"
                       placeholder="Enter your First name"
                       ng-model="$ctrl.user.firstName"
                       ng-class="{'validate_error': $ctrl._opts.validateFirstName}"
                       class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid
                           ng-invalid-required" id="input_first_name" aria-invalid="true">
            </md-input-container>
            <md-input-container class="login__input_container md-block login_input md-formSelect-theme">
                <label for="input_last_name"
                       class="login__input_label"
                       ng-class="{'validate_error_label': $ctrl._opts.validateLastName}"
                       >Last Name</label>
                <input md-no-float
                       type="text" placeholder="Enter your Last name"
                       ng-model="$ctrl.user.lastName"

                       ng-class="{'validate_error': $ctrl._opts.validateLastName}"
                       class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid
                           ng-invalid-required" id="input_last_name" aria-invalid="true">
            </md-input-container>
            <md-input-container class="login__input_container md-block login_input md-formSelect-theme">
                <label for="input_date" class="login__input_label"
                ng-class="{'validate_error_label': $ctrl._opts.validateBirthDate}"
                >Date of Birth</label>
                <input md-no-float
                       type="date" placeholder="12.03.1988"
                       ng-model="$ctrl.user.dateOfBirth"
                       ng-class="{'validate_error':$ctrl._opts.validateBirthDate}"
                       class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid
                           ng-invalid-required" id="input_date" aria-invalid="true">
            </md-input-container>

            <div class="location_select_wrapper">
                <label class="login__input_label"
                ng-class="{'validate_error_label': $ctrl._opts.validateLocation}"
                >Location</label>
                <md-select ng-model="$ctrl.user.country_id"
                           ng-class="{'validate_error': $ctrl._opts.validateLocation}"
                           class="login__input login__select md-no-underline"
                           placeholder="Select your location">

                    <md-option
                        value="{%item.id%}"
                        ng-repeat="item in $ctrl.countries | orderBy:'name'">
                        {%item.name%}, {%item.code%}
                    </md-option>
                </md-select>
            </div>

        </div>

        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.secondStep()">Continue</div>
            </div>
        </div>
    </md-content>
    <md-content ng-if="$ctrl.state == 'register_password'">
        <div class="modal_content">
            <div class="your_profile__title">
                Registration
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
            </div>
            <div class="registration_subtitle">
                Add account infromation
            </div>
            <form

                  class="login__form ng-pristine ng-valid-email ng-invalid
                ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength">

                <md-input-container class="login__input_container md-block login_input md-formSelect-theme">
                    <label for="input_7" class="login__input_label"
                           ng-class="{'validate_error_label': $ctrl._opts.validateEmail}">Email</label>
                    <input md-no-float required="" type="email" placeholder="Enter your Email"
                           name="clientEmail"
                           ng-model="$ctrl.user.email"

                           ng-class="{'validate_error': $ctrl._opts.validateEmail}"
                           class="login__input ng-pristine ng-untouched md-input" id="input_7" aria-invalid="true">
                </md-input-container>

                <md-input-container class="login__input_container md-block login_input md-formSelect-theme flex-gt-sm"
                                    style="margin-bottom: 20px;">
                    <label for="input_8" class="login__input_label"
                    ng-class="{'validate_error_label': $ctrl._opts.validatePassword()}"
                    >Your password</label>
                    <input type="password"
                           placeholder="Enter your password"
                           ng-model="$ctrl.user.password"

                           ng-class="{'validate_error': $ctrl._opts.validatePassword()}"
                           name="clientPassword" required=""
                           class="login__input"
                           id="input_8" aria-invalid="true">
                </md-input-container>
                <md-input-container class="login__input_container md-block login_input md-formSelect-theme flex-gt-sm"
                                    style="margin-bottom: 20px;">
                    <label for="input_9" class="login__input_label"
                    ng-class="{'validate_error_label': $ctrl._opts.validateConfirmPassword()}"
                    >Confirm password</label>
                    <input type="password"
                           placeholder="Confirm password"
                           ng-model="$ctrl.user.confirmPassword"

                           ng-class="{'validate_error_label': $ctrl._opts.validateConfirmPassword()}"
                           name="clientPasswordConfirm"
                           class="login__input"
                           id="input_9" aria-invalid="true">
                </md-input-container>


            </form>

        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.thirdStep()">Continue</div>
            </div>
        </div>
    </md-content>
    <md-content ng-if="$ctrl.state == 'confirm_privacy'">
        <div class="modal_content">
            <div class="your_profile__title">
                Data & Privacy
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
            </div>
        <div class="data_privacy__discription">
            To esure your expirience is personal and relevant,
            we’re changing the type of advert you see and giving your more control over your data
        </div>
        <div class="data_privacy__checkbox_wrapper">
            <md-checkbox ng-model="$ctrl.user.checkBoxEmail" aria-label="Checkbox 1">
                Yes, I’d like to hear about the latest poker news and promotions by Email
            </md-checkbox>

            <md-checkbox ng-model="$ctrl.user.checkBoxSms" aria-label="Checkbox 2">
                Yes, I’d like to hear about the latest poker news and promotions by SMS
            </md-checkbox>
        </div>


        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.createUser()">Continue</div>
            </div>
        </div>
    </md-content>

    <md-content ng-if="$ctrl.state == 'link_pp_account'">
        <div class="your_profile__title">
            <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
        </div>
        <div class="modal_content dollar_content_wrapper">

            <div class="dollar_content">
                <div class="dollar_content__img"></div>
                <div class="dollar_content__title">
                    In order to receive your a free $22 partypoker LIVE Satellite ticket
                </div>
                <div class="dollar_content__description">
                    Your My partypoker LIVE username should be the same as your partypoker username.
                </div>


                <a href="https://releaseb-ciwic.ivycomptech.co.in/en_US/VC/login-staking.html?redirect_URI=https://mppl-staking2-dev.herokuapp.com/"><div class="dollar_content__button button">Link my partypoker account</div></a>


            </div>
        </div>
    </md-content>


    <md-content ng-if="$ctrl.state == 'media_policy'">
        <div class="modal_content">
            <div class="your_profile__title">
                Media Policy
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
            </div>
            <div class="data_privacy__discription">
                We've updated our Media Policy and we'll need you to agree to them in order to be able to play in
                a partypoker LIVE event. Please tick the box to agree to the new Media Policy.
                Thank you
            </div>
            <div class="data_privacy__checkbox_wrapper">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    I agree to the My partypoker LIVE<br>
                    <a href="#"> Media Policy</a>
                </md-checkbox>
            </div>


        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue">Continue</div>
            </div>
        </div>
    </md-content>
    <md-content ng-if="$ctrl.state == 'privacy'">
        <div class="modal_content">
            <div class="your_profile__title">
                Privacy Policy
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
            </div>
            <div class="data_privacy__discription">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A ab at aut dolores, eius, eligendi harum illum ipsam maiores nisi nostrum
                officiis perspiciatis qui quibusdam quos rem temporibus totam ut!
            </div>



        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.goBack()">Back</div>
            </div>
        </div>

    </md-content>
    <md-content ng-if="$ctrl.state == 'terms'">
        <div class="modal_content">
            <div class="your_profile__title">
                Terms of Service
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_registration')"></div>
            </div>
            <div class="data_privacy__discription">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A ab at aut dolores, eius, eligendi harum illum ipsam maiores nisi nostrum
                officiis perspiciatis qui quibusdam quos rem temporibus totam ut!
            </div>

        </div>
        <div class="accords_wrapper">
            By creating an account you agree to our <a href="#" ng-click="$ctrl.changeState('terms')">Terms & Conditions</a>
            and <a href="#" ng-click="$ctrl.changeState('privacy')">Privacy Policy</a>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_registration')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.goBack()">Back</div>
            </div>
        </div>

    </md-content>


</md-sidenav>

