<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_wrapper events_admin_details">
            <div class="event_left-side">
                <div class="event_left-side_header">
                    <a ui-sref="invest-events" class="event_left-side_header_link">
                        Back to Events
                    </a>
                </div>
                <div class="event_left-side_description">
                    <div class="event_left-side_card">
                        <div class="event_left-side_card_img">
                            <img src="/images/desk/event_pic_{%DEventDetailCtrl.event.id%}.png" alt="event">
                        </div>
                        <div class="event_left-side_card_title">
                            {%DEventDetailCtrl.event.title%}
                        </div>
                        <div class="event_left-side_card_description">
                            <span>{%DEventDetailCtrl.event.period%}</span>
                            <span class="grey_dot"></span>
                            <span>{%DEventDetailCtrl.event.fund | currency:'£':2%} GTD</span>
                            <!--<a ui-sref="#">See info</a>-->
                        </div>
                    </div>
                    <div class="event_left-side_list" ng-if="DEventDetailCtrl.event.subevents">
                        <div class="event_left-side_list_title">
                            Events list
                        </div>

                        <div
                            ng-class="{active:DEventDetailCtrl.activeEvent == 'all'}"
                             ng-click="DEventDetailCtrl.toggleEvent('all')"
                             class="event_left-side_list_item">
                            <div class="event_left-side_list_item_title">
                                All sales
                            </div>
                            <div class="event_left-side_list_item_description">
                                {%DEventDetailCtrl.event.sales.length%} sales
                            </div>
                        </div>

                        <div ng-repeat="(key, event) in DEventDetailCtrl.event.subevents"
                             ng-class="{active:DEventDetailCtrl.activeEvent == key}"
                             ng-click="DEventDetailCtrl.toggleEvent(key)"
                             class="event_left-side_list_item">
                            <div class="event_left-side_list_item_title">
                                {% event.title %}
                            </div>
                            <div class="event_left-side_list_item_description">
                                <span>{% event.buy_in | currency:'£':2 %}</span>
                                <span class="grey_dot"></span>
                                <span>{% event.fund | currency:'£':2 %} GTD</span>
                                <span>{% event.period %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_right-side" style="height: 70vh; overflow-y: scroll;">
                <div class="event_right-side_in" style="margin-bottom: 50px;" ng-repeat="event in DEventDetailCtrl.fakeEvent.subevents">
                    <div class="event_right-side_header">
                        <div class="event_right-side_header_title"
                             ng-bind="event.title | uppercase">
                        </div>
                        <div class="event_right-side_header_description">
                            <span ng-bind="event.buy_in | currency:'£':2"></span>
                            <span class="grey_dot"></span>
                            <span ng-bind="(event.fund | currency:'£':2) + ' GTD'"></span>
                            <span ng-bind="event.period | currency:'£':2"></span>
                        </div>
                    </div>
                    <div class="event_right-side_table">
                    <table>
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>Status</th>
                            <th>Raised</th>
                            <th>PAID</th>
                            <th>LEFT</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="sale in DEventDetailCtrl.event.sales | filter:{sub_event_id:event.id} | orderBy:'status'"

                            ng-click="DEventDetailCtrl.toggleSidenav(sale)">
                            <td>
                                <div class="dealer_user_avatar" style="background-image: url({%sale.creator.avatar%})">

                                </div>

                                <span ng-bind="sale.creator.name"></span>
                            </td>
                            <td
                                ng-bind="DEventDetailCtrl.status(sale.status)"
                                ng-class="{'status__close':sale.status == 2, 'status__open':sale.status == 1}"
                            ></td>
                            <td>$0</td>
                            <td>$983</td>
                            <td>$231</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<bid-place sale="DEventDetailCtrl.sale"></bid-place>
