<div class="deskwr">
    <main-menu></main-menu>

    <div class="main_content" ng-if="dEventsCtrl._opts.dataLoad">
        <div class="events_admin">
            <div class="events_admin__title">Events list</div>
            <table class="events_admin__table">
                <thead class="events_admin__table_header">
                <tr>
                    <th>Event</th>
                    <th>Dates</th>
                    <th>Payout</th>
                </tr>
                </thead>
                <tbody class="events_admin__table_body">
                <tr ng-repeat="event in dEventsCtrl.events">
                    <td class="events_admin__table_event">
                        <a ui-sref="dealer-events-detail({id:event.id})">{%event.title%}</a>
                    </td>
                    <td class="events_admin__table_dates"
                        ng-bind="event.period">
                    </td>
                    <td class="events_admin__table_payout"
                        ng-bind="event.sales.length ? '0/' + event.sales.length : '–'">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <loader ng-if="dEventsCtrl._opts.dataLoad == false"></loader>

</div>
