<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="user">
            <div class="user__title">Users <div class="user__title_button">Register new user</div></div>

            <div class="user__table">
                <table class="table_events_list main_event_table">
                    <thead class="table_events_head">
                    <tr>
                        <th>FROM</th>
                        <th>MONEY</th>
                        <th>Sales</th>
                        <th>BIDS</th>
                        <th>Location</th>
                        <th>Log</th>
                    </tr>
                    </thead>
                    <tbody class="table_events_body">
                        <tr ng-repeat="user in dUsersCtrl.users">
                            <td class="t_from t_from_event">
                                <div class="t_from_img" style="background-image: url({%user.avatar%})"></div>

                                <span ng-bind="user.name">jane</span>
                            </td>
                            <td class="t_event ng-binding">£500,000</td>
                            <td class="t_buy_in" ng-bind="user.sales">2</td>
                            <td class="t_gte" ng-bind="user.bids">2</td>
                            <td class="t_markup ng-binding">London, UK</td>
                            <td class="t_time ng-binding">Open</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


