<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="user">
            <div class="user__title">Users <div class="user__title_button">Register new user</div></div>
            <!--<div class="user__filters">
                <div class="user__filter">Search by Name</div>
                <div class="user__filter">All locations</div>
                <div class="user__filter">All events</div>
            </div>-->
            <!--<div class="event_filters user__filters">
                <div class="event_filters__item">
                    <md-select class="event_filters__item_select
                    md-no-underline ng-pristine ng-untouched
                    ng-valid ng-empty" data-md-container-class="event_filter_select"
                    placeholder="Last month" tabindex="0"
                    aria-disabled="false" role="listbox" aria-expanded="false" aria-multiselectable="false"
                    id="select_50" aria-invalid="false">
                        <md-select-value class="md-select-value md-select-placeholder"
                         id="select_value_label_46">
                            <span>Last month</span>
                            <span class="md-select-icon" aria-hidden="true"></span>
                        </md-select-value>
                        <div class="md-select-menu-container event_filter_select"
                          aria-hidden="true" role="presentation" id="select_container_51">
                            <md-select-menu role="presentation" class="_md">
                            <md-content class="_md">
                        <md-option ng-value="value" tabindex="0"
                        class="ng-scope md-ink-ripple"
                        role="option" aria-selected="false"
                                   id="select_option_58" aria-checked="true" value="0" style=""><div class="md-text ng-binding">
                        Last month
                    </div></md-option>
                        <md-option ng-value="value" tabindex="0" class="ng-scope md-ink-ripple" role="option" aria-selected="false" id="select_option_59" aria-checked="true" value="2017-10-31 09:59:29" style=""><div class="md-text ng-binding">
                        Last year
                    </div></md-option>
                    </md-content>
                    </md-select-menu></div></md-select>
                </div>

            </div>-->
            <div class="user__table">
                <table class="table_events_list main_event_table">
                    <thead class="table_events_head">
                    <tr>
                        <th>FROM</th>
                        <th>MONEY</th>
                        <th>Sales</th>
                        <th>BIDS</th>
                        <th>Location</th>
                        <th>Log</th>
                    </tr>
                    </thead>
                    <tbody class="table_events_body">
                        <tr ng-repeat="user in dUsersCtrl.users">
                            <td class="t_from t_from_event">
                                <div class="t_from_img">
                                    <img src="/images/desk/players_img/profile_img_1.png" alt="profile photo">
                                </div>
                                <span ng-bind="user.name">jane</span>
                            </td>
                            <td class="t_event ng-binding">£500,000</td>
                            <td class="t_buy_in" ng-bind="user.sales">2</td>
                            <td class="t_gte" ng-bind="user.bids">2</td>
                            <td class="t_markup ng-binding">London, UK</td>
                            <td class="t_time ng-binding">Open</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


