<md-sidenav class="md-sidenav-right full_height" style="min-width: 620px" md-is-open="isSidenavOpen" md-component-id="right_user_details">
    <md-content>
        <div class="modal_content modal_sale_details">
            <div class="your_profile__title">
                <span ng-click="$ctrl.close('right_user_details')">Back to Sales Overview</span>
                <div class="your_profile_close" ng-click="$ctrl.close('right_user_details')"></div>
            </div>
            <div class="your_profile__title">
                Profile overview

            </div>
            <div class="modal_sale__user_info">
                <div class="modal_sale__user_info__pic">
                    <img src="/images/desk/players_img/profile_img_8.png" alt="pic">
                </div>
                <div class="modal_sale__user_info__profile">
                    <span class="name" ng-bind="$ctrl.user.name">Louise Romero</span>
                    <span class="location" ng-bind="$ctrl.user.country.name">London, UK</span>
                </div>

            </div>
            <div class="modal_sale__user_details_info">
                <div class="modal_sale__user_details_info__title">
                    <div>Event</div>
                    <div>Markup</div>
                    <div>Share</div>
                    <div>Value</div>
                </div>
                <div class="modal_sale__user_details_info__content"
                    ng-repeat="(key, sale) in $ctrl.user.sales"
                    ng-click="$ctrl.showBids(key)">
                    <div ng-bind="sale.event.title"></div>
                    <div ng-bind="sale.markup"></div>
                    <div ng-bind="(sale.share) + '%'"></div>
                    <div ng-bind="'$' + (sale.amount)"></div>

                </div>

            </div>
            <div class="underline"></div>
            <div class="modal_sale__user_details_info">
                <div class="modal_sale__user_details_info_type">
                    MATCHED BIDS
                </div>
                <div class="modal_sale__user_details_info__title"
                     ng-if="($ctrl.bids | filter:{status:2}).length > 0">
                    <div>Event</div>
                    <div>Markup</div>
                    <div>Share</div>
                    <div>Value</div>
                </div>
                <div class="modal_sale__user_details_info__content sale_details_matched"
                ng-repeat="bid in $ctrl.bids | filter:{status:2}">
                    <div ng-bind="$ctrl.eventTitle()"></div>
                    <div ng-bind="bid.markup">1.20</div>
                    <div ng-bind="(bid.share) + '%'">1.53%</div>
                    <div ng-bind="'$' + (bid.amount)">$49,292</div>
                </div>

                <div class="not_found" ng-if="($ctrl.bids | filter:{status:2}).length < 1">
                    No matched bids for this sale.
                </div>


            </div>

            <div class="underline"></div>
            <div class="modal_sale__user_details_info unmatched">
                <div class="modal_sale__user_details_info_type">
                    UNMATCHED BIDS
                </div>
                <div class="modal_sale__user_details_info__title"
                     ng-if="($ctrl.bids | filter:{status:3}).length > 0">
                    <div>Event</div>
                    <div>Markup</div>
                    <div>Share</div>
                    <div>Value</div>
                </div>
                <div class="modal_sale__user_details_info__content sale_details_matched sale_details_unmatched"
                     ng-repeat="bid in $ctrl.bids | filter:{status:3}">
                    <div ng-bind="$ctrl.eventTitle()"></div>
                    <div ng-bind="bid.markup">1.20</div>
                    <div ng-bind="(bid.share) + '%'">1.53%</div>
                    <div ng-bind="'$' + (bid.amount)">$49,292</div>
                </div>
               <div class="not_found" ng-if="($ctrl.bids | filter:{status:3}).length < 1">
                   No unmatched bids for this sale.
               </div>

            </div>




        </div>

    </md-content>

</md-sidenav>
