<div class="wallet-wr">
    <div class="balance col-md-12">
        <div class="wallet_header">
            <div class="w_to_profile"></div>
            <div class="w_to_setting"></div>
        </div>
        <div class="balance_count">
            $ <span>500</span>.00
        </div>
        <div class="balance__title">My balance</div>
        <div class="make_deposit">Make Deposit</div>
    </div>
    <div class="transaction_wr">
        <span>Transactions</span>
        <div class="transaction_tabs_list-wr">
            <div class="transaction_tabs_list">
                <div>April 2018</div>
                <div class="main_event">May 2018</div>
                <div>June 2018</div>
                <div>June 2018</div>
                <div>June 2018</div>
                <div>June 2018</div>
                <div>June 2018</div>
            </div>
        </div>
        <div class="transaction_details">
            <div class="transaction_details_header">
                <div class="details_header_date">22 May</div>
                <div class="details_header_delta">+360,00</div>
            </div>
            <div class="pending">
                <div class="pending_img"><img src="/images/pending_arrow.png" alt=""></div>
                <div class="transaction_to">North Andreane<br><span>Pending</span></div>
                <div class="transaction_delta transaction_delta_plus">+560.34<br><span>20 240.00</span></div>
            </div>
            <div class="sent">
                <div class="sent_img"><img src="/images/sent_arrow.png" alt=""></div>
                <div class="transaction_to">Corwinborough<br> <span>Sent</span></div>
                <div class="transaction_delta transaction_delta_minus">-200.12<br><span>20 240.00</span></div>
            </div>
        </div>
        <div class="transaction_details">
            <div class="transaction_details_header">
                <div class="details_header_date">22 May</div>
                <div class="details_header_delta">+360,00</div>
            </div>
            <div class="pending">
                <div class="pending_img"><img src="/images/pending_arrow.png" alt=""></div>
                <div class="transaction_to">North Andreane<br><span>Pending</span></div>
                <div class="transaction_delta transaction_delta_plus">+560.34<br><span>20 240.00</span></div>
            </div>
            <div class="sent">
                <div class="sent_img"><img src="/images/sent_arrow.png" alt=""></div>
                <div class="transaction_to">Corwinborough<br> <span>Sent</span></div>
                <div class="transaction_delta transaction_delta_minus">-200.12<br><span>20 240.00</span></div>
            </div>
        </div>
        <div class="transaction_details">
            <div class="transaction_details_header">
                <div class="details_header_date">22 May</div>
                <div class="details_header_delta">+360,00</div>
            </div>
            <div class="pending">
                <div class="pending_img"><img src="/images/pending_arrow.png" alt=""></div>
                <div class="transaction_to">North Andreane<br><span>Pending</span></div>
                <div class="transaction_delta transaction_delta_plus">+560.34<br><span>20 240.00</span></div>
            </div>
            <div class="sent">
                <div class="sent_img"><img src="/images/sent_arrow.png" alt=""></div>
                <div class="transaction_to">Corwinborough<br> <span>Sent</span></div>
                <div class="transaction_delta transaction_delta_minus">-200.12<br><span>20 240.00</span></div>
            </div>
        </div>
        <div class="transaction_details">
            <div class="transaction_details_header">
                <div class="details_header_date">22 May</div>
                <div class="details_header_delta">+360,00</div>
            </div>
            <div class="pending">
                <div class="pending_img"><img src="/images/pending_arrow.png" alt=""></div>
                <div class="transaction_to">North Andreane<br><span>Pending</span></div>
                <div class="transaction_delta transaction_delta_plus">+560.34<br><span>20 240.00</span></div>
            </div>
            <div class="sent">
                <div class="sent_img"><img src="/images/sent_arrow.png" alt=""></div>
                <div class="transaction_to">Corwinborough<br> <span>Sent</span></div>
                <div class="transaction_delta transaction_delta_minus">-200.12<br><span>20 240.00</span></div>
            </div>
        </div>
        <div class="transaction_details">
            <div class="transaction_details_header">
                <div class="details_header_date">22 May</div>
                <div class="details_header_delta">+360,00</div>
            </div>
            <div class="pending">
                <div class="pending_img"><img src="/images/pending_arrow.png" alt=""></div>
                <div class="transaction_to">North Andreane<br><span>Pending</span></div>
                <div class="transaction_delta transaction_delta_plus">+560.34<br><span>20 240.00</span></div>
            </div>
            <div class="sent">
                <div class="sent_img"><img src="/images/sent_arrow.png" alt=""></div>
                <div class="transaction_to">Corwinborough<br> <span>Sent</span></div>
                <div class="transaction_delta transaction_delta_minus">-200.12<br><span>20 240.00</span></div>
            </div>
        </div>
    </div>
</div>
<span ng-include="'tpl/view/footer.template.html'"></span>
