<header class="header" id="left">
    <div class="logo">
        <a ui-sref="invest">
            <img src="/images/desk/logo.png" alt="Logo">
        </a>
    </div>
    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('invest')"
                   ui-sref="invest"
                >
                    Invest
                </a>
                <div class="menu_item__count">2</div>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('bids')"
                   ui-sref="bids"
                >
                    Bids
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('sale')"
                   ui-sref="sale"
                >
                    Sale
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('wallet')"
                   ui-sref="wallet"
                >
                    Wallet
                </a>
                <span class="menu_item__wallet">$ 20,240.98</span>
            </li>
        </ul>
    </nav>
    
    <div class="last_up">
        <div class="last_up__title" ng-click="$ctrl.toggleSidenavLogin()">Last Updates</div>
        <div class="last_up__item last_up__item_blue">
            <div class="last_up_marker">
                <img src="/images/desk/blue_circle.png" alt="">
            </div>
            <div class="message" ng-click="$ctrl.toggleSidenavRegistration()">Your bid was accepted by Austin Vargas</div>

        </div>
        <div class="last_up__item last_up__item_yellow">
            <div class="last_up_marker">
                <img src="/images/desk/yellow_minus.png" alt="">
            </div>
            <div class="message">Your bid was declined by Theodore Guerrero</div>

        </div>
        <div class="last_up__item last_up__item_green">
            <div class="last_up_marker">
                <img src="/images/desk/blue_circle.png" alt="">
            </div>
            <div class="message">You sold 3% for Millions Russua (4% left)</div>

        </div>
        <div class="last_up__item last_up__item_red">
            <div class="last_up_marker">
                <img src="/images/desk/yellow_minus.png" alt="">
            </div>
            <div class="message">New login attempt from a 73.223.92.66 (US)</div>

        </div>
    </div>
    <div class="footer">
        <div class="profile">
            <div class="profile_info">
                <div class="profile_left-side" style="cursor: pointer" ng-click="$ctrl.toggleSidenavProfile()">
                    <div class="profile_img">
                        <img src="/images/desk/players_img/profile_img_1.png" alt="">
                    </div>
                    <div class="profile_name">James. Co</div>
                </div>
                <a class="profile_logout"
                   ng-click="$ctrl.showLogoutPopUp()"></a>
            </div>
        </div>
        <div class="footer__links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
            <a href="#">English</a>
        </div>
    </div>
</header>

<div class="pseudo-header"></div>

<div class="log_out-wr">
    <div class="log_out_profile">
        <div class="log_out_text">
            Log out
            <span>Do you want to log out? Don’t do it, if you are not sure. Thanks!</span>
        </div>
        <div class="log_out_btn">
            <div class="log_out_cancel">Cancel</div>
            <div class="log_out_ok">Log Out</div>
        </div>
    </div>
</div>
<div class="your_profile_wr">
    <div class="your_profile_content-wr">
        <div class="your_profile_content">
            <div class="your_profile__title">
                Your Profile
                <div class="your_profile_close"></div>
            </div>
            <div class="your_profile_info">
                <div class="your_profile__pic"><img src="/images/desk/players_img/pl_big_pic.png" alt="player photo"></div>
                <div class="your_profile__name">
                    James. Co
                    <div class="change_photo">Replace photo</div>
                </div>
            </div>
            <div class="link_party_pk">
                <div class="link_party_inf">Get a fast access to your bids and money, log in with Party poker account </div>
                <div class="link_party_btn">Link Party Poker account</div>
            </div>
            <div class="your_profile_nav">
                <ul class="pr_nav_list">
                    <li class="pr_nav_item pr_setting"><a href="#">Settings</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_notification"><a href="#">Notification</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_privacy"><a href="#">Privacy and security</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_acc_inf"><a href="#">Account info</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_support"><a href="#">Support</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_tell"><a href="#">Tell a friends</a><div class="pr_show_more"></div></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<profile></profile>
<login></login>
<registration></registration>
