<header class="header" id="left" ng-if="$ctrl.user != null">
    <div class="logo">
        <a ui-sref="invest">
            <img src="/images/logo/logo_web.png" alt="Logo">
        </a>
    </div>
    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('invest')"
                   ui-sref="invest"
                >
                    Invest
                </a>
                <div class="menu_item__count">2</div>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('bids')"
                   ui-sref="bids"
                >
                    Bids
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('sale')"
                   ui-sref="sale"
                >
                    Sale
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('wallet')"
                   ui-sref="wallet"
                >
                    Wallet
                </a>
                <span class="menu_item__wallet">$ 20,240.98</span>
            </li>
        </ul>
        <hr ng-if="$ctrl.user.role == 2;" style="opacity: 0.4">
        <ul class="menu_list" ng-if="$ctrl.user.role == 2;">
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('dealer/events')"
                   ui-sref="dealer-events"
                >
                    Events
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('dealer/users')"
                   ui-sref="dealer-users"
                >
                    Uesers
                </a>
            </li>
        </ul>
    </nav>

    <div class="last_up">
        <div class="last_up__title">Last Updates</div>
        <div class="last_up__item last_up__item_blue">
            <div class="last_up_marker">
                <img src="/images/desk/blue_circle.png" alt="">
            </div>
            <div class="message">Your bid was accepted by Austin Vargas</div>

        </div>
        <div class="last_up__item last_up__item_yellow">
            <div class="last_up_marker">
                <img src="/images/desk/yellow_minus.png" alt="">
            </div>
            <div class="message">Your bid was declined by Theodore Guerrero</div>

        </div>
        <div class="last_up__item last_up__item_green">
            <div class="last_up_marker">
                <img src="/images/desk/blue_circle.png" alt="">
            </div>
            <div class="message">You sold 3% for Millions Russua (4% left)</div>

        </div>
        <div class="last_up__item last_up__item_red">
            <div class="last_up_marker">
                <img src="/images/desk/yellow_minus.png" alt="">
            </div>
            <div class="message">New login attempt from a 73.223.92.66 (US)</div>

        </div>
    </div>
    <div class="footer">
        <div class="profile">
            <div class="profile_info">
                <div class="profile_left-side" style="cursor: pointer" ng-click="$ctrl.toggleSidenavProfile()">
                    <div class="profile_img">
                        <img src="/images/desk/players_img/profile_img_1.png" alt="">
                    </div>
                    <div class="profile_name" ng-bind="$ctrl.user.name"></div>
                </div>
                <a class="profile_logout"
                   ng-click="$ctrl.showLogoutPopUp()"></a>
            </div>
        </div>
        <div class="footer__links">
            <a href="#" ng-click="$ctrl.toggleSidenavRegistration('terms')">Terms of Service</a>
            <a href="#" ng-click="$ctrl.toggleSidenavRegistration('privacy')">Privacy Policy</a>
            <a href="#">Contact Us</a>
            <a href="#">English</a>
        </div>
    </div>

</header>
<header class="header" id="left_second" ng-if="$ctrl.user == null">
    <div class="logo">
        <a ui-sref="invest">
            <img src="/images/logo/logo_web.png" alt="Logo">
        </a>
    </div>
    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('invest')"
                   ui-sref="invest"
                >
                    Invest
                </a>

            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('bids')"
                   ui-sref="bids"
                >
                    Bids
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('sale')"
                   ui-sref="sale"
                >
                    Sale
                </a>
            </li>
            <li class="menu_item">
                <a class="menu_item__link"
                   ng-class="$ctrl.isActive('wallet')"
                   ui-sref="wallet"
                >
                    Wallet
                </a>

            </li>
            <br>
            <hr style="opacity: 0.4">
            <br>
            <li class="menu_item" ng-click="$ctrl.toggleSidenavLogin()">
                <a class="menu_item__link" href="#">
                    Log In
                </a>
            </li>
            <li class="menu_item" ng-click="$ctrl.toggleSidenavRegistration('register')">
                <a class="menu_item__link" href="#">
                    Register
                </a>
            </li>


        </ul>
    </nav>


    <div class="footer">

        <div class="footer__links">
            <a href="#" ng-click="$ctrl.toggleSidenavRegistration('terms')">Terms of Service</a>
            <a href="#" ng-click="$ctrl.toggleSidenavRegistration('privacy')">Privacy Policy</a>
            <a href="#">Contact Us</a>
            <a href="#">English</a>
        </div>
    </div>
</header>

<div class="pseudo-header"></div>

<profile></profile>
<login></login>
<registration></registration>
<sale-details></sale-details>

