<div class="row">
    <div class="container">
    <div class="header">
        <a ui-sref="invest"><div class="header_back"></div></a>
        <div class="header_title">Players</div>
        <div class="header_empty"></div>
    </div>
    </div>
    <div class="fullscreen">
        <div class="invest_sales">
            <div class="tabs_list tabs_list__single" >
                <div class="tabs_item"
                     ng-class="{'tabs_item__active': SaleAllCtrl.filter == 'closing'}"
                     ng-click="SaleAllCtrl.setFilter('closing')">Closing
                </div>
                <!--<div class="tabs_item"
                     ng-class="{'tabs_item__active': SaleAllCtrl.filter == 'markup'}"
                     ng-click="SaleAllCtrl.setFilter('markup')">Lowest markup
                </div>-->
            </div>
        </div>
        <!--<div class="swipe-wr full_sc events_player"></div>-->
        <sales sales="SaleAllCtrl.sales" state="'invest'"></sales>

        <span ng-include="'tpl/view/footer.template.html'"></span>
    </div>
</div>