<div class="row">

    <div class="sale__title col-md-12">
        Sales
        <a ui-sref="invest"><div class="goback goback_sale"></div></a>
    </div>
    <div class="tabs-wr__players">
        <div class="tabs_players">
            <div class="tabs_players__closing" ng-class="{'tabs_item__active': SaleAllCtrl.filter == 'closing'}" ng-click="SaleAllCtrl.setFilter('closing')">Closing</div>
            <div class="tabs_players__lower" ng-class="{'tabs_item__active': SaleAllCtrl.filter == 'markup'}" ng-click="SaleAllCtrl.setFilter('markup')" >Lowest markup</div>
        </div>
    </div>
    <div class="swipe-wr full_sc events_player">
        <sales sales="SaleAllCtrl.sales" state="'invest'"></sales>
    </div>
    <span ng-include="'tpl/view/footer.template.html'"></span>

</div>