<div class="row">
    <div class="fullscreen">
        <div class="header">
            <div class="header_empty"><a ui-sref="sale" class="goback" href="/bids/invest"></a></div>
            <div class="header_title">Sales</div>
            <div class="header_empty"></div>
        </div>
        <div class="header_empty_height"></div>

        <div class="tabs_list">

            <a class="tabs_item"
               ui-sref="sale-filter({filter: menuItem.name})"
               ng-repeat="menuItem in SaleCtrl.menu"
               ng-bind="menuItem.name"
               ng-class="{'tabs_item__active_entity':SaleCtrl.$stateParams.filter === menuItem.name}"
            ></a>
        </div>



        <sales-list sales="SaleCtrl.sales"></sales-list>

        <span ng-include="'tpl/view/footer.template.html'"></span>

    </div>
</div>
<sale-manage></sale-manage>