<div class="right_side_content my_sale-wr">
    <div class="my_sale_title">
        My sale
        <div class="my_sale_close"></div>
    </div>
    <div class="profile_status">
        <div>
            <div>
                <div class="my_sale__event" ng-bind="SaleMngCtrl.sale.event.title"></div>
                <span class="buyin_span">Buy in $<span ng-bind="SaleMngCtrl.sale.event.buy_in"></span> + $<span ng-bind="SaleMngCtrl.sale.subevent.buy_in"></span>
            </div>
            <div class="gte_and_by">
                <div class="profile_status__buyin">£1,000</div>
                <div class="profile_status__gte">£500,000 GTE</div>
            </div>
        </div>

        <table class="my_sale_table">
            <tr>
                <td><span>Closes in</span><br>73 days</td>
                <td><span>Share sold</span><br>5%</td>
                <td><span>Amount raised</span><br>$<span ng-bind="SaleMngCtrl.sale.amount"></span></td>
            </tr>
            <tr>
                <td class="my_sale_markup"><span>Markup</span><br><input type="text" placeholder="1.00" ng-model="SaleMngCtrl.sale.markup"></td>
                <td class="my_sale_share"><span>Share</span><br><input type="text" placeholder="1.38%" ng-model="SaleMngCtrl.sale.share"></td>
                <td class="my_sale_value"><span>Value</span><br><input type="text" placeholder="$1938" ng-model="SaleMngCtrl.sale.value"></td>
            </tr>
        </table>
    </div>
    <div class="unmatched_bids bids_status">
        <span>UNMATCHED BIDS</span>

        <div ng-repeat="bid in SaleMngCtrl.sale.bids">
            <input type="number" placeholder="1.09" ng-model="bid.markup">
            <input type="number" placeholder="0.38%" ng-model="bid.share">
            <input type="number" placeholder="$443" ng-model="bid.amount">
            <div class="confirm_bids confirm_bids_accept"></div>
        </div>

    </div>
    <hr>
    <div class="my_sale_attention">
        Your sale is almost finished, top-up your sale if you want sell more
    </div>
    <div class="increase_btn button">
        Increase your share
    </div>
    <span ng-include="'tpl/view/footer.template.html'"></span>
</div>



