<div class="manage_sale_wr">

    <div class="header">
        <div class="header_close" ng-click="$ctrl.close()"></div>
        <div class="header_title">My sale</div>
        <div class="header_filter_empty"></div>
    </div>

    <div class="event_card_title">MILLIONS Russia, 1A</div>
    <!--<span class="buyin_span">Buy in $5,000 + $300</span>-->

    <div class="binds-item__game_info card__event_info">
        <div class="geme__text card__event_info_item">
            <div class="card__event_info_attr">
                Buy in $5,000 + $300
            </div>
        </div>


        <div class="card__attribute manage_sale_atr">
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Closes in</span><br>
                <span class="card__attribute_value ng-binding">73 days</span>
            </div>
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Share sold</span><br>
                <span class="card__attribute_value">5%</span>
            </div>
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Amount raised</span><br>
                <span class="card__attribute_value ng-binding">$1892</span>
            </div>
        </div>
        <div class="card__attribute manage_sale_atr">
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Markup</span><br>

                <input type="number" placeholder="1.00">
            </div>
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Share</span><br>

                <input type="number" placeholder="1.38%">
            </div>
            <div class="sale_card_list_atr_item manage_sale_atr_item">
                <span>Value</span><br>

                <input type="number" placeholder="$1938">
            </div>
        </div>
    </div>

    <div class="modal_type_bids">
        <div class="blocks_header_title_name">
            HIGHEST BIDS
        </div>
        <div class="modal_type_bids_type">
            <div class="modal_type_bids__item modal_bids_item_color_highest">1</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">1.53%</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">$1,182.22</div>
        </div>
        <div class="modal_type_bids_type">
            <div class="modal_type_bids__item modal_bids_item_color_highest">1</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">1.53%</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">$1,182.22</div>
        </div>
        <div class="modal_type_bids_type">
            <div class="modal_type_bids__item modal_bids_item_color_highest">1</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">1.53%</div>
            <div class="modal_type_bids__item modal_bids_item_color_highest">$1,182.22</div>
        </div>
    </div>

    <hr>

    <div class="my_sale_attention">
        Your sale is almost finished, top-up your sale if you want sell more
    </div>

    <div class="manage_sale_btn button">
        Increase your share
    </div>

</div>



