<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen"
            md-component-id="right_manage">
    <md-content>
        <div class="modal_content">
            <div class="modal_content__title">
                <div>My sale</div>
                <div class="close" ng-click="$ctrl.close('right_manage')"></div>
            </div>
            <div class="modal_content__bid">
                <div class="profile_status">
                    <div style="justify-content: space-between">
                        <div>
                            <div class="profile_status__name">{% $ctrl.sale.event.title %}</div>
                            <div class="profile_status__event">Buy in {% $ctrl.sale.event.buy_in | currency:'$':0%}
                            </div>
                        </div>
                        <div class="profile_status__gte_and_by">
                            <div class="profile_status__buyin">{% $ctrl.sale.event.buy_in | currency:'£':0%}</div>
                            <div class="profile_status__gte">{% $ctrl.sale.event.fund | currency:'£':0%} GTE</div>
                        </div>
                    </div>
                    <div class="profile_status__attributs d-flex">
                        <div class="profile_status__markup"><span>Closes in</span><br>73 days</div>
                        <div class="profile_status__share"><span>Share sold</span><br>5%</div>
                        <div class="profile_status__value"><span>Amount raised</span><br>1.20</div>
                    </div>
                    <div class="sale-manage__attributs">
                        <div class="sale-manage__attributes__markup">
                            <span class="sale-manage__attributes__title">Markup</span>
                            <input class="sale-manage__attributes__value" ng-model="$ctrl.sale.markup"/>
                        </div>
                        <div class="sale-manage__attributes__share">
                            <span class="sale-manage__attributes__title">Share</span>
                            <input class="sale-manage__attributes__value" ng-model="$ctrl.sale.share"/>
                        </div>
                        <div class="sale-manage__attributes__amount">
                            <span class="sale-manage__attributes__title">Value</span>
                            <input class="sale-manage__attributes__value" ng-model="$ctrl.sale.amount"/>
                        </div>
                        <div class="sale-manage__attributes__edit">
                            <button ng-click="$ctrl.showSaleConfirm($ctrl.sale)"
                                class="sale-manage__attributes__btn"></button>
                        </div>
                    </div>
                </div>

                <div class="modal_content__hr"></div>
                <!--<div class="bids_group"
                     ng-repeat="(key, items) in $ctrl.sale.bids" ng-if="items.length > 0"
                     ng-class="{
                               'bids_group__highest_color'   : key == 'highest',
                               'bids_group__matched_color'   : key == 'matched',
                               'bids_group__unmatched_color' : key == 'unmatched'}">
                    <span class="bids_group__title">{%key%} BIDS</span>

                    <div ng-repeat="bid in items"
                         ng-click="$ctrl.showBidsConfirm(bid)"
                         class="bids_group__row">
                        <input type="text" value="{%bid.markup%}" disabled>
                        <input type="text" value="{%bid.share%}%" disabled>
                        <input type="text" value="{%bid.amount | currency:'$' %}" disabled>
                        <div class="bids_group__row_confirm not-confirm"></div>
                    </div>

                </div>-->

                <div class="bids_group bids_group__highest_color">
                    <span class="bids_group__title">UNMATCHED BIDS</span>

                    <div ng-repeat="bid in $ctrl.sale.bids | filter:{status:3} | orderBy:'-markup'"
                         ng-click="$ctrl.showBidsConfirm(bid)"
                         class="bids_group__row">
                        <input type="text" value="{%bid.markup%}" disabled>
                        <input type="text" value="{%bid.share%}%" disabled>
                        <input type="text" value="{%bid.amount | currency:'$' %}" disabled>
                        <div class="bids_group__row_confirm not-confirm"></div>
                    </div>
                    <div ng-repeat="bid in $ctrl.sale.bids | filter:{status:2}" class="bids_group__row">
                        <input type="text" value="{%bid.markup%}" disabled>
                        <input type="text" value="{%bid.share%}%" disabled>
                        <input type="text" value="{%bid.amount | currency:'$' %}" disabled>
                        <div class="bids_group__row_confirm not-confirm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.close('right_manage')">Cancel sale</div>
                <div ng-click="$ctrl.showPayConfirm($ctrl.sale)"
                    class="button_blue button_grey">Pay remaining <span>$3,245</span></div>
            </div>
        </div>
    </md-content>
</md-sidenav>
