<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen"
            md-component-id="right_login" ng-keydown="$ctrl.down($event)">

    <md-content ng-if="$ctrl.state == 1">
        <div class="modal_content">
            <div class="your_profile__title">
                Log In
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_login')"></div>
            </div>
            <form ng-submit="" name="login_form"
                  class="login__form">


                <md-input-container class="md-block login__input_container">
                    <label class="login__input_label" ng-class="{'validate_error_label': $ctrl.errorEmail}">Client Email</label>
                    <input required type="email"
                           ng-model="$ctrl.userEmail"
                           ng-class="{'validate_error':$ctrl.errorEmail}"
                           class="login__input"
                           placeholder="Enter your e-mail"
                    />
                    <div style="font-size: 12px; color: rgb(221,44,0)"
                         ng-if="$ctrl.errorEmail"
                         ng-bind="$ctrl.msgErrorr.email"></div>

                </md-input-container>

                <md-input-container class="login__input_container md-block "
                                    style="margin-bottom: 20px;">
                    <label class="login__input_label" ng-class="{'validate_error_label': $ctrl.errorPassword}">Your password</label>
                    <input type="password"
                           ng-model="$ctrl.userPassword"
                           ng-class="{'validate_error':$ctrl.errorPassword}"
                           placeholder="Enter your password"
                           required
                           class="login__input"
                    />
                    <div style="font-size: 12px; color: rgb(221,44,0)" ng-if="$ctrl.errorPassword"
                         ng-bind="$ctrl.msgErrorr.password">
                    </div>
                </md-input-container>

                <div class="reset_password" ng-click="$ctrl.forgotPassword()">
                    Forget your password?
                </div>

                <div class="reset_password" style="margin-top: 20px" ng-if="$ctrl.notConfirmed.status">
                    <span style="color: rgb(221,44,0)" ng-bind="$ctrl.notConfirmed.text"></span><br>
                    <span ng-click="$ctrl.resendConfirm()">Resend confirmation email</span>
                </div>

            </form>

        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.buildToggler('right_login')">Cancel</div>
                <div class="button_blue" ng-click="$ctrl.sendAuthData($event)">Continue</div>
            </div>
        </div>
    </md-content>

    <md-content ng-if="$ctrl.state == 2">
        <div class="modal_content">
            <div class="your_profile__title">
                Reset password
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_login')"></div>
            </div>
            <form ng-submit=""

                  class="login__form ng-pristine ng-valid-email ng-invalid
                ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength">
                <div class="reset_information">
                    Enter your email and we will send you instruction with the next steps
                </div>
                <md-input-container class="login__input_container md-block login_input md-formSelect-theme">
                    <label class="login__input_label">Email</label>
                    <input md-no-float required="" type="email" placeholder="Enter your Email"
                           name="clientEmail"
                           ng-model="$ctrl.forgotPasswordEmail"
                           ng-pattern="/^.+@.+\..+$/"
                           class="login__input" aria-invalid="true">
                </md-input-container>

            </form>

        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.backToLogin()">Back</div>
                <div class="button_blue" ng-click="$ctrl.resetMail()">Reset</div>
            </div>
        </div>
    </md-content>

    <md-content ng-if="$ctrl.state == 3">
        <div class="modal_content">
            <div class="your_profile__title">

                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_login')"></div>
            </div>
        </div>

        <div class="check__img"></div>
        <div class="check__title">Check your inbox</div>
        <div class="check__discription">An email has been sent. It contains a link you must click to reset your
            password. You can only request 1 new password within 2 hours
        </div>

        <div class="check__back" ng-click="$ctrl.createNewPass()">Create new password</div>
    </md-content>

    <md-content ng-if="$ctrl.state == 4">
        <div class="modal_content">
            <div class="your_profile__title">
                Create new password
                <div class="your_profile_close" ng-click="$ctrl.buildToggler('right_login')"></div>
            </div>
            <form ng-submit=""

                  class="login__form ng-pristine ng-valid-email ng-invalid
                ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength">
                <div class="reset_information">
                    Enter your code of email & create new password
                </div>

                <md-input-container class="login__input_container md-block login_input md-formSelect-theme flex-gt-sm"
                                    style="margin-bottom: 20px;">
                    <label for="input_6" class="login__input_label">Code of Email</label>
                    <input type="text"
                           ng-model="$ctrl.codeOfEmail" placeholder="Code of Email"
                           required=""
                           class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required"
                           aria-invalid="true">
                </md-input-container>

                <md-input-container class="login__input_container md-block login_input md-formSelect-theme flex-gt-sm"
                                    style="margin-bottom: 20px;">
                    <label for="input_6" class="login__input_label">Your password</label>
                    <input type="password"
                           ng-model="$ctrl.createNewPassword" placeholder="Enter your password"
                           name="clientPassword" required=""
                           class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required"
                           aria-invalid="true">
                </md-input-container>

                <md-input-container class="login__input_container md-block login_input md-formSelect-theme flex-gt-sm"
                                    style="margin-bottom: 20px;">
                    <label for="input_6" class="login__input_label">Confirm password</label>
                    <input type="password"
                           ng-model="$ctrl.createNewPasswordConfirm" placeholder="Confirm your password"
                           name="clientPassword" required=""
                           class="login__input ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required"
                           aria-invalid="true">
                </md-input-container>

            </form>

        </div>
        <div class="modal_foter">
            <div class="modal_foter__buttons">
                <div class="button_text" ng-click="$ctrl.backToLogin()">Back</div>
                <div class="button_blue" ng-click="$ctrl.resetPassword()">Create</div>
            </div>
        </div>


    </md-content>

    <md-content ng-if="$ctrl.state == 5">
        <div class="modal_content">
            <div class="check__img" style="background: none;"></div>
            <div class="check__discription">Password was succsessfull changed</div>

            <div class="check__back" ng-click="$ctrl.state=1">Please login</div>

        </div>


    </md-content>

    <md-content ng-if="$ctrl.state == 6">
        <div class="modal_content">
            <div class="check__img" style="background: none;"></div>
            <div class="check__discription">Error</div>

            <div class="check__back" ng-click="$ctrl.state=2">Please try again</div>

        </div>


    </md-content>
</md-sidenav>

