<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_wrapper">
            <div class="event_left-side">
                <div class="event_left-side_header">
                    <a ui-sref="" class="event_left-side_header_link">
                        < Back to Events
                    </a>
                </div>
                <div class="event_left-side_description">
                    <div class="event_left-side_card">
                        <div class="event_left-side_card_img">
                            <img src="/images/desk/event_pic_1.png" alt="event">
                        </div>
                        <div class="event_left-side_card_title">
                            WSOP International Circuit - Rotterdam
                        </div>
                        <div class="event_left-side_card_description">
                            <span>Jul 20 – Aug 10</span>
                            <span class="grey_dot"></span>
                            <span>£1,000,000 GTD</span>
                            <a ui-sref="#">See info</a>
                        </div>
                    </div>
                    <div class="event_left-side_list">
                        <div class="event_left-side_list_title">
                            Events list
                        </div>
                        <div class="event_left-side_list_item">
                            <div class="event_left-side_list_item_title">
                                Main event
                            </div>
                            <div class="event_left-side_list_item_description">
                                <span>£1,000,000</span>
                                <span class="grey_dot"></span>
                                <span>£1,000,000 GTD</span>
                                <span>Jul 20 – Aug 10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_right-side">
                <div class="event_right-side_header">
                    <div class="event_right-side_header_title">
                        Main event
                    </div>
                    <div class="event_right-side_header_description">
                        <span>£1,000,000</span>
                        <span class="grey_dot"></span>
                        <span>£1,000,000 GTD</span>
                        <span>Jul 20 – Aug 10</span>
                    </div>
                </div>
                <div class="event_right-side_table_wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>Markup</th>
                            <th>Share</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img src="/images/desk/players_img/profile_img_1.png" alt="">
                                <span>Austin Vargas</span>
                            </td>
                            <td>1.2</td>
                            <td>20%</td>
                            <td>< 24hours</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>