<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_wrapper">
            <div class="event_left-side">
                <div class="event_left-side_header">
                    <a ui-sref="invest" class="event_left-side_header_link">
                        Back to Events
                    </a>
                </div>
                <div class="event_left-side_description">
                    <div class="event_left-side_card">
                        <div class="event_left-side_card_img" style="background-image: url({%EventsDetailCtrl.event.image%})">
                        </div>
                        <div class="event_left-side_card_title">
                            {%EventsDetailCtrl.event.title%}
                        </div>
                        <div class="event_left-side_card_description">
                            <span>{%EventsDetailCtrl.event.period%}</span>
                            <span class="grey_dot"></span>
                            <span>{%EventsDetailCtrl.event.fund | currency:'£':2%} GTD</span>
                            <!--<a ui-sref="#">See info</a>-->
                        </div>
                    </div>
                    <div class="event_left-side_list" ng-if="EventsDetailCtrl.event.subevents">
                        <div class="event_left-side_list_title">
                            Events list
                        </div>
                        <div ng-repeat="event in EventsDetailCtrl.event.subevents"
                             ng-class="{active:EventsDetailCtrl.activeEvent.id === event.id}"
                             ng-click="EventsDetailCtrl.toggleEvent(event)"
                             class="event_left-side_list_item">
                            <div class="event_left-side_list_item_title">
                                {% event.title %}
                            </div>
                            <div class="event_left-side_list_item_description">
                                <span>{% event.buy_in | currency:'£':2 %}</span>
                                <span class="grey_dot"></span>
                                <span>{% event.fund | currency:'£':2 %} GTD</span>
                                <span>{% event.period %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_right-side">
                <div class="event_right-side_header">
                    <div class="event_right-side_header_title">
                        {% EventsDetailCtrl.activeEvent.title %}
                    </div>
                    <div class="event_right-side_header_description">
                        <span>{% EventsDetailCtrl.activeEvent.buy_in | currency:'£':2 %}</span>
                        <span class="grey_dot"></span>
                        <span>{% EventsDetailCtrl.activeEvent.fund | currency:'£':2 %} GTD</span>
                        <span>{% EventsDetailCtrl.activeEvent.period %}</span>
                    </div>
                </div>
                <div ng-if="EventsDetailCtrl.activeEvent.sales"
                     class="event_right-side_table">

                    <table ng-if="EventsDetailCtrl.activeEvent.sales.length > 0">
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>Markup</th>
                            <th>Highest bids</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sale in EventsDetailCtrl.activeEvent.sales">
                            <td>
                                <!--<img src="/images/desk/players_img/profile_img_1.png" alt="" style="vertical-align: middle">-->
                                <div class="event_detail_table_avatar" style="background: url({%sale.creator.avatar%})"></div>
                                <span style="vertical-align: middle">{% sale.creator.name %}</span>
                            </td>
                            <td class="bold">{% sale.markup %}</td>
                            <td class="event_right-side_table_bids-list">
                                <div ng-repeat="bid in sale.bids.highest"
                                     ng-click="EventsDetailCtrl.toggleSidenav(sale,bid)"
                                     style="cursor:pointer">
                                    <span>{% bid.markup %}</span>
                                    <span>{% bid.amount|currency:'$':0 %}</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <stub ng-if="EventsDetailCtrl.activeEvent.sales.length === 0"
                          title="No sales yet"
                          description="Be the first who will create sale in this event and rise money"
                          image="/images/desk/empty_user/empty_user_sale.png"
                          class="stub"
                          style="position: absolute;top: 0;width: auto;">
                        <div class="main_content__empty_container__buttons" ng-if="EventsDetailCtrl.user != null">
                            <div class="main_content__empty_container__button main_content__empty_container__button__blue"
                                 ng-click="EventsDetailCtrl.toggleSaleSidenav()"
                                 role="button"
                                 tabindex="0">
                                Create a Sale
                            </div>
                        </div>
                        <div class="main_content__empty_container__buttons" ng-if="EventsDetailCtrl.user == null">
                            <div class="main_content__empty_container__button main_content__empty_container__button__blue"
                                 ng-click="MainCtrl.toggleSidenavLogin()">Log In</div>
                            <div class="main_content__empty_container__button"
                                 ng-click="MainCtrl.toggleSidenavRegistration('register')">Register</div>
                        </div>
                    </stub>

            </div>
        </div>


                </div>
            </div>
        </div>
    </div>
</div>
<bid-place sale="EventsDetailCtrl.sale" bid="EventsDetailCtrl.bid"></bid-place>
<sale-create sales="EventsDetailCtrl.activeEvent.sales" type="'list'"></sale-create>
