<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_content-wr">
            <div class="event_content__title">
                All Events
            </div>
            <div class="event_filters__wrapper">
                <div class="event_filters">
                    <div class="event_filters__item">
                        <md-select
                            class="event_filters__item_select md-no-underline"
                            data-md-container-class="event_filter_select"
                            ng-model="EventsCtrl.activeFilter['date']"
                            placeholder="{%EventsCtrl.filters.date.placeholder%}">
                            <md-option
                                ng-repeat="(value, name) in EventsCtrl.filters.date.options"
                                ng-value="value">
                                {%name%}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="event_filters__item">
                        <md-select
                            class="event_filters__item_select md-no-underline"
                            md-selected-text="EventsCtrl.filters.event.placeholder"
                            data-md-container-class="event_filter_select_multiple"
                            ng-model="EventsCtrl.activeFilter['event']"
                            placeholder="{%EventsCtrl.filters.event.placeholder%}"
                            multiple>
                            <md-select-header class="event_filter_select-header">
                                <input ng-model="EventsCtrl.filters.event.search"
                                       type="search"
                                       placeholder="Search events"
                                       class="event_filter_select-searchbox md-text">
                            </md-select-header>
                            <md-option
                                ng-repeat="(value, name) in EventsCtrl.filters.event.options | optionFilter:EventsCtrl.filters.event.search"
                                ng-value="value">
                                {%name%}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="event_filters__item">
                        <md-select
                            class="event_filters__item_select md-no-underline form-Select-theme"
                            md-selected-text="EventsCtrl.filters.country.placeholder"
                            data-md-container-class="event_filter_select_multiple"
                            ng-model="EventsCtrl.activeFilter['country']"
                            placeholder="{%EventsCtrl.filters.country.placeholder%}"
                            multiple>
                            <md-select-header class="event_filter_select-header">
                                <input ng-model="EventsCtrl.filters.country.search"
                                       type="search"
                                       placeholder="Search regions"
                                       class="event_filter_select-searchbox md-text">
                            </md-select-header>
                            <md-option
                                ng-repeat="(value, name) in EventsCtrl.filters.country.options | optionFilter:EventsCtrl.filters.country.search"
                                ng-value="value">
                                {%name%}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="event_filters__item">
                        <md-select
                            class="event_filters__item_select md-no-underline"
                            data-md-container-class="event_filter_select"
                            ng-model="EventsCtrl.activeFilter['venue']"
                            placeholder="{%EventsCtrl.filters.venue.placeholder%}">
                            <md-option
                                ng-repeat="(value, name) in EventsCtrl.filters.venue.options"
                                ng-value="value">
                                {%name%}
                            </md-option>
                        </md-select>
                    </div>
                    <div ng-if="EventsCtrl.isSetActiveFilters()"
                         ng-click="EventsCtrl.disableFilter()"
                         class="event_filters__close_all">
                        <span>&times;</span>
                    </div>
                </div>
                <div class="event_filters__active">
                    <div ng-if="EventsCtrl.activeFilter['event'].length"
                        class="event_filters__active_wrapper">
                        <div class="event_filters__active_title">
                            Events
                        </div>

                        <div ng-repeat="(index, activeFilter) in EventsCtrl.activeFilter['event']"
                             ng-click="EventsCtrl.disableFilter('event', index)"
                             class="event_filters__active_item">
                            <span class="event_filters__active_item__title">
                                {% EventsCtrl.filters.event.options[activeFilter] %}
                            </span>
                            <span class="event_filters__active_item__close">&times;</span>
                        </div>
                    </div>
                    <div ng-if="EventsCtrl.activeFilter['country'].length"
                         class="event_filters__active_wrapper">
                        <div class="event_filters__active_title">
                            Regions
                        </div>

                        <div ng-repeat="(index, activeFilter) in EventsCtrl.activeFilter['country']"
                             ng-click="EventsCtrl.disableFilter('country', index)"
                             class="event_filters__active_item">
                            <span class="event_filters__active_item__title">
                                {% EventsCtrl.filters.country.options[activeFilter] %}
                            </span>
                            <span class="event_filters__active_item__close">&times;</span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="EventsCtrl.events" class="events_item-wr">
                <a ng-repeat="event in EventsCtrl.events"
                    ui-sref="invest-events-detail({id:event.id})" class="event_item">
                    <div class="event_item__pic" style="background-image: url({%event.image%})">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name" ng-bind="event.title"></div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date" ng-bind="event.period"></div>

                            <div class="event_info_gtd">{% event.fund | currency:'£':0 %} GTD</div>
                        </div>

                    </div>

                </a>
            </div>

        </div>
    </div>
</div>
