<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_content-wr">
            <div class="event_content__title">
                All Events
            </div>
            <div class="event_filters__wrapper">
                <div class="event_filters">
                    <div ng-repeat="filter in EventsCtrl.filters"
                         class="event_filters__item">
                        <md-select class="md-no-underline"
                                   ng-model="EventsCtrl.activeFilter[filter.name]"
                                   placeholder="{%filter.placeholder%}">
                            <md-option ng-repeat="(value, name) in filter.options"
                                       value="{%value%}">
                                {%name%}
                            </md-option>
                        </md-select>
                    </div>
                </div>

                <div class="event-filter_selected-filters">

                </div>

            </div>

            <div ng-if="EventsCtrl.events" class="events_item-wr" ng-cloak>
                <a ng-repeat="event in EventsCtrl.events"
                   ui-sref="invest-events-detail({id:event.id})" class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_{%event.id%}.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name" ng-bind="event.title"></div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date" ng-bind="event.period"></div>

                            <div class="event_info_gtd">{% event.fund | currency:'£':0 %} GTD</div>
                        </div>

                    </div>

                </a>
            </div>
        </div>
    </div>
</div>