<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="event_content-wr">
            <div class="event_content__title">
                All Events
            </div>
            <div class="event_content_filter-wr filter-wr">
                <div class="filter_item event_content_filter__">
                    <select name="" id="">
                        <option value="">Filter value</option>
                        <option value="">Filter value</option>
                        <option value="">Filter value</option>
                        <option value="">Filter value</option>
                        <option value="">Filter value</option>
                    </select>
                </div>


                <div class="filter_item event_content_filter__"><select name="" id="">
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                </select></div>
                <div class="filter_item event_content_filter__"><select name="" id="">
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                </select></div>
                <div class="filter_item event_content_filter__"><select name="" id="">
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                    <option value="">Filter value</option>
                </select></div>
            </div>

            <div class="events_item-wr">
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_1.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_2.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_3.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_4.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_5.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_6.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_1.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_2.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_3.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_4.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_5.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
                <div class="event_item">
                    <div class="event_item__pic">
                        <img src="/images/desk/event_pic_6.png" alt="event">
                    </div>
                    <div class="event_info">
                        <div class="event_info_name">WSOP International Circuit - Rotterdam</div>
                        <div class="event_info_date-gtd">
                            <div class="event_info_date">Jul 20 – Aug 10</div>

                            <div class="event_info_gtd">£1,000,000 GTD</div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>