<div class="deskwr">
    <div ng-include="'tpl/view/footer.template.html'"></div>
    <div class="main_content">
        <div class="event_details-wr">
        <div class="event_details">
            <div class="back_to">
                <div class="back_btn"></div>
                Back to Events
            </div>
            <div class="event_img"><img src="/images/desk/event_pic_1.png" alt=""></div>
            <div class="event_title">WSOP International Circuit - Rotterdam</div>
            <div class="event_date">Jul 20 – Aug 10</div>
            <div class="event_gtd">£1,000,000 GTD</div>
            <a class="event_see_info">£1,000,000 GTD</a>
            <div class="event_list_title">EVENTS LIST</div>

        </div>
        <div class="main_event_list-wr">
            <div class="main_event_list">
                <div class="main_event_list_title">Main event</div>
                <div class="main_event_list_status">
                    <div class="main_event_gdt">
                        <div>£1,000,000</div>
                        <div>£5,000,000 GTD</div>
                    </div>
                    <div class="main_event_date">Jul 20 – Aug 10</div>
                </div>
                <table class="main_event_table table_events_list">
                    <thead class="table_events_head">
                    <td>FROM</td>
                    <td>Markup</td>
                    <td>share</td>
                    <td>Time</td>
                    </thead>
                    <tbody class="table_events_body">
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    <tr>
                        <td class="t_from t_from_event">
                            <div class="t_from_img"><img src="/images/desk/players_img/profile_img_1.png"
                                                         alt="profile photo">
                            </div>
                            <span>Austin Vargas</span></td>
                        <td class="t_markup">1.22</td>
                        <td class="t_share">20%</td>
                        <td class="t_time">< 24 hours</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        </div>
        </div>

</div>
