<md-sidenav class="md-sidenav-right full_height" style="min-width: 500px" md-is-open="isSidenavOpen" md-component-id="right_profile">
    <md-content>
        <div class="modal_content">
            <div class="your_profile__title">
                Your Profile
                <div class="your_profile_close"></div>
            </div>
            <div class="your_profile_info">
                <div class="your_profile__pic" style="background-image: url({%$ctrl.user.avatar%})"></div>

                <div class="your_profile__name">
                    <!--James. Co-->
                    <span ng-bind="$ctrl.user.name"></span>
                    <input type="file" hidden id="profile_photo" name="profile_photo">
                    <!--<div class="change_photo" ng-click="$ctrl.addPhoto()">Replace photo</div>-->
                    <div class="change_photo"
                            ngf-select
                            ng-model="$ctrl.uploadedAvatar"
                            ngf-change="$ctrl.uploadAvatar()"
                            ngf-multiple="false"
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'"
                            ngf-keep="false"
                            ngf-allow-dir="true"
                            >
                        Replace photo
                    </div>
                </div>
            </div>
            <div class="link_party_pk">
                <div class="link_party_inf">Get a fast access to your bids and money, log in with Party poker account </div>
                <a href="https://releaseb-ciwic.ivycomptech.co.in/en_US/VC/login-staking.html?redirect_URI=https://mppl-staking2-dev.herokuapp.com/">
                    <div class="link_party_btn">Link Party Poker account</div>
                </a>
                
            </div>
            <div class="your_profile_nav">
                <ul class="pr_nav_list">
                    <li class="pr_nav_item pr_setting"><a href="#">Settings</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_notification"><a href="#">Notification</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_privacy"><a href="#">Privacy and security</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_acc_inf"><a href="#">Account info</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_support"><a href="#">Support</a><div class="pr_show_more"></div></li>
                    <li class="pr_nav_item pr_tell"><a href="#">Tell a friends</a><div class="pr_show_more"></div></li>
                </ul>
            </div>
        </div>
    </md-content>
</md-sidenav>
