<div class="row">
    <div class="sale col-md-12">
        <div class="sale__title">
            Create new sale
            <a ui-sref="sale">
                <div class="goback goback_sale"></div>
            </a>
        </div>
        <div class="events_and_by">
            <div class="events_and_by__title">
                Event and buy-in
            </div>

            <label>Event</label>

            <select ng-if="SaleFrmCtrl._opts.load === false">
                <option ng-bind="'Choose an event'"></option>
            </select>

            <select ng-model="SaleFrmCtrl.event" ng-if="SaleFrmCtrl._opts.load === true">
                <option ng-repeat="item in SaleFrmCtrl.events"
                        ng-bind="item.title"
                        ng-value="{%item%}"></option>
            </select>

            <label>Flight</label>

            <select name="flight" ng-if="SaleFrmCtrl.event === null">
                <option selected>Choose an flight
                </option>
            </select>

            <select name="flight"
                    ng-if="SaleFrmCtrl.event != null"
                    ng-model="SaleFrmCtrl.subevent"
                    ng-change="SaleFrmCtrl.fillSale()">
                <option ng-repeat="item in SaleFrmCtrl.event.subevents"
                        ng-bind="item.title"
                        ng-value="{%item%}"
                ></option>
            </select>

            <label>Buy-in</label>
            <input type="text" ng-model="SaleFrmCtrl.sale.buy_in" placeholder="Will be display after selection of flight">
            <div class="offer">
                <div class="offer__title">Offer</div>
                <div class="offer-wr">
                    <div>
                        <label>Share</label>
                        <input ng-model="SaleFrmCtrl.sale.share" type="number" placeholder="0">
                    </div>
                    <div>
                        <label>Markup</label>
                        <input ng-model="SaleFrmCtrl.sale.markup" type="number" placeholder="1.0">
                    </div>
                    <div>
                        <label>Amount $</label>
                        <input ng-model="SaleFrmCtrl.sale.amount" type="number" placeholder="0">
                    </div>
                </div>


                <div class="creact_sale" ng-click="SaleFrmCtrl.createSale()">
                    Create a Sale
                </div>

            </div>

        </div>
    </div>
</div>
