<div class="sale_card__list"
     ng-class="{'sale_card__list-last_child': $ctrl.sales.length == key+1}"
     ng-click="$ctrl.togglePlace(key)"
     ng-repeat=" (key, item) in $ctrl.sales">

    <div class="sale_card__list_profile">
        <div class="sale_card__list_profile__photo">
            <img src="/images/players.png" alt="{% item.creator.name%}">
        </div>
        <div class="sale_card__list_profile__text">
            <div class="sale_card__list_profile__name" ng-bind="item.creator.name"></div>
            <div class="sale_card__list_profile__event" ng-bind="item.event.title"></div>
        </div>
    </div>

    <div class="card__subevent" ng-bind="item.subevent.title" ng-if="$ctrl.subevent"></div>

    <div class="sale_card__list_attribute">
        <div class="sale_card__list_attribute__item">
            <span>Markup</span>
            <span class="sale_card__list_attribute__item_value" ng-bind="item.markup"></span>
        </div>
        <div class="sale_card__list_attribute__item">
            <span>Value</span>
            <span class="sale_card__list_attribute__item_value" ng-bind="item.amount | currency:'$':0"></span>
        </div>
        <div class="sale_card__list_attribute__item">
            <span>Date of Start</span>
            <span class="sale_card__list_attribute__item_value"ng-bind="item.event.date_start"></span>
        </div>
    </div>
</div>

<bid-place sale="$ctrl.sale"></bid-place>
