<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Matched Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'matched'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Unmatched Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'unmatched'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Settled Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'settled'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Canceled Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'canceled'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
