<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="bids_content_wr bids_content_{% BidsCtrl.bidsActive %}">
            <div class="bids_nav">
                <ul class="bids_nav_list">
                    <li ng-repeat="(index, type) in BidsCtrl.bidsTypes"
                        class="bids_nav_item">
                        <a ui-sref="bids-list({type:type})"
                           ui-sref-active="active"
                           ng-bind="type | ucFirst"></a>
                    </li>
                </ul>
            </div>
            <table class="bids_table">
                <thead class="bids_table_head">
                <tr>
                    <th>From</th>
                    <th>Event</th>
                    <th>Buy in</th>
                    <th>GTE</th>
                    <th>Markup</th>
                    <th>Value</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody class="bids_table_body">

                <tr ng-repeat="(index, bid) in BidsCtrl.bids">
                    <td class="t_from">
                        <div class="t_from_img" ng-style="{'background-image':bid.investor.avatar ? 'url('+bid.investor.avatar+')':'url(/images/avatar_placeholder.png)'}">

                        </div>
                        <span ng-bind="bid.investor.name"></span>
                    </td>
                    <td class="t_event" ng-bind="bid.sale.subevent.event.title"></td>
                    <td class="t_buy_in" ng-bind="bid.sale.subevent.event.buy_in | currency:'£':2"></td>
                    <td class="t_gte" ng-bind="bid.sale.subevent.event.fund | currency:'£':2"></td>
                    <td class="t_markup" ng-bind="bid.markup"></td>
                    <td class="t_value" ng-bind="bid.amount | currency:'$':2"></td>
                    <td class="t_close">
                        <ng-pluralize count="index +2"
                                      when="{'0': 'Now','1': '1 day','other': '{} days'}">
                        </ng-pluralize>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
