<div class="deskwr">
    <main-menu></main-menu>
    <div class="main_content">
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Matched Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'matched'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__green">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_4.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Unmatched Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'unmatched'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__red">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_2.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Settled Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'settled'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__blue">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/pl_5.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bids_container">
            <div class="bids_title">
                <div class="bids_title__text">Canceled Bids</div>
                <a class="bids_title__link" ui-sref="bids-list({type:'canceled'})">See all</a>
            </div>
            <div class="bids_row">
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
                <div class="bids_card bids_card__grey">
                    <div class="bids_card__title">
                        <div class="bids_card__title_img">
                            <img src="/images/players.png" alt=""/>
                        </div>
                        <div class="bids_card__title_text">
                            <span>Louise Romero</span>
                            <span>MILLIONS Russia, 1A</span>
                        </div>
                    </div>
                    <div class="bids_card__price">
                        <span>£1,000</span>
                        <div class="bids_card__price_dot"></div>
                        <span>£500,000 GTE</span>
                    </div>
                    <div class="bids_card__options">
                        <div class="bids_card__options_column">
                            <span>Markup</span>
                            <span>1.20</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Value</span>
                            <span>£2,404.08</span>
                        </div>
                        <div class="bids_card__options_column">
                            <span>Start time</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_wrapper">
        <div class="modal_content_wrapper">
            <div class="modal_content">
                <div class="modal_content__title">
                    <div>Place a bid</div>
                    <div class="close"></div>
                </div>
                <div class="modal_content__bid">
                    <div class="profile_status">
                        <div>
                            <div class="profile_status__photo"><img src="/images/desk/players_img/profile_img_8.png" alt="photo"></div>
                            <div>
                                <div class="profile_status__name">Louise Romero</div>
                                <div class="profile_status__event">MILLIONS Russia, 1A</div>
                            </div>
                            <div class="profile_status__gte_and_by">
                                <div class="profile_status__buyin">£1,000</div>
                                <div class="profile_status__gte">£500,000 GTE</div>
                            </div>
                        </div>
                        <div class="profile_status__attributs d-flex">
                            <div class="profile_status__markup"><span>Markup</span><br>1.20</div>
                            <div class="profile_status__share"><span>Share</span><br>30%</div>
                            <div class="profile_status__value"><span>Value</span><br>1.20</div>
                        </div>
                    </div>
                    <div class="bids_group bids_group__highest_color">
                        <span class="bids_group__title">HIGHEST BIDS</span>
                        <div class="bids_group__row">
                            <input type="text" placeholder="1.20">
                            <input type="text" placeholder="1.53%">
                            <input type="text" placeholder="$1,182.22">
                        </div>
                        <div class="bids_group__row">
                            <input type="text" placeholder="1.09">
                            <input type="text" placeholder="0.38%">
                            <input type="text" placeholder="$443">
                        </div>
                    </div>
                    <div class="bids_group bids_group__matched_color">
                        <span class="bids_group__title">MATCHED BID</span>
                        <div class="bids_group__row">
                            <input type="text" placeholder="1.20">
                            <input type="text" placeholder="1.53%">
                            <input type="text" placeholder="$1,182.22">
                        </div>
                    </div>
                    <div class="bids_group edit_status">
                        <span class="bids_group__title">MATCHED BID</span>
                        <div class="bids_group__row">
                            <input type="text" placeholder="1.20">
                            <input type="text" placeholder="1.53%">
                            <input type="text" placeholder="$1,182.22">
                        </div>
                        <div class="revocation_bid"></div>
                        <div class="conf_bid"></div>
                        <div class="del_bid"></div>
                    </div>
                    <div class="you_bids">
                        <span class="bids_group__title">YOUR BID</span>
                        <div class="you_bids__wrapper">
                            <div class="you_bids__item">
                                <label >Share</label>
                                <input type="text" placeholder="1.20">
                            </div>
                            <div class="you_bids__item">
                                <label >Share</label>
                                <input type="text" placeholder="1.53%">
                            </div>
                            <div class="you_bids__item">
                                <label>Share</label>
                                <input type="text" placeholder="$1,182.22">
                            </div>
                            <div class="add_new"></div>
                            <div class="you_bids__place_bid">Place a bid</div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

















